.content-wrapper .ad-slideshow-wrapper{
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	padding:10px 0;
	margin-top:15px;
	overflow:auto;
}

.content-wrapper .ad-slideshow-wrapper .page-stats{
	    line-height: 20px;
    background: url("../images/common/register_item/map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-top: 10px;
	min-height:200px;
}
.content-wrapper .ad-slideshow-wrapper .page-stats .car{
	margin-top:20px;
	float:right;
}
.content-wrapper .ad-slideshow-wrapper .page-stats td {
    padding-bottom: 2px;
    padding-top: 2px;
}
.content-wrapper .ad-slideshow-wrapper .page-stat-wrapper{
	
    float: left;
    margin-left: 30px;
    min-height: 220px;
    width: 360px;
	
	
}
.content-wrapper .ad-slideshow-wrapper .page-stat-title{
	font-size:15px;
	color:#282F7D;
	padding-bottom:5px;
	font-weight:bold;
	} 
.content-wrapper .ad-slideshow-wrapper .slideshow-banner{
	float:left;
	width:310px;
	 padding: 20px 20px 30px;
	font-size:14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #1376d9; /* Old browsers */
	color:white;
	background: #2b69a7; /* Old browsers */
background: -moz-linear-gradient(top,  #2b69a7 0%, #2975c1 41%, #75aee7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b69a7), color-stop(41%,#2975c1), color-stop(100%,#75aee7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2b69a7 0%,#2975c1 41%,#75aee7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2b69a7 0%,#2975c1 41%,#75aee7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2b69a7 0%,#2975c1 41%,#75aee7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2b69a7 0%,#2975c1 41%,#75aee7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b69a7', endColorstr='#75aee7',GradientType=0 ); /* IE6-9 */


}
.content-wrapper .ad-slideshow-wrapper .slideshow-banner p{
	line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
	}
.content-wrapper .ad-slideshow-wrapper .slideshow-banner .big-text{
	font-size:21px;
}
.content-wrapper .register-detail-wrapper{
	margin-top:20px;
	}
.content-wrapper .register-detail td{
	font-size:12px;
	vertical-align:top;
	}
.content-wrapper .register-item-wrapper{
	margin-top:25px;
	overflow:auto;
}
.content-wrapper .register-item{
	float: left;
    margin-right: 20px;
    width: 125px;
	}
.content-wrapper .register-item:last-child {
    margin-right: 0;
}
.content-wrapper .register-item .item-title{
	
	text-align:center;
	color:white;
	padding:5px;
	font-size:12px;
	background: #55aaff; /* Old browsers */
	background: #1061b2; /* Old browsers */
	background: -moz-linear-gradient(left,  #1061b2 0%, #0a6ed2 41%, #55aaff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1061b2), color-stop(41%,#0a6ed2), color-stop(100%,#55aaff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1061b2 0%,#0a6ed2 41%,#55aaff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1061b2 0%,#0a6ed2 41%,#55aaff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1061b2 0%,#0a6ed2 41%,#55aaff 100%); /* IE10+ */
	background: linear-gradient(to right,  #1061b2 0%,#0a6ed2 41%,#55aaff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1061b2', endColorstr='#55aaff',GradientType=1 ); /* IE6-9 */

}