
.content-wrapper .add-service{
	border-collapse:collapse;
	width:100%;
	}
.content-wrapper .add-service-title{
	    color: #0064B3;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}
.content-wrapper .add-service .btn-usd-month{
	background-color: #F4F4F4;
    border:1px solid #CCCCCC;
    width: 100%;
	
}
.content-wrapper .add-service .btn-usd-month a{
	color: #C1272D;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.content-wrapper .add-service td{
	width:50%;
	border: 1px solid #CCCCCC;
    line-height: 25px;
    padding: 15px;
    vertical-align: top;
	}
	
.content-wrapper .add-service tr:first-child td{
    background-color: #0064B3;
    color: #FFFFFF;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.content-wrapper .membership-detail{
	padding-top:25px;
	padding-bottom:30px;
}
.content-wrapper .membership-detail p{
	line-height:25px;
	
}
.content-wrapper .member-type{
	width:100%;
	border-collapse:collapse;
	}
.content-wrapper .member-type .btn-register{
	
    font-size: 14px;
    padding: 7px 30px;
	 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #fa5210; /* Old browsers */
	background: -moz-linear-gradient(top,  #fa5210 0%, #f8b274 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa5210), color-stop(100%,#f8b274)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fa5210 0%,#f8b274 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fa5210 0%,#f8b274 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fa5210 0%,#f8b274 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fa5210 0%,#f8b274 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5210', endColorstr='#f8b274',GradientType=0 ); /* IE6-9 */



}
.content-wrapper .member-type .odd{
	
	}
.content-wrapper .member-type .even{
	background-color:#F4F4F4;
	}
.content-wrapper .member-type td{
	width:33%;
	border: 1px solid #CCCCCC;
    line-height: 25px;
    padding: 10px;
    vertical-align: top;
	}

.content-wrapper .member-type tr:first-child td{
	text-align:center;
	}
.content-wrapper .member-type tr:last-child td{
	text-align:center;
	padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
	}
.content-wrapper .member-type-name{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
	margin-top:5px;
}
.content-wrapper .member-type-price{
	color: #FF4E00;
    font-size: 48px;
    text-align: center;
	margin-top:15px;
	margin-bottom:10px;
	}
.content-wrapper .upgrade-note {
    margin-top: 20px;
	background:url("images/list-style-x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding-left:20px;
}
	