

a{
	text-decoration:none;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
div.label{
	float: left;
    padding-top: 3px;
	}
a.back-to-top{
	position:absolute;
	bottom:20px;
	right:0;
	font-size:12px;
	text-decoration:underline;
	}
.btnMore{
	    float: right;
    margin-right: -10px;
	}
.button{
	color:white;
	border:none;
	padding:6px 20px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0070e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0070e0 0%, #0866c4 44%, #0e5aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070e0), color-stop(44%,#0866c4), color-stop(100%,#0e5aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070e0', endColorstr='#0e5aa6',GradientType=0 ); /* IE6-9 */

}
.btn-ads-now{
	float: left;
    margin-top: 30px;
	cursor:pointer;
	display: none;
}

.container{
	min-height:300px;
	overflow:auto;
	width:100%;
	position:relative;
	margin:auto;
}
.content-wrapper{
	margin-top:10%;
	overflow:auto;
	width: 100%;
	height: auto;
}
.brick{
	margin-right:10px;
	}
.content-wrapper .page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:10px 0;
	color:#282F7D;
	font-size:16px;
	
}
.inquiry-button{
	padding:10px 20px;
	min-width:30px;
	border:none;
	color:white;
	width:50%;
	margin-left: 8%;
	cursor:pointer;
	font-size:14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0772c3; /* Old browsers */
background: -moz-linear-gradient(top,  #0772c3 0%, #5eaed6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0772c3), color-stop(100%,#5eaed6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0772c3 0%,#5eaed6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0772c3 0%,#5eaed6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0772c3', endColorstr='#5eaed6',GradientType=0 ); /* IE6-9 */

	}
.left-sidebar-wrapper{
	width:230px;
	float:left;
	
}
.left-sidebar-wrapper #com-title{
	color:#000088;
	font-size:14px;
	padding-bottom:15px;
	}
.left-sidebar-wrapper .left-info-wrapper {
	margin-top:25px;
	}
.left-sidebar-wrapper .left-info-wrapper a{
	color:#000088;
	}
.left-sidebar-wrapper .left-info-wrapper table{
	padding:10px;
}
.left-sidebar-wrapper .left-info-wrapper td{
	vertical-align:top;
	font-size:12px;
	    line-height: 20px;
	}	
.left-sidebar-wrapper .info-title{
	   background-color: #0064B3;
    color: #FFFFFF;
    font-size: 16px;
    overflow: auto;
    padding: 5px 10px;
    vertical-align: middle;
	
}
.left-sidebar-wrapper .info-title a{
	color:#0064B3;
}
.left-sidebar-wrapper .nav-wrapper{
	color:#1F2678;
	font-size:12px;
	width:100%;
	padding-top:20px;
	padding-bottom:25px;
}
.left-sidebar-wrapper .nav-wrapper a{
	color:#1F2678;
	}
.left-sidebar-wrapper .left-menu-wrapper .left-menu{
	font-size: 14px;
    margin: 0;
    padding: 0;
	}
.left-sidebar-wrapper .left-menu a{
	color:black;
	}
	
.left-sidebar-wrapper .left-menu-wrapper .left-menu li{
	display:block;
	padding:13px 10px;
    border-top: 1px dotted #CCCCCC;
}
.left-sidebar-wrapper .left-menu-wrapper .left-menu li:last-child{
	border-bottom: 1px dotted #CCCCCC;
}
.left-sidebar-wrapper .left-menu-wrapper .left-menu li:before{
    content:'';
    padding: 0 0 0 20px;
    background:url(images/liststyle.png) no-repeat 0 3px;
}
/************************************ END OF LEFT SIDE BAR *********************************************/
.content-wrapper select{
	color:grey;
}
.content-wrapper option:first-child{
	display:none;
}
.content-wrapper option{
	color:black;
}
.content-wrapper .attach-detail li {
    padding-bottom: 5px;
    padding-top: 5px;
}
.content-wrapper table.fillin-table{
	width: 100%;
	font-size: 11px;
}
.content-wrapper table.fillin-table td.left{
	width: 30%;
}
.content-wrapper table.fillin-table td.left2{
	width: 25%;
	padding-right: 2%;
}
.content-wrapper table.fillin-table td img{
	max-width: 100%;
	height: auto;
}
.content-wrapper .attach-wrapper {
    margin-bottom: 15px;
    margin-top: 10px;
}

.content-wrapper .attach-wrapper a{
	background:url("images/attach.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding-left:25px;
	padding-bottom:5px;
	text-decoration:underline;
	color:blue;
}

.content-wrapper #btn-inquiry-submit{
	margin-right:10px;
	} 
.content-wrapper #btn-inquiry-cancel{
	margin-left:10px;
}
.content-wrapper .button-row td{
	padding-top:35px;
	}
.content-wrapper .contact-info textarea{
	min-height:260px;
	resize:vertical;
	}
.content-wrapper .high-row td{
	padding-top: 13px;
    vertical-align: top;
	}
.content-wrapper .inquiry-input {
    float: left;
    width: 50%;
}
.content-wrapper .inquiry-input:first-child {
    padding-right:10px;
}
.content-wrapper .inquiry-input:last-child {
    padding-left:10px;
}

.content-wrapper .inquiry-input-wrapper{
	width:435px;
	}
	
.content-wrapper .radio-row td{
    padding-bottom: 1px;
    padding-top: 1px;
}
.content-wrapper .grid-3-column-row td {
   	
    padding-top: 13px;
}
.content-wrapper .grid-3-column-row td:first-child {
    vertical-align:top;
}
.content-wrapper .grid-3-column {
    float: left;
    width: 50%;
	
	padding-bottom:15px;
}
.content-wrapper .ex-order-qty{
	margin-top:3px;
	}
.content-wrapper .fillin-table, .content-wrapper .contact-info{
		border-collapse: collapse;
	}

.content-wrapper .fillin-table .inquiry-input select, .content-wrapper .contact-info .inquiry-input select{
    width: 100%;
}

.content-wrapper .contact-info td:first-child, .fillin-table td:first-child {
    width: 160px;
}
.content-wrapper .fillin-title{
	width:100%}
.content-wrapper .fillin-table{
  width:100%;
	}
	
.content-wrapper .fillin-table input, .content-wrapper .contact-info input{
    margin-right: 1%;
	vertical-align: middle;
}
.content-wrapper .fillin-table select, .content-wrapper .contact-info select, .content-wrapper .fillin-table input[type="text"],  .content-wrapper .fillin-table input[type="password"], .content-wrapper .fillin-table textarea{
    font-size: 12px;
	margin-top:5px;
	margin-bottom:5px;
    padding: 7px;
    padding-right: 0px;
   	margin-right:0;
	width:100%;

	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}


.content-wrapper .fillin-table td, .content-wrapper .contact-info td{
    height: 35px;
	
}

.content-wrapper .fillin-table tr:first-child td, .content-wrapper .contact-info tr:first-child td{
	border-top: 1px dotted #CCCCCC;
}

.content-wrapper .fillin-table label,  .content-wrapper .contact-info label{
    
}
.content-wrapper .fillin-title,.content-wrapper .contact-info-title{
   border-left: 3px solid #0064B3;
    margin-bottom: 5px;
    margin-top: 25px;
	font-size:14px;
    padding-left: 10px;
	width:100%;
	float:left;
	}
.content-wrapper .fillin-table img{
  	max-width:100%;
}

.content-wrapper .fillin-table span, .content-wrapper .contact-info span{
    font-size: 11px;
    vertical-align: middle;
}
.content-wrapper .fillin-table .agreement-row td{
	widows:100%;
	padding-top:5%
	}
.content-wrapper .fillin-table .agreement-row td label{
	width:100%}
.content-wrapper .fillin-table .agreement-row td .form-group{
	width:100%;
	float:none}
.content-wrapper .fillin-table .agreement-row td .form-group .inquiry-button{
	width:100%;
	margin-top:5%;
	margin-left:0%}
.fillin-table .input-note{
	font-size:10px;
	color:grey;
	padding-bottom:8px;
}
.fillin-table td:first-child{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding-top: 13px;
    vertical-align: top;
	}
.profile-intro > td:first-child, .profile-intro > td{
	padding-top:30px;
}
.fillin-table .profile-intro textarea{
	resize:vertical;
	height:155px;
	margin-bottom:15px;
}
.fillin-table .profile-intro .left{
	float:left;
	width:120px;
	padding:5px 10px;
	text-align:right;
	}
	
.fillin-table .profile-intro .right{
	overflow:hidden;
}
.fillin-table .profile-button-wrapper{
	width:47%;
	padding: 10px 0px;	
	float:left;
}
.fillin-table .profile-button-wrapper input{
	width:100%;
	color:white;
	border:none;
	cursor:pointer;
	padding:2px;	
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #3599e0 71%, #70b2e5 93%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(71%,#3599e0), color-stop(93%,#70b2e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#70b2e5',GradientType=1 ); /* IE6-9 */

}
.fillin-table .vehicle-info-table tr:first-child td{
	padding-top:25px;
	}
.fillin-table .white-space-row td{
	height:15px;
	}
	
	
/*
* Custome
*
*/
.alert {
	text-align: center;
}
.error {
	color: #f00;
	display: none;
	width: 100%;
}
#fsecurity {
	color: #f00;
	display: none;
}
#file {
	display: none;
}
#base_relative {
	display: none;
}