a{
	text-decoration:none;
}
div{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
 div.label{
	float: left;
    padding-top: 3px;
	}
 a.back-to-top{
	position:absolute;
	bottom:20px;
	right:0;
	font-size:12px;
	
	}
 .btnMore{
	    float: right;
    margin-right: -10px;
	}
 .button{
	color:white;
	border:none;
	padding:6px 20px;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #0070e0; /* Old browsers *\/
	background: -moz-linear-gradient(top,  #0070e0 0%, #0866c4 44%, #0e5aa6 100%); /* FF3.6+ *\/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0070e0), color-stop(44%,#0866c4), color-stop(100%,#0e5aa6)); /* Chrome,Safari4+ *\/
	background: -webkit-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Chrome10+,Safari5.1+ *\/
	background: -o-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* Opera 11.10+ *\/
	background: -ms-linear-gradient(top,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* IE10+ *\/
	background: linear-gradient(to bottom,  #0070e0 0%,#0866c4 44%,#0e5aa6 100%); /* W3C *\/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070e0', endColorstr='#0e5aa6',GradientType=0 ); /* IE6-9 *\/

}
 .btn-ads-now{
	float: left;
    margin-top: 30px;
	cursor:pointer;
	display: none;
}
 .container{
	height:100%;
	width:960px;
	position:relative;
	margin:auto;
	
}
.border{
	border-radius:5px;
	border:1px solid #CCC;
	}
.content-wrapper{
	width:960px;
	margin:auto;
	padding-top:60px;
}
.brick{
	margin-right:10px;
	}
.buttom-wrapper{
	border-bottom:1px solid #CCC;
	}
.clear{
	clear:both;
	}
.content-wrapper .page-title{
	width:100%;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	padding:10px 0;
	color:#282F7D;
	font-size:16px;
}
.inquiry-button{
	float:right;
	padding:10px 20px;
	min-width:30px;
	border:none;
	color:white;
	width:130px;
	cursor:pointer;
	font-size:14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #3061be; /* Old browsers */
background: -moz-linear-gradient(top,  #3061be 0%, #2a73c0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3061be), color-stop(100%,#166fcd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3061be 0%,#166fcd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3061be 0%,#166fcd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3061be 0%,#166fcd 100%); /* IE10+ */
background: linear-gradient(top, #3061be 0%,#166fcd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3061be', endColorstr='#166fcd',GradientType=0 ); /* IE6-9 */

	}
 .left-sidebar-wrapper{
	width:230px;
	float:left;
	
}
 .left-sidebar-wrapper #com-title{
	color:#000088;
	font-size:14px;
	padding-bottom:15px;
	}
 .left-sidebar-wrapper .left-info-wrapper {
	margin-top:25px;
	}
 .left-sidebar-wrapper .left-info-wrapper a{
	color:#000088;
	}
 .left-sidebar-wrapper .left-info-wrapper table{
	padding:10px;
}
 .left-sidebar-wrapper .left-info-wrapper td{
	vertical-align:top;
	font-size:12px;
	line-height: 20px;
	}	
 .left-sidebar-wrapper .info-title{
	background-color: #0064B3;
    color: #FFFFFF;
    font-size: 16px;
    //overflow: auto;
    padding: 5px 10px;
    vertical-align: middle;
	
}
 .left-sidebar-wrapper .info-title a{
	color:#0064B3;
}
 .left-sidebar-wrapper .nav-wrapper{
	color:#1F2678;
	font-size:12px;
	width:100%;
	padding-top:20px;
	padding-bottom:25px;
}
 .left-sidebar-wrapper .nav-wrapper a{
	color:#1F2678;
	}
 .left-sidebar-wrapper .left-menu-wrapper .left-menu{
	font-size: 14px;
    margin: 0;
    padding: 0;
	}
 .left-sidebar-wrapper .left-menu a{
	color:black;
	}
 .left-sidebar-wrapper .left-menu-wrapper .left-menu li{
	display:block;
	padding:13px 10px;
}
 .left-sidebar-wrapper .left-menu-wrapper .left-menu li:before{
    content:'';
    padding: 0 0 0 20px;
    background:url(images/liststyle.png) no-repeat 0 3px;
}
 ********************************** END OF LEFT SIDE BAR ******************************************* .content-wrapper select{
	color:grey;
}
.content-wrapper option:first-child{
	display:none;
}
.content-wrapper option{
	color:black;
}
 .content-wrapper .attach-detail li {
    padding-bottom: 5px;
    padding-top: 5px;
}
 .content-wrapper .attach-wrapper {
    margin-bottom: 15px;
    margin-top: 10px;
}
 .content-wrapper .attach-wrapper a{
	background:url("images/attach.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding-left:25px;
	padding-bottom:5px;
	
	color:blue;
}
 .content-wrapper #btn-inquiry-submit{
	margin-right:10px;
	} 
 .content-wrapper #btn-inquiry-cancel{
	margin-left:10px;
}
 .content-wrapper .button-row td{
	padding-top:35px;
	}
 .content-wrapper .contact-info textarea{
	min-height:260px;
	resize:vertical;
	}
 .content-wrapper .high-row td{
	padding-top: 13px;
    vertical-align: top;
	}
 .content-wrapper .inquiry-input {
    float: left;
    width: 50%;
}
 .content-wrapper .inquiry-input:first-child {
    padding-right:10px;
}
 .content-wrapper .inquiry-input:last-child {
    padding-left:10px;
}
 .content-wrapper .inquiry-input-wrapper{
	width:435px;
	}
 .content-wrapper .radio-row td{
    padding-bottom: 1px;
    padding-top: 1px;
}
 .content-wrapper .grid-3-column-row td {
   	
    padding-top: 13px;
}
 .content-wrapper .grid-3-column-row td:first-child {
    vertical-align:top;
}
 .content-wrapper .grid-3-column {
    float: left;
    width: 160px;
	
	padding-bottom:15px;
}
 .content-wrapper .ex-order-qty{
	margin-top:3px;
	}
 .content-wrapper .fillin-table , .content-wrapper .contact-info {
		border-collapse: collapse;
	}

 .content-wrapper .fillin-table .inquiry-input select, .content-wrapper .contact-info .inquiry-input select{
    width: 100%;
}
 .content-wrapper .contact-info td:first-child,  .fillin-table td:first-child {
    width: 160px;
}

.content-wrapper .fillin-table{
width:100%;
	}
	
.content-wrapper .fillin-table input , .content-wrapper .contact-info input {
    margin-right: 5px;
	vertical-align: middle;
}
.content-wrapper .fillin-table select,  .content-wrapper .contact-info select,  .content-wrapper .fillin-table input[type="text"],  .fillin-table input[type="email"],  .content-wrapper .fillin-table input[type="password"] , .content-wrapper .fillin-table textarea {
    font-size: 12px;
	margin-top:5px;
	margin-bottom:5px;
    padding: 7px;
   	margin-right:0;
	width:100%;

	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}


.content-wrapper .fillin-table td , .content-wrapper .contact-info td {
    height: 31px;
	
}
.content-wrapper .fillin-table label ,  .content-wrapper .contact-info label {
    margin-right: 15px;
}
.content-wrapper .fillin-title ,.content-wrapper .contact-info-title {
   	border-left: 3px solid #0064B3;
    margin-bottom: 5px;
    margin-top: 25px;
	font-size:14px;
    padding-left: 10px;
	width:452px;
	float:left;
	
	}
 .content-wrapper .fillin-title-right,.content-wrapper .contact-info-title{
   border-left: 3px solid #0064B3;
    margin-bottom: 5px;
	margin-left:28px;
    margin-top: 25px;
	font-size:14px;
    padding-left: 10px;
	width:200px;
	float:left;
	}
 .content-wrapper .fillin-table img{
  	max-width:100%;
}
 #top{
	padding-top:5px;
	}
.content-wrapper .fillin-table span , .content-wrapper .contact-info span {
    font-size: 12px;
    vertical-align: middle;
}
 .fillin-table .input-note{
	font-size:10px;
	color:grey;
	padding-bottom:8px;
}
 .fillin-table td:first-child{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding-top: 13px;
    vertical-align: top;
	}
 .profile-intro > td:first-child, .profile-intro > td{
	padding-top:30px;
}
 .fillin-table .profile-intro textarea{
	resize:vertical;
	height:155px;
	margin-bottom:15px;
}
 .fillin-table .profile-intro .left{
	float:left;
	width:120px;
	padding:5px 10px;
	text-align:right;
	}
 .fillin-table .profile-intro .right{
	overflow:hidden;
}
 .fillin-table .profile-button-wrapper{
	width:50%;
	padding:15px 5px 5px;
	float:left;
}
 .fillin-table .profile-button-wrapper input{
	width:100%;
	color:white;
	border:none;
	cursor:pointer;
	padding:2px;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
 
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #3599e0 71%, #70b2e5 93%); /* FF3.6+ */
 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(71%,#3599e0), color-stop(93%,#70b2e5)); /* Chrome,Safari4+ *\/
background: -webkit-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* IE10+ */
background: linear-gradient(top right,  #1e5799 0%,#3599e0 71%,#70b2e5 93%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#70b2e5',GradientType=1 ); /* IE6-9 */

}
 #buttom{
	padding-bottom:34px;
	
	}
#buttom_right{
	padding-bottom:20px;
	}
.padding_right{
	padding-left:30px;
	border-left:1px solid #CCC;
	}
 .fillin-table .vehicle-info-table tr:first-child td{
	padding-top:25px;
	}
 .fillin-table .white-space-row td{
	height:15px;
	}
 Custome
 .alert {
	text-align: center;
}
 .error {
	color: #f00;
	display: none;
	width: 100%;
}
.border_right{
	//border-right:1px dotted #CCC;
	padding-right:30px;
	height:auto;	
}
#contect,
#information{
	width:480px;
	float:left;
	border-top:1px dotted #CCC;
}
 #fsecurity {
	color: #f00;
	display: none;
}
 #file {
	display: none;
}
 #base_relative {
	display: none;
}
 #my_item{
	width: 100%;
	height: auto;
	margin-top: 40px;	
}
 #my_item ul.myitem{
	list-style: none;
	padding: 0px;
	height: auto;
}
 #my_item ul.myitem li{
	width: 25%;
	height: 100px;
	float: left;
	margin-left: 0px;
}
 #my_item ul{
	list-style: none;
	width: 100%;	
	padding: 20px 0;
}
 #my_item ul li{
	float: left;
	width: 10%;
	height: 80px;
	text-align: center;	
	margin-left: 1%;
	color: #424242;
	position: relative;
}
 #my_item ul.item li img{	
	position: absolute;
	left: 23px;	
	z-index:99;
}
 .phonecode{
	float:right; padding-right:10px;
	}