.content-wrapper select{
	color:grey;
}
.content-wrapper option:first-child{
	/*display:none;*/
}
.content-wrapper option{
	color:black;
}
.content-wrapper .attach-detail li {
    padding-bottom: 5px;
    padding-top: 5px;
}


.content-wrapper .attach-wrapper {
    margin-bottom: 15px;
    margin-top: 10px;
}

.content-wrapper .attach-wrapper a{
	background:url("images/attach.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding-left:25px;
	padding-bottom:5px;
	text-decoration:underline;
	color:blue;
}

.content-wrapper #btn-inquiry-submit{
	margin-right:10px;
	} 
.content-wrapper #btn-inquiry-cancel{
	margin-left:10px;
}
.content-wrapper .button-row td{
	padding-top:35px;
	}
.content-wrapper .buyer-message textarea{
	min-height:260px;
	resize:vertical;
	}
.content-wrapper .high-row td:first-child{
	padding-top: 13px;
    vertical-align: top;
	}
.content-wrapper .inquiry-input {
    float: left;
    width: 50%;
}
.content-wrapper .inquiry-input:first-child {
    padding-right:10px;
}
.content-wrapper .inquiry-input:last-child {
    padding-left:10px;
}

.content-wrapper .inquiry-input-wrapper{
	width:435px;
	}
	
.content-wrapper .radio-row td{
    padding-bottom: 5px;
    padding-top: 5px;
}
.content-wrapper .receive-wanted-row td {
   	
    padding-top: 12px;
}
.content-wrapper .receive-wanted-row td:first-child {
    vertical-align:top;
}
.content-wrapper .receive-wanted-box {
    float: left;
    width: 160px;
	
	padding-bottom:15px;
}
.content-wrapper .vehicle-info, .content-wrapper .buyer-message{
		border-collapse: collapse;
		float:left;
	}

.content-wrapper .vehicle-info .inquiry-input select, .content-wrapper .buyer-message .inquiry-input select{
    width: 100%;
	float:left;
}

.content-wrapper .buyer-message td:first-child, .vehicle-info td:first-child {
    width: 150px;
}
.content-wrapper .vehicle-info{
  width:100%;
	}
	
.content-wrapper .vehicle-info input, .content-wrapper .buyer-message input{
    margin-right: 5px;
	vertical-align: middle;
}
.content-wrapper .vehicle-info select, .content-wrapper .buyer-message select, .content-wrapper .vehicle-info input[type="text"], .content-wrapper .buyer-message textarea{
    font-size: 12px;
	margin-top:5px;
	margin-bottom:5px;
    padding: 7px;
    width: 435px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}


.content-wrapper .vehicle-info td, .content-wrapper .buyer-message td{
    height: 35px;
	
}

.content-wrapper .vehicle-info tr:first-child td, .content-wrapper .buyer-message tr:first-child td{
    padding-top: 15px;
	border-top: 1px dotted #CCCCCC;
}

.content-wrapper .vehicle-info label,  .content-wrapper .buyer-message label{
    margin-right: 15px;
}
.content-wrapper .vehicle-info-title,.content-wrapper .buyer-message-title{
   border-left: 3px solid #0064B3;
    margin-bottom: 5px;
    margin-top: 25px;
	font-size:14px;
    padding-left: 10px;
	width:100%;
	float:left;
	}
.content-wrapper .ex-order-qty{
	margin-top:3px;
	}
.content-wrapper .vehicle-info span, .content-wrapper .buyer-message span{
    font-size: 12px;
    vertical-align: middle;
}

.myerror { 
	color:red;
	 
	 
}

 