/**
 * Theme Name: Auto Cambodia
 * Description: Auto Cambodia is the leading of on line car selling website in Cambodia. It is easy to search for cars, or upload your car to put on sell on line.
 * Version: 1.0.0
 * Author: Soft Bloom
 * Author URI: http://www.softbloom.com/
 * Theme URI: http://www.softbloom.com/themes/autocambodia/
 * ------------------------------------------------------------------------------
 **/
body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #4d4d4d;
	background-color: #f9f9f9;
}
.article,
.section,
.aside,
.hgroup,
.nav,
.header,
.footer,
.figure,
.figcaption {
  display: block;
}
a {
	text-decoration: none;
	color: #4d4d4d;
}
#nav ul li a:hover,
.footer_list a:hover,
a:hover {
	color: #0071ba;
	text-decoration: none;
}
.header h3,
.header a {
	font-weight: 700;
}
.common_dark,
.common_dark h3,
.common_dark a  {
	color: #333;
	font-weight: 700;
}
.common_dark {
	font-weight: 400;
}
.common_blue,
.common_blue h3,
.common_blue a {
	color: #0071ba;
	font-weight: 700;
}
.common_blue {
	font-weight: 400;
}


/*
 *  Header
 * ------------------------------------------------------------------------------
 */
#header {	
	color: #fff;
	position: relative;
	z-index: 999;
}
#header .topHeader{
	background-color: #0071ba;
	min-height:30px;
}


#header p {
	float: left;
	margin:5px 20px 0 0;
}
#header p i {
	margin-right: 5px;
}
#header p font {
	color: #cacaca;
	font-size: 12px;
	margin-right: 5px;
}
#header .flag {
	position: relative;
	font-size: 14px;
}
#header .flag p a {
	color: #fff;
}
#header .flag p a:hover {
	color: #cacaca;
}
#header .flag .member {
	position: absolute;
	right: 150px;
}
#header .flag .member p{
	margin-top:3px;
}
#header .flag .member p:last-child {
	margin-right: 0;
}
.modal {
	z-index: 999;
}
.modal-backdrop {
	z-index: 99
}
.modal {
	color: #333;
}

/* ----------Country flags---------- */
#country-select {
	position: absolute;
	top: 4px;
	right: 0;
	width: 120px;
	font-size: 12px;
	height:20px;
	z-index: 999;
}

/* rought form styles for when JS is disabled */
#country-select form {
	width: 120px;
	padding: 0;
}
#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
}
	
/* JS-created definition list */
.dropdown dd {
	position: relative;
}
.dropdown a {
	text-decoration: none;
	outline: 0;
	display: block;
	width:120px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dropdown dt,
.dropdown dd,
.dropdown dd ul li {
	font-weight: 400;
	line-height: 14px;
}
.dropdown dt a {
	background: #fff;
	/*border: 1px solid #964315;*/
	padding: 3px 5px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dropdown dt a.active {
	background: #fff;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px dotted #676768;
	color: #000;
}
.dropdown dd ul {
	background: #fff;
	border: 1px solid #676768;
	color: #C5C0B0;
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	padding: 2px 0 5px 0;
	list-style: none;
	border-top: none;
	margin: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.dropdown dd ul li a {
	padding: 2px 5px;
	width: 118px;
}
.dropdown dd ul li a span,
.dropdown dt a span {
	float: left;
	width: 24px;
	height: 12px;
	margin: 2px 5px 0 0;
	background-image: url('../img/flags.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.uk a span {
	background-position: 0 0
}
.km a span {
	background-position: -24px 0
}
.dropdown dd ul li a em,
.dropdown dt a em {
	font-style: normal;
	float: left;
	width: 76px;
	cursor: pointer;
}
.dropdown dt a em {
	background: url('../img/dropdown.gif') no-repeat center right;
}
.dropdown dd ul li a em {
	color: #000;
}
.dropdown dd ul li:hover { 
	background-color: #f0f0f0;
}
.dropdown dd ul li:hover em {
	color: #0071ba;
}
/* ----------End country flags---------- */

/*
 *  Global Navigation
 * ------------------------------------------------------------------------------
 */
#header .menuHeader{
	height:80px;
	border-bottom:1px solid #cacaca;
	padding:0px;!important	
}
#header .menuHeader .logo{
	padding:0px 0 0 0;
}
#header .menuHeader .navbar{
	margin-bottom:0px;
	margin-top:22px;
}
#header .menuHeader .navbar .collapse{
	padding:0px;
}
#header .menuHeader .navbar .navHeaderCollapse{
	font-size:16px;!important
	position:relative;
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu{
	margin:-5px 0 0 40px;!important
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu a{
	padding-bottom:23px;
	background:none;!important
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:hover{
	border-bottom:3px solid #0071ba;
	background:none;!important
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:focus{
	border-bottom:3px solid #0071ba;
	background:none;!important
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu{
	box-shadow:none;
	border:1px solid #0071ba;
	padding:0px;
	border-radius:0px;
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li{
	border-bottom:1px solid #cacaca;
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a{
	padding:15px;
	width:auto;
}
#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a:hover{
	border:none;
	color:#0071ba;
	background:#f0f0f0;
}
/*----------- dropdown-menu account-------*/

#header .topHeader .container .member p .user{
 color:white;
 font-size:10px;
 margin-top:3px;
}

#header .topHeader .container .member .mainmenu{
	margin-top:-3px;
	margin-left:0px;
}

#header .topHeader .container .member .mainmenu a{
	padding-bottom:0px;
	background:none;
	
	
}

#header .topHeader .container .member .mainmenu .submenu li a{
	padding:5px;
	width:auto;
	
}
#header .topHeader .container .member .mainmenu .submenu li a:hover{
	border:none;
	color:white;
	background:#0071BA;
}




.navbar-toggle .icon-bar{
	width:25px;
	height:3px;
	background:#5a5a5c;
	border-radius:0px;
}
/* ----------Search---------- */
.form_search {
	max-width: 300px;
	width: 100%;
	position: relative;
	float: right;
}
#btn_search {
	position: absolute;
	right: 0;
	top: 0;
	width:73px;
	height:40px;
	background:url(../img/btn_search.png) no-repeat;
	border:none;
	
}
#search_2 {
	width: 100%;
	height: 36px;
	left: 0;
	padding-right: 78px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #0071BA;
	border-radius:5px;
	margin: 0;
	color:#ccc;
	font-size:13px;
	padding-left:5px;
}
#search_2:focus {
  border-color: #0071ba;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
/* ----------End search---------- */


 


/*
 *  Footer
 * ------------------------------------------------------------------------------
 */
#footer {
	background-color: #323232;
	padding: 28px 0 0;
	border-top: 3px solid #0071ba;
}
.footer_container {
	position: relative;
}
#footer .footer_container .company_profile{
	width:22.22%;
	float:left;
}
#footer .footer_container .company_profile article{
	padding-right:20.37%;
}
#footer .footer_container .company_profile article p{
	margin-top:10px;
	line-height:20px;
}
#footer .footer_container .menu_footer{
	width:19.23%;
	height:auto;
	float:left;
}
#footer .footer_container .menu_footer article{
	margin-top:10px;
}
.footer_list{
	margin-top:15px;
}
#footer .footer_container .company_info {
	width:17.52%;
	float:left;
}
#footer .footer_container .company_info article{
	margin-top:10px;
}
#footer .footer_container .company_info .footer_social{
	margin-top:20px;
}
.link_top {
	position: absolute;
	right: 20px;
	top: -62px;
}
#footer .header h3 {
	font-size: 16px;
}
.footer_list ul,
.footer_list ul li,
.footer_social,
.footer_social li {
	float: left;
	
}
.footer_list ul{
	list-style:none;
	height:auto;
}
.footer_list ul li {
	width: 100%;
	height:30px;
}
.footer_list ul li a,
#footer p {
	color: #cacaca;
}
#footer  .footer_social ul li {
	position: relative;
	margin-right: 10px;
}
#footer  .footer_social ul li a {
	width: 30px;
	height: 30px;
	display: block;
}
#footer  .footer_social ul li i {
	color: #fff;
	position: absolute;
	top: 20%;
	left: 30%;
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}
#footer .facebook {
	background-color: #47639e;
}
#footer .twitter {
	background-color: #00aced;
}
#footer .google-plus {
	background-color: #d7422b;
}
.copyright {
	background-color: #0071ba;
	line-height: 21px;
	padding: 5px 0;
	margin-top: 75px;
}
.copyright p{
	float:left;
}
.copyright .policy {
	text-align: right;
	float:right;
}
.copyright a {
	color: #cacaca;
}
.copyright font {
	margin: 0 15px;
}
.copyright a:hover {
	color: #fff;
}


/*
 *  Lazy class
 * ------------------------------------------------------------------------------
 */
.lazy {	
	display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 768px) {
	/* Styles */
	
	#header .topHeader{
		padding:0 20px;
	}
	#country-select{
		right:20px;
	}
	/* -----------flag----------- */	
	.row .span6 {
		float: none;
	}
	#header .flag {
		position: static;
	}
	
	/* -----------End flag----------- */
	
	#header .flag .member{
		display:none;
	}
	
	#header .menuHeader .logo{
		padding-left:20px;
	}
	
	#header .menuHeader .navbar .navHeaderCollapse{
		margin-top:57px;
		left:0px;
		background:#00548b;
	}
	.navbar-collapse{
		border:none;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu{
		margin:0px;		
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu li.dropdown a{
		width:auto;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a{
		color:#fff;
		border-bottom:1px solid #004572;
		padding:15px 2.60% 20px 2.60%;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:hover{
		background:#00548b;
		color:#fff;
		border-bottom:1px solid #004572;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:focus{
		border-bottom:1px solid #004572;
		background:#00548b;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu{
		border:none;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li{		
		background:#003252;
		border:none;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a{
		padding:15px 2.60% 20px 2.60%;
		width:auto;
		border-bottom:1px solid #002943;
		color:#cde2f0
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a:hover{
		border-bottom:1px solid #002943;
		color:#fff;
		background:#003252;
	}
	
	.form_search{
		max-width:94.79%;
		float:left;
		margin:2.60%;
	}
	
	#footer .footer_container .row{
		padding-left:20px;
	}
	.copyright .row{
		padding:0 20px;
	}
}

@media only screen and (max-width : 320px){
	#header .topHeader{
		padding:0 10px;
		min-height:50px;
	}
	#country-select{
		margin-top:20px;
		left:0px;
	}
	#header .flag .member{
		display:none;
	}
	
	#header .menuHeader .logo{
		padding-left:10px;
	}
	
	#header .menuHeader .navbar .navHeaderCollapse{
		margin-top:56px;
		left:0px;
		background:#00548b;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu{
		margin:0px;		
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu li.dropdown a{
		width:auto;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a{
		color:#fff;
		border-bottom:1px solid #004572;
		padding:15px 2.60% 20px 2.60%;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:hover{
		background:#00548b;
		color:#fff;
		border-bottom:1px solid #004572;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu a:focus{
		border-bottom:1px solid #004572;
		background:#00548b;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu{
		border:none;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li{		
		background:#003252;
		border:none;
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a{
		padding:15px 2.60% 20px 2.60%;
		width:auto;
		border-bottom:1px solid #002943;
		color:#cde2f0
	}
	#header .menuHeader .navbar .navHeaderCollapse .mainmenu .submenu li a:hover{
		border-bottom:1px solid #002943;
		color:#fff;
		background:#003252;
	}
	.form_search{
		max-width:94.79%;
		float:left;
		margin:2.60%;
	}
}
@media only screen and (max-width : 480px){ /* Footer style only */
	#footer .footer_container .company_profile,
	#footer .footer_container .menu_footer,
	#footer .footer_container .company_info{
		width:100%;
	}
	#footer .footer_container .company_profile article{
		padding:0px;
	}
	#footer .footer_container .row{
		padding-left:2.125%;
	}
	.copyright p{
		float:none;
		text-align: center;
	}
	.copyright .policy {
		float:none;
		text-align: center;
	}
}
.dropdown-menu {
/*left:100px;*/
}
