/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper-mobile{
	width:100%;
	height:auto;
	margin:20px auto 0 auto;
}
#sectionWrapper #carMenu{
	width:960px;
	padding-bottom:15px;
}
#carMenu ul{
	list-style:none;
}
#carMenu ul li.first_child{
	padding-left:0px;
}
#carMenu ul li{
	float:left;
	padding-left:10px;
}
#carMenu ul li.menu{
	color:#0064b2;
}
#carMenu ul li a{
	color:#424242;
}
#sectionContenWrapper-mobile #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:10px;
}
#sectionContenWrapper-mobile #sectionSidebar #topSideBar ul{
	list-style:none;
}
#sectionContenWrapper-mobile #sectionSidebar #topSideBar ul li{
	border-top:1px dotted #ccc;
	background:url(../../images/common/sidebar/arrow-liststyle.png) 10px center no-repeat;
	height:27px;
	padding:12px 0px 0px 30px;
}
#sectionContenWrapper-mobile #sectionSidebar #topSideBar ul li.last_child{
	border-bottom:1px dotted #ccc;
}
#sectionContenWrapper-mobile #sectionSidebar #topSideBar ul li a.expert{
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;
}
#sectionContent #carData{
	width:98%;
	height:auto;
	margin-left: 1%;
}
#carData #carSourceWraper{
	width:100%;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:98%;
	height:auto;
	float:left;
	background:#f9f9f9;
	border:1px solid #ccc;
	padding: 5px 0 10px 4px;
	margin: 5px 5px 0 0;
	position: relative;
}
#carSourceWraper .lastCar{
	margin:0;
}

#carSourceWraper .listCarName{
	width:99%;
	height:auto;
	border-bottom:2px solid #0064b3;
	min-height: 40px;
}
#carSourceWraper .listCar #carDetailWrap{
	height: auto;
    margin-top: 10px;
    width: 45%;
    padding-bottom: 40px;
    float: right;
}
#carSourceWraper .listCar #carDetailWrap p.price{
	color: #c1272d;
}
#carSourceWraper .listCar #carDetailWrap p{
	color: #666;
    font-size: 11px;
    line-height: 16px;
}
#carSourceWraper .listCarName p{
	font-size:11px;
	color:#424242;
	font-weight:bold;
	padding-bottom: 3px;

}
#carSourceWraper .listCarImg{
	width:45%;
	height:auto;
	margin-top: 10px;
	float: left;
}
#carSourceWraper .listCarImg img{
	width: 100%;
	height: auto;
}
#carSourceWraper #carDetailWrap .contactSeller{	
    height: auto;
    position: absolute;
    width: 100%;
}
#carSourceWraper #carDetailWrap .contactSeller a{
	color: #0071ba;
}
/*/////////////////////



///////////////////////
/*css for mainContent*/
	/* buyer and forwarder directory*/
#sectionContenWrapper-mobile #sectionContent{
	width:96%;
	margin-left:2%;
	margin-right:2%;
	height:auto;
}
#sectionContenWrapper-mobile #sectionContent .findtrader_title{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	background: url(../../images/expert_company/orange_bg.png) 10px center no-repeat;
	background-color: #f0f0f0;	
}
#sectionContenWrapper-mobile #sectionContent .findtrader_title p{
	color: #0064b1;
	font-size: 16px;
	padding: 4px 0px 0px 25px;
	font-weight: bold;
}
#sectionContenWrapper-mobile #sectionContent p span{
	color: #bf272d;
	font-weight: bold;
}
#sectionContenWrapper-mobile #sectionContent #buyerTitle{
	width:305px;
	height:24px;
	border-bottom:2px solid #0064b2;
	margin-top:10px;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #buyerTitle p{
	font-size:16px;
	font-weight:bold;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #member{
	width:400px;
	height:24px;
	border-bottom:2px solid #0064b2;
	margin-top:10px;
	float:right;
}
#sectionContenWrapper-mobile #sectionContent #member p{
	color:#c1262c;
	font-size:14px;
	text-align:right;
	font-weight:bold;
}
#sectionContenWrapper-mobile #sectionContent #flagCountWrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper-mobile #sectionContent  .flagCount{
	width:705px;
	height:auto;

}
#sectionContenWrapper-mobile #sectionContent .flagCount ul{
	list-style:none;
}
#sectionContenWrapper-mobile #sectionContent .flagCount ul li{
	height:23px;
	float: left;
	width: 176px;
}
#sectionContenWrapper-mobile #sectionContent  .flagCount span{
	float:left;
}
#sectionContenWrapper-mobile #sectionContent  .flagCount p{
	padding:2px 0px 0px 26px;
}
#sectionContenWrapper-mobile #sectionContent .flagCount p a{
	font-size:12px;
	color:#424242;
	text-decoration:none;
}
#sectionContenWrapper-mobile #sectionContent #moreCountry{
	width:705px;
	margin-top:
	10px;
}
#sectionContenWrapper-mobile #sectionContent #moreCountry #dropdown{
	width:120px;
	float:right;
	background:url(../../images/buyerdirectory/dropdown.png) no-repeat right center;
}
#sectionContenWrapper-mobile #sectionContent #moreCountry p{
	text-align:right;
	padding-right:10px;
}
#sectionContenWrapper-mobile #sectionContent #moreCountry p a{
	font-size:11px;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #allCountry{
	width:705px;
	height:auto;
	display:none;
	margin-top:10px;
}
#sectionContenWrapper-mobile #sectionContent #itemCounter{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper-mobile #sectionContent #itemCounter ul{
	list-style:none;
}
#sectionContenWrapper-mobile #sectionContent #itemCounter li{

	display:inline;
}
#sectionContenWrapper-mobile #sectionContent #itemCounter li a{
	font-size:11px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper-mobile #sectionContent #searchBoxWrap{
	width:705px;
	height:40px;
	margin-top:25px;
	background:#e7f4ff;
}
#sectionContenWrapper-mobile #sectionContent #searchBoxWrap .searchBox{
	width:588px;
	height:28px;
	margin:5px 0px 0px 5px;
	border:1px solid #ccc;
	background:url(../../images/buyerdirectory/microscope.png) right 10px center no-repeat;
	background-color:#fff;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #searchBoxWrap #searchButton{
	width:100px;
	height:30px;
	margin:5px 0px 0px 5px;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #searchBoxWrap #searchButton .seach_btn{
	width: 100px;
	height: 30px;
	background:url(../../images/buyerdirectory/btnsearch.png) no-repeat;
	border: none;
	cursor: pointer;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap{
	width:298px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
	background:#f2f2f2;
	float:left;
	margin-bottom:25px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrapRight{
	margin-left:25px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerDetail{
	width:148px;
	height:auto;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p.title{
	color:#0064b2;
	font-size:14px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p{
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p span{
	float:left;
	margin-top:3px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerLogo{
	width:150px;
	height:auto;
	float:right;

}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p{
	text-align:right;
	padding-top:10px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p a{
	font-size:12px;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyAddress{
	width:300px;
	height:auto;
	margin-top:25px;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .buyAddress p{
	font-size:11px;
	color:#424242;
	line-height:20px;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .moreBuyer{
	width:300px;
	margin-top:15px;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p{
	text-align:right;
}
#sectionContenWrapper-mobile #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p a{
	color:#0064b2;
	font-size:11px;
}
#pagernation{
	width:705px;
	height:15px;
}
	/* expert commpany */
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap{
	width:675px;
	height:auto;
	padding:15px;
	background:#f2f2f2;
	margin-top:10px;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #expert_title{
	width:675px;
	height:24px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #expert_title p{
	font-size: 16px;
	color: #0064b2;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #list_wrap{
	width:675px;
	height:auto;
	margin-top:15px;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #list_wrap ul{
	list-style:none;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #list_wrap ul li{
	width:225px;
	height:24px;
	float: 	left;
}
#sectionContenWrapper-mobile #sectionContent #expert_titlewrap #list_wrap ul li a{
	color:#424242;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #company_list{
	width:705px;
	height:33px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #company_list p{
	font-size:24px;
	text-align:left;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #company_detail{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #company_detail p{
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #company_detail p a{
	 color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #search_wrap{
	width:100%;
	height:35px;
	background:#e7f4ff;
	margin-top:30px;
	padding:5px 5px 0px 5px;
	vertical-align:middle;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #search_wrap .search_box{
	width:588px;
	height:28px;
	border:1px solid #ccc;
	float:left;
	background:url(../../images/buyerdirectory/microscope.png) right 10px center no-repeat;
	background-color:#fff;
}
#sectionContenWrapper-mobile #sectionContent #company_listwrap #search_wrap .search_btn{
	width:100px;
	height:30px;
	float:right;
	background:url(../../images/buyerdirectory/btnsearch.png) no-repeat;
	border:none;
	cursor:pointer;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail{
	width:703px;
	height:auto;
	border:1px solid #0064b2;
	margin-top:20px;
	padding:20px 0px 20px 0px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail{
	width:688px;
	height:auto;
	padding:0px 0px 20px 15px;
	background:url(../../images/expert_company/border-bg.png) bottom center no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #logo{
	width:185px;
	height:auto;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #logo p{
	font-size:14px;
	color:#424242;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #contact{
	width:503px;
	height:auto;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #contact p{
	font-size:14px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #contact p a{
	color:#424242;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #contact p span{
	padding-right:10px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #com_detail #contact p a.skype{
	color:#009cd8;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap #car_detail{
	width:157px;
	height:auto;
	float:left;
	margin-left:15px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap #car_detail #car_img{
	width:155px;
	height:88px;
	border:1px solid #ccc;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap #car_detail p{
	text-align:center;
	line-height:18px;
	padding-top:10px;
	font-size:12px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap #car_detail p a{
	color:#000088;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #car_detailwrap #car_detail p span.price{
	color:#c1272d;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #view_more{
	width:703px;
	height:auto;
	margin-top:20px;
}
#sectionContenWrapper-mobile #sectionContent #exper_comdetail #view_more p{
	text-align:right;
	padding-right:15px;
}
 /*///////Company detail/////*/

#sectionContenWrapper-mobile #sectionContent #com_name{
	width: 100%;
	height: auto;
	margin-top: 30px;
	border-radius: 5px;
	padding-bottom: 10px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap p{
	font-size: 14px;
	color: #424242;
	padding-top: 7px;
	margin-left: 1%;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap p.title{
	font-weight: bold;
	font-size: 21px;
	color: #056fc0;
	border-bottom: 1px dashed #ccc;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap{
	width: 98%;
	height: auto;	
	padding-bottom: 20px;
	margin-top: 20px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left{
	width: 98%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 1%;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_logo{
	width: 100%;
	height: auto;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_logo img{
	width: 100%;
	height: auto;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left .div_acc1{
	width: 19%;
	height: auto;
	float: left;
	margin:5px 5px 0px 0px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left .div_acc1 a img{
	width: 100%;
	height: auto;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_social{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 30px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_social ul{
	list-style: none;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_social ul li.first{
	margin-left: 0px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_left #div_social ul li{
	float: left;
	margin-left: 5px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_right{
	width: 98%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-left: 1%;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_right table{
	width: 100%;
	margin-top: 30px;
	
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_right table td{
	width: 70%;
	height: 40px;	
	vertical-align: middle;
	padding:0 0 0 15px;
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_right table td.title{
	background:url(../../images/expert_company/dot_bg.png) left center no-repeat;
	font-weight: bold;
	width: 30%
}
#sectionContenWrapper-mobile #sectionContent #com_detailwrap #div_right table td a{
	color: #cf0a05;
	font-weight: bold;
}
/*//// seller directory ////*/
#sectionContenWrapper-mobile #sectionContent #seller_titlewrap{
	width:675px;
	height:auto;
	padding:15px 15px 30px 15px;
	background:#ebf6ff;
	margin-top:10px;
}
#sectionContenWrapper-mobile #sectionContent #seller_titlewrap #seller_title{
	width:675px;
	height:24px;
	border-bottom:2px solid #0064b2;
}
#sectionContenWrapper-mobile #sectionContent  p.detail{
	font-size:11px;
	line-height:15px;
	color:#424242;
	padding-top:15px;
}
#sectionContenWrapper-mobile #sectionContent #seller_titlewrap #seller_title p{
	font-size:16px;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap{
	width:705px;
	height:auto;
	margin-top:25px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul{
	list-style:none;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li{
	float:left;
	padding-top:12px;
	color:#424242;
	cursor:pointer;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.all{
	width:110px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	padding-left:65px;
}

#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.car{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	background:url(../../images/seller-directory/car.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.truck{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	border-right:none;
	background:url(../../images/seller-directory/truck.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.bus{
	width:100px;
	height:26px;
	border:1px solid #ccc;
	background:url(../../images/seller-directory/bus.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.equipment{
	width:115px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/equipment.gif) 20px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.part{
	width:135px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/part.gif) 23px center no-repeat;
	padding-left:40px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.attachment{
	width:120px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	border-right:none;
	background:url(../../images/seller-directory/attach.gif) 30px center no-repeat;
	padding-left:55px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.spare{
	width:115px;
	height:27px;
	border:1px solid #ccc;
	border-top:none;
	background:url(../../images/seller-directory/spare.gif) 30px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.all_current{
	width:110px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	padding-left:65px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.car_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	background:url(../../images/seller-directory/car_over.gif) 40px center no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.truck_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	border-right:none;
	background:url(../../images/seller-directory/truck_over.gif) 40px center no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.bus_current{
	width:100px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/bus_over.gif) 40px center no-repeat;
	padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.equipment_current{
	width:115px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/equipment_over.gif) 20px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.part_current{
	width:135px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/part_over.gif) 23px center no-repeat;
	padding-left:40px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.attachment_current{
	width:120px;
	height:24px;
	border:1px solid #ccc;
	border-right:none;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/attach_over.gif) 30px center no-repeat;
	padding-left:55px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap ul li.spare_current{
	width:115px;
	height:24px;
	border:1px solid #ccc;
	border-top:3px solid #0064b2;
	color:#0064b2;
	background:url(../../images/seller-directory/spare_over.gif) 30px center no-repeat;
	padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_all, #tab_car, #tab_truck, #tab_bus, #tab_equipment, #tab_part, #tab_attach, #tab_spare{
	width:703px;
	height:auto;
	border:1px solid #ccc;
	display:none;
	margin-top: 30px;
	padding-bottom: 20px;
}
#sectionContenWrapper-mobile #sectionContent #search_wrap{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
#sectionContenWrapper-mobile #sectionContent .select_country{
	width: 40%;
	height: 30px;
	float: left;
	border: 1px solid #ccc;
}
#sectionContenWrapper-mobile #sectionContent .select_member{
	width: 40%;
	height: 30px;
	float: left;
	border: 1px solid #ccc;
}
#sectionContenWrapper-mobile #sectionContent .textbox_search{
	width: 145px;
	height: 30px;
	float: left;
	margin-left:3%;
	margin-top:2%;
	margin-bottom:2%;
	text-indent: 10px;
	border: 1px solid #ccc;
	padding: 0px;
}
#sectionContenWrapper-mobile #sectionContent .search_button{
	width: 180px;
	height: 30px;
	border: none;
	cursor: pointer;
	float: right;
	margin-right:1%;
	background:url(../../images/expert_company/search_sec.png) no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #total_com{
	width: 100%;
	height: auto;
	margin-top: 30px;
	border-bottom: 3px solid #408bc5;
	padding-bottom: 5px;
}
#sectionContenWrapper-mobile #sectionContent #total_com p{
	font-size: 12px;
	color: #424242;
}
#sectionContenWrapper-mobile #sectionContent #total_com p span{
	color: #bf282d;
	font-weight: bold;}
#sectionContenWrapper-mobile #sectionContent #com_wraper{
	width: 97%;
	height: auto;
	border-radius: 5px;
	border:1px solid #ccc;
	padding-left:1%;
	padding-right:2%;
	padding-bottom:4%;
	margin-top: 10px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper p.premium{
	color: #0064b1;
	width:100%;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 5px;
	padding-top: 20px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap{
	width: 98%;
	height: auto;
	margin-left:-1%;
	padding:2%;
	border-radius: 5px;
	margin-top: 5px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .left{
	width: 100%;
	height: auto;
	float: none;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .left img{
	margin-left:28%;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .left p{
	font-weight: bold;
	font-size: 12px;
	color: #0064b1;
	text-align: center;
	padding-top: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right{
	width: 100%;
	height: auto;
	float: none;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right p.title{
	color: #0064b1;
	font-weight: bold;
	font-size: 16px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right p{
	font-size: 12px;
	color: #424242;
	line-height: 20px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right ul{
	list-style: none;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right ul li{
	float: none;
	width: 100%;
	height: 25px;
	background:url(../../images/expert_company/blue_libg.png) no-repeat left 4px;
	padding-left: 15px;
	font-size: 12px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right ul li.product{
	width: 100%;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right ul li span{
	color: #bf272d;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right .button_wraper{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .com_wrap .right .button_wraper img{
	width:48%;
	float:left;
	padding: 2px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership{
	width: 100%;
	height: auto;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_left{
	width: 45%;
	height: auto;
	float: left;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership  .dimon ul{
	list-style-type: none;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership li.di{
	display: inline;
	width: 49%;
	height: auto;
	float: left;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_button{
	float: left;
	width: 310px;
	height: auto;
	margin: 10px 0 0 70px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_button img{
	padding-right: 2px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_right{
	width: 49%;
	height: auto;
	float: right;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-bottom: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_logo{
	width: 35%;
	height: auto;
	border:1px solid #ccc;
	margin: 10px 0 0 10px;
	float: left;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_data{
	width: 60%;
	height: auto;
	float: right;
	margin-top: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_data ul{
	list-style: none;
	margin-top: 10px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_data ul li{
	float: left;
	width: 100%;
	background:url(../../images/expert_company/blue_libg.png) no-repeat left 4px;
	font-size: 12px;
	padding-left: 15px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .diamon_data p.title{
	color: #0064b1;
    font-size: 16px;
    font-weight: bold;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .gold_membership{
	width: 220px;
	height: 220px;
	float: left;
	margin-left: 10px;
	border:1px solid #ccc;
	margin-top: 10px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .silver_membership{
	width: 160px;
	height: 120px;
	float: left;
	margin-left: 21px;
	border:1px solid #ccc;
	margin-top: 10px;
	position: relative;
	text-align: center;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .silver_membership img{
	max-width: 160px;
	max-height: 120px;}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership .free_membership{
	width: 100%;
	height: 300px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership ul.gold{
	list-style: none;
	margin-top: 10px;
}
#sectionContenWrapper-mobile #sectionContent #com_wraper .membership ul.gold li{
	float: left;
	width: 220px;
	height: 210px;
	margin-left: 10px;
	border:1px solid #ccc;

	text-align: center;
}

#sectionContenWrapper-mobile #sectionContent #com_wraper .membership ul.gold li img{
	height: 210px ;
    width: 220px ;
}

#sectionContenWrapper-mobile #sectionContent #com_wraper .membership ul.gold li p{
	border-top:1px dashed #ccc;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	color: #0064b1;
    font-size: 16px;
    font-weight: bold;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom{

	border: 1px solid #ccc;
	width: 100%;
	height: auto;
	border-radius: 5px;
	padding-bottom: 20px;
	padding-top:2%;
	margin-top: 10px;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom p{
	float: right;
	padding-right: 2%;
	cursor: pointer;
	color: #1726b8;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom ul{
	list-style: none;
	padding: 2%;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom ul li{
	float: left;
	width: 140px;
	height: 20px;
	margin-bottom:4%;
	font-size: 10px;
	color:  #424242;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom ul li.all_com{
	display: none;
}
#sectionContenWrapper-mobile #sectionContent #list_allcom ul li span{
	color: #c55757;
}
#sectionContenWrapper-mobile #sectionContent  table{
	width:705px;
}
#sectionContenWrapper-mobile #sectionContent  table td{
	width:175px;
	height:auto;
	vertical-align:middle;
	padding:10px 0px;
	border-bottom: 1px dotted #ccc;
}
#sectionContenWrapper-mobile #sectionContent  table td .memebrship{
	width: 313px;
}
#sectionContenWrapper #sectionContent .no-border{
	border-bottom:none;
}
#sectionContenWrapper-mobile #sectionContent  table td.no_border{
	border:none;
}
#sectionContenWrapper-mobile #sectionContent  table td.label{
	width:175px;
	padding-left:10px;
}
#sectionContenWrapper-mobile #sectionContent  table td.mid_child{
	width:170px;
}
#sectionContenWrapper-mobile #sectionContent  table td.last_child{
	width:180px;
}
#sectionContenWrapper-mobile #sectionContent  table td.list{
	width:510px;

}
#sectionContenWrapper-mobile #sectionContent  table td.list ul{
	list-style:none;
}
#sectionContenWrapper-mobile #sectionContent  table td.list ul li{
	width:170px;
	height:24px;
	float:left;
}

#sectionContenWrapper-mobile #sectionContent .seller_wrap{
	width:663px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
	margin-top:25px;
	background:#f2f2f2;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .left_item{
	width:150px;
	height:auto;
	float:left;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .left_item p{
	padding-top:10px;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item{
	width:480px;
	height:auto;
	float:right;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item p.title{
	font-size:14px;
	color:#0064b2;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item ul{
	list-style:none;
	padding-top:10px;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item ul li{
	height:24px;
	font-size:12px;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item .data_detail{
	width:438px;
	height:auto;
	padding:20px;
	border:1px solid #ccc;
}
#sectionContenWrapper-mobile #sectionContent .seller_wrap .right_item .data_detail p.more{
	color:#0064b2;
	font-size:11px;
}

.silver_membership ul{
	list-style-type: none;
}
.silver_membership li{

	display: inline;
	width: 160px;
	height: 120px;
	float: left;
	margin-left: 14px;
	border:1px solid #ccc;
	margin-top: 10px;
	padding-left: 10px;

}
/****** NEW CSS FOR TD PRODUCT TYPE TAP ***************/

.selected_filter{
    text-decoration: underline;
    font-weight: bold;
}


#sectionContenWrapper-mobile #sectionContent #tab_wrap td{
    border:1px solid #ccc;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.all{
    width:110px;
    height:26px;

    border-right:none;
    padding-left:65px;
}

#sectionContenWrapper-mobile #sectionContent #tab_wrap td.car{
    width:100px;
    height:26px;

    border-right:none;
    background:url(../../images/seller-directory/car.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.truck{
    width:100px;
    height:26px;

    border-right:none;
    background:url(../../images/seller-directory/truck.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.bus{
    width:100px;
    height:26px;

    background:url(../../images/seller-directory/bus.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.equipment{
    width:115px;
    height:27px;

    border-top:none;
    border-right:none;
    background:url(../../images/seller-directory/equipment.gif) 20px center no-repeat;
    padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.part {
    width:135px;
    height:27px;

    border-top:none;
    border-right:none;
    background:url(../../images/seller-directory/part.gif) 20px center no-repeat;
    padding-left:40px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.all_current{
    width:110px;
    height:24px;


    color:#0064b2;
    border-right:none;
    padding-left:65px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.car_current{
    width:100px;
    height:24px;


    color:#0064b2;
    border-right:none;
    background:url(../../images/seller-directory/car_over.gif) 20px center no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.truck_current{
    width:100px;
    height:24px;


    color:#0064b2;
    border-right:none;
    background:url(../../images/seller-directory/truck_over.gif) 20px center no-repeat;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.bus_current{
    width:100px;
    height:24px;


    color:#0064b2;
    background:url(../../images/seller-directory/bus_over.gif) 20px center no-repeat;
    padding-left:75px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.equipment_current{
    width:115px;
    height:24px;

    border-right:none;

    color:#0064b2;
    background:url(../../images/seller-directory/equipment_over.gif) 20px center no-repeat;
    padding-left:60px;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.part_current{
    width:135px;
    height:24px;

    border-right:none;

    color:#0064b2;
    background:url(../../images/seller-directory/part_over.gif) 20px center no-repeat;
    padding-left:40px;
}

#sectionContenWrapper-mobile #sectionContent #tab_wrap td.getClass a{
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #424242;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.all_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.car_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.truck_current a{

    color: #0064b2;
    border-top:3px solid #0064b2;

}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.bus_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.equipment_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;
}
#sectionContenWrapper-mobile #sectionContent #tab_wrap td.part_current a{

    border-top:3px solid #0064b2;
    color: #0064b2;

}
/****** END NEW CSS FOR TD PRODUCT TYPE TAP ***************/
 
#tab_all, #tab_car, #tab_truck, #tab_bus, #tab_equipment, #tab_part, #tab_attach, #tab_spare{
    display: none;
}


#sectionContenWrapper-mobile #sectionContent #tab_wrap td.getClass{


    border-right:none;
    padding:0;
}

#sectionContenWrapper-mobile #sectionContent #tab_wrap td.getClass:last-child{
    border:1px solid #CCCCCC;
}
