#content #frmSearch table tr td select.long-ie-8-9{	
	width: 281px\9;	
	border: 0;
	padding-top: 11px\9;
	padding-bottom: 11px\9;
}
#content #frmSearch table tr td select.small-ie-8-9{	
	width: 141px\9;	
	border: 0;
	padding-top: 11px\9;
	padding-bottom: 11px\9;
}
#content #frmSearch table tr td .bgSlt{	
	width: 261px\9;		
}
#content #frmSearch table tr td .bgSltSmall{
	width: 121px\9;		
}

#main{
	width: 1170px\9;
	max-width: 100%\9;
	margin: 0 auto\9;
}
#divTop .tbRespone{
	width: 645px\9;
	max-width: 100%\9;
	float:left\9;
}
#divTop .tbRespone table tr td{
	max-width: 215px\9;	
	max-width: 100%\9;
}
#divTop .col-lg-5{
	width: 482px\9;		
	max-width: 100%\9;	
}
#tabInfo{
	width: 1170px\9;
	max-width: 100%\9;
}