/* Pagination
----------------------------------------------- */
ul #content{
	height:auto !important;
}
.holder { 
	margin: 40px 0 10px; 
	float:right;
}

.holder a {
  font-size: 12px;
  cursor: pointer;
  margin: 0 5px;
  color: #333;
}

.holder a:hover {
  background-color: #222;
  color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
  color: #00A651;
  font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover { color: #bbb; }

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}

/* Holder responsive
---------------------------------------------------------------- */
.holderRes a:hover {
  background-color: #222;
  color: #fff;
}

.holderRes a.jp-previous { margin-right: 15px; }
.holderRes a.jp-next { margin-left: 15px; }

.holderRes a.jp-current, a.jp-current:hover { 
  color: #00A651;
  font-weight: bold;
}

.holderRes a.jp-disabled, a.jp-disabled:hover { color: #bbb; }

.holderRes a.jp-current, a.jp-current:hover,
.holderRes a.jp-disabled, a.jp-disabled:hover {
  cursor: default; 
  background: none;
}