@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
html, body
{
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	background: none repeat scroll 0% 0% transparent;	
	text-align:left;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../../../images/bg/body.gif) bottom repeat-x fixed;
}

a{
	text-decoration:none;
	color:#fff;
}

a img{
	border:none;
}
ul {
	list-style-type: none;
}

p{
	text-align:justify;
	
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: inline-block;
}
#sectionWrapper{
	width:890px;
	height:auto;
	margin:0 auto;
}
#sectionWrapper #sectionHeader{
	width:890px;
	height:auto;
}
#sectionWrapper #sectionHeader #sectionBanner{
	width:890px;
	height:auto;
}
#sectionWrapper #sectionHeader #sectionNav{
	width:890px;
	height:40px;
	background:url(../../../images/bg/nav.gif) repeat-x;
}
#sectionWrapper #sectionHeader #sectionNav ul{
	list-style:none;
}
#sectionWrapper #sectionHeader #sectionNav ul li{
	float:left;
	height:30px;
	padding:10px 10px 0 10px;
	background:url(../../../images/bg/navline.gif) center right no-repeat;
}
#sectionWrapper #sectionHeader #sectionNav ul li a{
	display:block;
	font-size:14px;
}
#sectionWrapper #sectionHeader #sectionNav ul li a:hover{
	color:#f4f109;
}
#sectionWrapper #sectionHeader #sectionNav #lang{
	float:right;
	margin:8px 10px 0 0;
}
#sectionWrapper #sectionHeader #sectionNav #lang p, select{
	float:left;
}
#sectionWrapper #sectionHeader #sectionNav #lang p{
	color:#fff;
	margin-right:5px;
	font-weight:bold;
	padding-top:3px;
}
#sectionWrapper #sectionHeader #sectionNav #lang select{
	border:1px solid #ccc;
	padding:2px;
	width:120px;
}
#sectionWrapper #sectionContent{
	width:870px;
	height:auto;
	background:#fff;
	padding:10px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper{
	width:197px;
	height:auto;
	float:left;	
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn{
	width:175px;
	height:auto;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	padding:10px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn #logo{
	width:174px;
	height:46px;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn form{
	margin-top:20px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn form select{
	padding:5px;
	border:1px solid #b5b5b5;
	width:175px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn form input[type="text"]{
	padding:5px;
	width:128px;
	height:17px;
	border:1px solid #b5b5b5;
	margin-top:5px;
	border-right:0px;
	float:left;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sectionLogIn form input[type="submit"]{
	background:url(../../../images/btnsearch.gif) no-repeat;
	cursor:pointer;
	border:none;
	width:36px;
	height:29px;
	float:left;
	margin:5px 0 0 0;
	text-indent:-150px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu{
	width:175px;
	height:auto;
	background:#f3f3f3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	padding:10px;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul{
	list-style:none;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li{
	float:left;
	height:auto;
	width:175px;	
	color:#666;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li a{
	color:#444;
	font-weight:bold;
	border-bottom:1px dashed #666;
	display:block;
	padding:8px 0 10px 0;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li:last-child a{
	border:none;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li a:hover{
	color:#999;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li ul li{
	padding-left:10px;
	width:165px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li ul li:first-child{
	margin-top:5px;
}
#sectionWrapper #sectionContent #sectionSidebarWrapper #sidemenu ul li ul li a{
	border:none;
	font-weight:normal;
	padding:6px 0 8px 0;
	color:#666;
}
#sectionWrapper #sectionContent #sectionFeature{
	width:660px;
	height:auto;
	float:right;
}

#sectionWrapper #sectionFooter{
	width:890px;
	height:auto;
	margin-top:10px;
}
#sectionWrapper #sectionFooter #sectionNavFooter{
	width:890px;
	height:18px;
	background:#2f58b9;
	padding:8px 0;
}
#sectionWrapper #sectionFooter #sectionNavFooter ul{
	list-style:none;
	margin:0 auto;
	position:relative;
	width:601px;
}
#sectionWrapper #sectionFooter #sectionNavFooter ul li{
	float:left;
	padding:0px 10px 0 10px;
	border-right:1px solid #fff;
}
#sectionWrapper #sectionFooter #sectionNavFooter ul li:last-child{
	border:none;
}
#sectionWrapper #sectionFooter #sectionNavFooter ul li a{
	display:block;
	font-size:14px;
}
#sectionWrapper #sectionFooter #sectionInfo{
	width:890px;
	height:auto;
	padding:20px 0;
}
#sectionWrapper #sectionFooter #sectionInfo p{
	text-align:left;
	line-height:24px;
	color:#fff;
}
#sectionWrapper #sectionFooter #sectionInfo p a{
	color:#f8f514;
}
