
#wrapper-term-condition{
	width: 1170px;
	height:auto;
	margin:30px auto 100px;	
}
#wrapper-term-condition h1{
	color:#0071ba;
	padding-bottom:8px;
	border-bottom:2px solid #0071ba;
	font-size:21px;
	padding-left:1px;
	margin-left:1px;
}
#wrapper-term-condition p{	
	padding:20px 0 20px 3px;
	color:#757575;
	font-size:14px;
}
#wrapper-term-condition ul{
	padding-left:20px;
	color:#757575;
	font-size:14px;
	text-indent:5px;
}
#wrapper-term-condition ul li{
	list-style-image:url("../../img/public_termcondition/booling.png");
	line-height:40px;
	
	
	
}