/*css for sideBar*/

.model_table{
    width:100%;
    margin-top: 10px;
    
}
#model_table_wrapper{
	position: relative;
}
.button_td{
    text-align: right;
}
.make_model_table td{
	padding-top:5px;
	padding-bottom: 5px;
}
.model_table td, .model_table th{
    padding:10px;
}
.model_table td{
    background-color: #f4f4f4;  
    border:1px solid #ccc;  
}
.model_table th{
    background-color: #f4f4f4;  
    border:1px solid #ccc;  
}
.model_table .even{
    background: #EFEFEF;
}
.model_table .odd{
    background: #F7F7F7;
}
#makeSelect{
	padding:5px;
	width:250px;
}
.model_text {
    padding: 5px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.mode_button_wrapper{
	overflow: auto;
}
#newModelInput{
	padding:5px;
	width:250px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}

.selected_button{
    cursor: pointer;
    padding:5px 10px;
    font-size: 12px;
}
.selected_button:hover{
    opacity: 0.7;
}

.selected_button_wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}
#save_changes{

    background: #0064b3; /* Old browsers */
background: -moz-linear-gradient(top,  #0064b3 0%, #0064b3 91%, #00115e 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064b3), color-stop(91%,#0064b3), color-stop(95%,#00115e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* IE10+ */
background: linear-gradient(to bottom,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064b3', endColorstr='#00115e',GradientType=0 ); /* IE6-9 */
color:white;
border:none;
}
#delete_selected{
    background: #d70000; /* Old browsers */
background: -moz-linear-gradient(top,  #d70000 93%, #601414 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(93%,#d70000), color-stop(94%,#601414)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d70000 93%,#601414 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d70000 93%,#601414 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d70000 93%,#601414 94%); /* IE10+ */
background: linear-gradient(to bottom,  #d70000 93%,#601414 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70000', endColorstr='#601414',GradientType=0 ); /* IE6-9 */

color:white;
border:none;
}
.hover{
	cursor: pointer;
}
.hover:hover{
	opacity: 0.7;
}
.page_title{
	color: #1c52b5;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
#submitSave{
	background: #0064b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #0064b3 0%, #0064b3 91%, #00115e 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064b3), color-stop(91%,#0064b3), color-stop(95%,#00115e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* IE10+ */
	background: linear-gradient(to bottom,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064b3', endColorstr='#00115e',GradientType=0 ); /* IE6-9 */
	color:white;
	border:none;
	padding:5px 10px;
}
.update_button{
	float:right;
	border:none;
	background:url("../../../../images/update.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	width:140px;
	height:35px;
	margin-bottom: 0px;
	cursor: pointer;
}
.update_button:hover{
	opacity:0.7;
	}
.search_wrapper{
	overflow: auto;
	margin-bottom: 20px;
}
#sectionContenWrapper{
	width: 960px;
	height: auto;
	margin: 20px auto 0 auto;
}
#sectionContenWrapper #sectionContent{
	width: 705px !important;
	height: auto;	
	float: right !important;
}
#sectionContenWrapper #sectionContent #admin_tab{
	width: 100%;
	height: auto;	
	font-size: 14px;
	color: #424242;
	
	padding-bottom: 20px;
	
}
#sectionContenWrapper #sectionContent #admin_tab ul{
	list-style: none;
}
#sectionContenWrapper #sectionContent #admin_tab ul li{
	float: left;
	cursor: pointer;
	padding: 0 11px 5px 10px;	
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
#sectionContenWrapper #sectionContent #admin_tab .add_new{
	width: 130px;
	height: 30px;
	border:none;
	background:url(../../../../images/admin/add.png) no-repeat;
	cursor: pointer;
	margin-top: 20px;
}
#sectionContenWrapper #sectionContent #admin_tab .delete{
	width: 130px;
	height: 30px;
	border:none;
	background:url(../../../../images/admin/delete.png) no-repeat;
	cursor: pointer;
	margin-top: 20px;
}
#sectionContenWrapper #sectionContent #admin_tab ul li.current{
	color: #1c52b5;
	background-color: #fff;
	border-bottom: 1px solid #1c52b5;
}
#sectionContenWrapper #sectionContent #admin_tab ul li.motorbike{
	padding-right: 16px;
}
#sectionContenWrapper #sectionContent  #formwrap{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
#sectionContenWrapper #sectionContent  #formwrap select.vehicle_type{
	margin-left: 0px;
}
#sectionContenWrapper #sectionContent  #formwrap select{
	width: 190px;
	height: 30px;
	float: left;
	margin-left: 10px;
	padding-top: 5px;
}
#sectionContenWrapper #sectionContent  #formwrap .search_button{
	width: 105px;
	height: 30px;
	border:none;
	background:url(../../../../images/admin/search1.png) no-repeat;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent #admin_tab .tabs{
	padding: 10px 30px;
	float: left;
	color: #424242;

}
#sectionContenWrapper #sectionContent #admin_tab .tabs{
	
}
#sectionContenWrapper #sectionContent #admin_tab .current{
	background-color: #286ebf;
	color: #fff;
}
#sectionContenWrapper #sectionContent #admin_tab .current a{
	color:white;
	}
#sectionContenWrapper #sectionContent #seller, #buyer, #register{
	width: 100%;
	height: auto;
	margin-top: 15px;
	display: none;
}

#sectionContenWrapper #sectionContent select.search{
	width: 130px;
	height: 30px;
	border:1px solid #ccc;
	padding-top: 5px;
	margin-left: 10px;
	float: left;
}
#sectionContenWrapper #sectionContent select.country{
	margin-left: 0px;
}
#sectionContenWrapper #sectionContent .text_search{
	width: 130px;
	height: 28px;
	border:1px solid #ccc;
	text-indent: 10px;
	float: left;
	margin-left: 10px;
}
#sectionContenWrapper #sectionContent .search_button{
	width: 140px;
	height: 30px;
	float: right;
	background:url(../../../../images/admin/search.png) no-repeat;
	border:none;
	cursor: pointer;
}
#sectionContenWrapper #sectionContent .tab_content{
	width: 100%;
	height: auto;	
	margin-bottom: 20px;
	float: left;
}
#sectionContenWrapper #sectionContent .tab_content table{
	width: 100%;
	height: auto;	
	border-collapse: collapse;
	margin-top: 10px;
}



#sectionContenWrapper #topMenu{
	width: 230px ;		
	height: auto;
}
#sectionContenWrapper #sectionSidebar{
	width: 230px ;
	float: left !important;
}
#sectionWrapper #topMenu a{
	color: #424242;
	font-size: 12px;

}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style: none;	
	margin-top: 25px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	background: url("../../../../images/common/sidebar/arrow-liststyle.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #ccc;
    height: 27px;
    padding: 12px 0 25px 30px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li.first_child{

    border-top: 1px dotted #ccc;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	color: #424242;
    font-size: 14px;
    text-decoration: none;
}