.item-wrap {
    padding: 5px;
}
.html-content {
    padding:5px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display: none;
    float: left;
}