.button_delete{
    padding:5px 20px;
    color:white;
    cursor: pointer;
    border: none;
   background: #ff6f5f; /* Old browsers */
background: -moz-linear-gradient(top,  #ff6f5f 0%, #fb3333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6f5f), color-stop(100%,#fb3333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff6f5f 0%,#fb3333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff6f5f 0%,#fb3333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff6f5f 0%,#fb3333 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff6f5f 0%,#fb3333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f5f', endColorstr='#fb3333',GradientType=0 ); /* IE6-9 */

}
.button_add{
    float: right;
    padding:5px 20px;
    color:white;
    cursor: pointer;
    border: none;
    background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}
.button_edit{
   
    padding:7px 20px;
    margin-right:5px;
    color:white;
    cursor: pointer;
    border: none;
    background: #6bba70; /* Old browsers */
background: -moz-linear-gradient(top,  #6bba70 0%, #6bba70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bba70), color-stop(100%,#6bba70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6bba70 0%,#6bba70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */

}
.button_wrapper{
    text-align: right;
}
.button_wrapper form{
    float:right;
}
.button_delete:hover, .button_add:hover, .button_edit:hover{

    opacity: 0.7;
}
 
.item-wrap {
    padding: 5px;
}
.html-content {
    padding:5px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display: none;
    float: left;
}
.member-setting-wrapper td, .member-setting-wrapper th{
    padding:10px;
}
.member-setting-wrapper input[type=text]{
    padding:5px;
}
#member_type_wrapper{
    width:100%;
}
.row_add td{
    border-top:1px solid grey;
}