.button_delete{
    padding:5px 20px;
    color:white;
    cursor: pointer;
    border: none;
   background: #d70000; /* Old browsers */
background: -moz-linear-gradient(top,  #d70000 93%, #601414 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(93%,#d70000), color-stop(94%,#601414)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d70000 93%,#601414 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d70000 93%,#601414 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d70000 93%,#601414 94%); /* IE10+ */
background: linear-gradient(to bottom,  #d70000 93%,#601414 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70000', endColorstr='#601414',GradientType=0 ); /* IE6-9 */

}
.button_add{
    float: right;
    padding:5px 20px;
    color:white;
    cursor: pointer;
    border: none;
    background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}
.button_edit{
   
    padding:7px 20px;
    margin-right:5px;
    color:white;
    cursor: pointer;
    border: none;
    background: #6bba70; /* Old browsers */
background: -moz-linear-gradient(top,  #6bba70 0%, #6bba70 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bba70), color-stop(100%,#6bba70)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6bba70 0%,#6bba70 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6bba70 0%,#6bba70 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */

}
.button_wrapper{
    text-align: right;
}
.button_wrapper form{
    float:right;
}
.button_delete:hover, .button_add:hover, .button_edit:hover{

    opacity: 0.7;
}
#button_search{
    padding:5px 20px;
    cursor: pointer;
    background: #0064b3; /* Old browsers */
background: -moz-linear-gradient(top,  #0064b3 0%, #0064b3 91%, #00115e 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064b3), color-stop(91%,#0064b3), color-stop(95%,#00115e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* IE10+ */
background: linear-gradient(to bottom,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064b3', endColorstr='#00115e',GradientType=0 ); /* IE6-9 */
color:white;
border:none;
}
.button_td{
    text-align: right;
}
#countrySelect{
    margin-left:20px;
    margin-right:5px;
}
.city_table{
    width:100%;
    margin-top: 10px;
    
}
.city_table td, .city_table th{
    padding:10px;
}
.city_table td{
    background-color: #f4f4f4;  
    border:1px solid #ccc;  
}
.city_table th{
    background-color: #f4f4f4;  
    border:1px solid #ccc;  
}
.city_table .even{
    background: #EFEFEF;
}
.city_table .odd{
    background: #F7F7F7;
}
.city_text{
    padding:5px;
}
.button_td a{
    float: left;
    margin-left: 30px;
}
.item-wrap {
    padding: 5px;
}
.html-content {
    padding:5px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display: none;
    float: left;
}
.member-setting-wrapper td, .member-setting-wrapper th{
    padding:5px 10px;
}
.member-setting-wrapper input[type=text]{
    padding:5px;
}
#member_type_wrapper{
    width:100%;
}
.row_add td{
    border-top:1px solid grey;
}
#countrySelect{
    padding:5px;
    width: 230px;
}
.page_title{
    color: #1c52b5;
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.selected_button_wrapper{
    padding-top:20px;
    text-align: left;
    padding-bottom: 10px;
}
.selected_button{
    cursor: pointer;
    padding:5px 10px;
    font-size: 12px;
}
.selected_button:hover{
    opacity: 0.7;
}
#save_changes{

    background: #0064b3; /* Old browsers */
background: -moz-linear-gradient(top,  #0064b3 0%, #0064b3 91%, #00115e 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064b3), color-stop(91%,#0064b3), color-stop(95%,#00115e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* IE10+ */
background: linear-gradient(to bottom,  #0064b3 0%,#0064b3 91%,#00115e 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064b3', endColorstr='#00115e',GradientType=0 ); /* IE6-9 */
color:white;
border:none;
}
#delete_selected{
    background: #d70000; /* Old browsers */
background: -moz-linear-gradient(top,  #d70000 93%, #601414 94%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(93%,#d70000), color-stop(94%,#601414)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d70000 93%,#601414 94%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d70000 93%,#601414 94%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d70000 93%,#601414 94%); /* IE10+ */
background: linear-gradient(to bottom,  #d70000 93%,#601414 94%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d70000', endColorstr='#601414',GradientType=0 ); /* IE6-9 */

color:white;
border:none;
}




#city_table_wrapper{
    position: relative;
}