.h2Line {
    border-bottom: 1px solid #CCC;
    color: #666;
}

.imgItem {
    width:210px;
    overflow: hidden;
    float: left;
    margin: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    position: relative;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.imgItem .remove-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.vidWrap {
    width: 695px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    position: relative;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.vidWrap .title {
    display: inline-block;
    width: 90px;
    font-weight: bold;
}
.vidWrap .remove-btn {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.uploadForm {
    width: 695px;
    overflow: hidden;
    margin: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    position: relative;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}