/* form style */
#form-wrap {
    width: 708px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
#form-wrap .title-label {
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    text-transform: uppercase;
}
#form-wrap .content-label {
    width: 533px;
}

/* top steps images */
#stepper-wrap {
    width: 730px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 12px;
    color: #FFF;
    text-shadow: #666 0 1px;
    font-weight: bold;
}
#step1 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s1.png') no-repeat left;
    text-indent: 30px;
}
#step2 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s2.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step3 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s3.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step4 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s4.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#stepper-wrap .inner-step-p {
    display: block;
    width: 179px;
    float: left;
    margin: 0;
}
#stepper-wrap .unselected-p {
    color: #333;
    text-shadow: #FFF 0 1px;
}

/* fix input append/prepend */
.inputap {
    margin-left: 1px;
}

/* feature icons */
.icons-wrap {
    width: 710px;
    height: 50px;
    padding: 10px;
}
.icons-wrap img {
    display: block;
    float: left;
    margin-right: 20px;
}
.icons-wrap label {
    display: block;
    height: 50px;
    line-height: 50px;
}

/* step content wrappers */
#form-wrap #content1 {
    
}
#form-wrap #content2 {
    display: none;
}
#form-wrap #content3 {
    display: none;
    
}
#form-wrap #content4 {
    display: none;
    
}

.img-wrap {
    width: 210px;
    height: 190px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}