/* 
    Hack for firefox only.
*/
@-moz-document url-prefix() {
    input.btn[type="submit"] {
        height: 30px !important;
		float:right;
    }
    input.btn[type="file"] {
        border: 1px solid #CCC !important;
    }
}
