.main-div{
	width:958px;
	height:auto;
	margin:62px auto 0px;
	padding:0 auto;
	border:1px solid #CCC;
	border-radius:5px;
	}
.brick{
	margin-right:10px;
	}
.page-title{
	width:939px;
	padding:10px 10px;
	border-bottom:1px solid #CCC;
	color:#2a6ac1;
	font-size:16px;
}

#content-seller{
	
	overflow: auto;
	}
#sub-content{
	float:left;
	border-right:1px solid #CCC;
	width:412px;
	padding-left:52px;
	}
.sub-content-right{
	float:right;
	width:411px;
	padding-left:48px;
	margin-right:32px;
	}
#submit_send{
	float: right;
	cursor: pointer;
	background: rgb(44,83,158); 
	background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); 
	background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); 
	background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);  
	filter: progidDXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );
	border: none;
	padding:5px 15px;
	color: white;
	border-radius: 5px;
}
.clear{
	clear:both;
	}
.textbox{
	margin-top:15px;
	margin-bottom:15px;
	width:300px;
	border:1px solid #CCC;
	height:25px;
	margin-left:26px;
	text-indent:5px;
	}
#label{
	text-align:right;
	}
.detail{
	width:300px;
	margin-left:26px;
	height:100%;
	padding-bottom:15px;
	margin-top:15px;
	margin-bottom:15px;
	border:1px solid #CCC;
	}
.line{
	background:#0066b9;
	margin:19px 15px 9px 15px;
	height:3px;
	}
.image{
	margin-left:15px;
	}
#content-text{
	float: right; width:120px; color:#666;
	font-size:11px;
	margin-right:10px;
	}
.textarea{
	margin-bottom:15px;
	resize:none;
	margin-left:26px;
	width:300px;
	height:142px;
	text-indent:5px;
	}
.label-textarea{
	display:block;
	}
.btn-send{
	float:right;
	}
.text-detail{
	padding-top:3px;
	}
.label-sell{
	margin-left:26px;
	}

/* TAB CONTENT */
.tab-content {
	display: none;
	float: left;
}
.tab-1 {
	display: block;
	padding-bottom: 19px;
}
.tabs-menu, .tabs-menu li {
	float: left;
	height: 40px;
}
.tabs-menu {
	background: url('../../../../images/contact-seller/tab-1.png') no-repeat;
	width: 100%;
}
.btnclose{
	float:right;
	}
.tabs-menu li {
	width: 119px;
	position: relative;
	overflow: hidden;
}
.tabs-menu li a {
	position: absolute;
	width: 100%;
	height: 100%;
	text-indent:120px;
}
.content-area {
	padding: 0 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-top:1px solid #ccc;
}

#tabs-container .tab {
	background-color: #fbf9f6;
	float: left;
	
	width: 238px;
	border-style: solid;
	border-color: transparent #ccc #ccc #ccc;
	border-width: 1px;
	border-top: none;
}

#tabs-container .tab .text {
	width: 208px;
	height: 24px;
	background: url('../../../../images/contact-seller/20140811-pop-up-sign-in.png') no-repeat;
	border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px;
	line-height: 24px;
	color: #adadad;
	font-family: Arial;
	font-size: 10px;
	float: left;
}
#tabs-container .tab .short-text {
	width: 86px;
	background: url('../../../../images/contact-seller/short-text.png') no-repeat;
	float: right;
}
#tabs-container .tab .label {
	font-family: Arial;
	font-size: 12px;
	color: #000;
	//padding: 10px 0;
	float:left;
	width: 100%;
}
#tabs-container .tab .label .star {
	color: #ff0000;
	margin-left: 3px;
}
#tabs-container .tab table {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}
#tabs-container .tab .tab-2 table {
	float: left;
}
#tabs-container .tab table td {
	padding: 10px 0 6px;
}
#tabs-container .tab .tab-2 table td {
	padding: 0;
}
#tabs-container .tab table .check {
	width: 15px;
	height: 15px;
	float: left;
	position: relative;
	top: -1px;
	margin-right: 3px;
}
input.submit {
	float: right;
}
.inquiry-button {
    background: linear-gradient(to bottom, #3061be 0%, #166fcd 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
   	height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
    min-width: 30px;
    padding: 0px !important;
    width: 80px;
}
/**input.btn-submit {
	border: none;
	width: 71px;
	height: 30px;
	background: url('../../../../images/contact-seller/bt-send.png') no-repeat;
	cursor: pointer;
}
**/#tabs-container .tab .tab-2 input.submit {
	padding: 15px 0;
}
#tabs-container .tab table a {
	color: #000;
}
#tabs-container .tab table p {
	padding-top: 3px;
}
.tab-content ul {
	width: 188px;
	margin: 0 auto;
	padding-top: 18px;
}
.tab-content ul li {
	float: left;
	margin-top: 10px;
}
.tab-content ul li:first-child {
	margin-top: 0;
}
.tab-content ul li img {
	display: block;
}
.content-area select {
	float: left;
	height: 24px;
	width: 100%;
	border: 1px solid #aeaeb0;
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
}
.tab-2 .content-area {
	border: none;
	float: left;
}
.sign_in{
	float: right;
	cursor: pointer;
	background: rgb(44,83,158); 
	background: -moz-linear-gradient(top,  rgba(44,83,158,1) 0%, rgba(44,83,158,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,83,158,1)), color-stop(100%,rgba(44,83,158,1))); 
	background: -webkit-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); 
	background: -o-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);
	background: -ms-linear-gradient(top,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,83,158,1) 0%,rgba(44,83,158,1) 100%);  
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 );
	border: none;
	padding:5px 15px;
	color: white;
	border-radius: 5px;
	}
