.tick_list{
	background: url("images/tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top:2px;
}
.div_acc{
	padding-top:5px;
	width:auto;
	height:auto;
	}

.clear{
	clear:both;
	}
#div_social{
	margin:15px 15px 0 15px;
	}
#div_social ul li{
	display:inline;
	}
.bgBox{	
	width: 100%;
}
.bgBox .divTitle{
	margin: 0 10px;
	padding: 30px 0 5px 0;
	margin-bottom: 20px;
	border-bottom: 2px solid #0071BA;
	position: relative;
	z-index: 7;
}
.bgBox .divTitle span{
	font-size: 18px;
	font-weight: 700;
	color: #0071BA;
	padding-left: 5px;
}
.bgBox ul {
	padding:0 10px;
	margin-top: -1px;	
}
.bgBox ul li{	
	border-bottom: 2px solid #b6c8d5;
	background: #FFFFFF;
	/*height: 132px;*/
	margin-top: 20px;		
}
.bgBox ul li .divimg{
	width: 130px;	
	height: 130px;
	float: left;
}
.bgBox ul li img{
	width: 130px;	
	height: 130px;
}
.bgBox ul li .divText{	
	padding: 15px 10px 10px 10px;	
	width: 150px;	
	float: left;
}
.bgBox ul li p.title{
	color: #005a94;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}
.bgBox ul li p.borderTop{
	font-size: 11px;
	color: #757575;	
	border-bottom: 1px solid #cccccc;
	padding:5px 0;
}
.bgBox ul li p.borderTop span{
	float: right;
}
.bgBox ul li p.price{
	font-size: 12px;
	color: #db0000;	
	/*border-top: 1px solid #cccccc;*/
	text-align: center;	
}
.bgBox ul li p.price span.price{
	position: relative;
	top: 5px;
}
.popbox_contact{
	display:none; background:url(../../../../img/public_car_detail/contact-seller.png) no-repeat; 
    width:320px; height:400px; position:absolute; margin-left:-88px; margin-top:-4px; z-index:9999;
	}
.popbox_contact .text_email{
	width:245px; margin:55px 36px 15px 36px; padding:5px 0; border:1px solid #CCC; text-indent:5px; background:#FFF;
	}
.popbox_contact .text_message{
	margin:0 36px 15px 36px; width:245px; height:100px; resize:none; border:1px solid #ccc; text-indent:5px; background:#FFF;
	}
.popbox_contact .sends{
	background:url(../../../../img/public_car_detail/contact-seller-send.png); border:none; width:132px; height:30px; float:right;
	margin-right:36px; 
	}
	
/** Edit **/
.title-special-deal {
  padding-top:7px;
  padding-bottom:7px;
  background-color:#e8e8e8;
  color:#005a94;
  text-align:center;
  border-bottom:2px solid #dcdcdc;
}
/** Edit **/	