
#wrapper-feedback{
	width:1162px;
	margin:50px auto 100px auto;
}
#feedback .page-title{
	width:100%;
	border-bottom:2px solid #0f649a;
	padding:5px 0;
	margin-bottom:30px;
	color:#0071ba;
	font-size:19px;
}
#feedback {
	width: 1162px;
	height:auto;
	font-family: "Trebuchet MS";
	background:#f2f4f5;
	padding:20px;
	border-bottom:5px solid #bbc5ca;
}
.form-feedback{
	border:1px solid #cacaca;
	padding:20px; 
	margin-bottom:50px;
	position:relative}

#feedback .status{
	position:absolute;
	top:-22px;
	left:8px;
	background:#f2f4f5;
	padding:10px;
	color:#0071ba;
	font-size:15px;
	margin-bottom:20px;
	}
.form-feedback label{
	float:left;
	display:inline-block;
	width:120px;
	margin-top:10px}
.web-rate{
	width:700px;
	height:auto;
	font-size:14px;
	border:1px solid #cacaca}
.web-rate th{
	background:#a6d9ef;
	height:30px;
	font-weight:100;
	border-bottom:1px solid #cacaca;
	text-align:center}
.web-rate td{
	height:30px;
	width:150px;
	border-bottom:1px solid #cacaca;
	text-align:center}
#feedback-send{
	border:none;
	background:url(../../../../images/submit.png) no-repeat;
	width:150px;
	padding-left:5px;
	padding-right:20px;
	height:30px;
	color:#FFF;
	font-size:15px;
	}