.searchForm {
    width: 708px;
    overflow: hidden;
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.tabDiv {
    width: 216px;
    padding: 10px;
    overflow: hidden;
    float: left;
}