
#wrapper-register-login{
	width:1162px;
	height:auto;
	margin:50px auto 200px auto;
}
#register .page-title{
	width:100%;
	border-bottom:2px solid #0f649a;
	padding:5px 0;
	margin-bottom:30px;
	color:#0071ba;
	font-size:19px;
}
#register .status{
	width:100%;
	padding:5px 0;
	margin-bottom:20px;
	color:#2b2b2b;
	font-size:16px;
}
#login .page-title{
	width:100%;
	border-bottom:2px solid #ececec;
	padding:5px 0;
	margin-bottom:30px;
	color:#FFF;
	font-size:19px;
}
#register {
	float: left;
	width: 1162px;
	height:auto;
	font-family: "Trebuchet MS";
	background:#f2f4f5;
	padding:20px;
	
	border-bottom:5px solid #bbc5ca;
}
/*#login{
	float: left;
	width: 437px;
	height:400px;
	font-family: "Trebuchet MS";
	background:#0071ba;
	padding:20px;
	
	border-bottom:5px solid #0f649a
	}*/
#register .vehicle-info-table, #login .vehicle-info-table {
	width: 90%;
	border-collapse: collapse;
}
#register .vehicle-info-table td {
	width: 30%;
}
#register .form-control, #login .form-control {
	padding-left: 35px;
	box-shadow: none;
	font-size:14px;
	
}
#register .form-group, #login .form-group {
	height: 52px;
	margin: 0;
	width:260px;
}
#upload_img{
	color:#005a94;
	border:none;
	background:url(../../../../images/register/upload.png) no-repeat;
	width:95px;
	height:30px;}
#delete_img{
	color:#e74146;
	border:none;
	margin-left:20px;
	background:url(../../../../images/register/delete.png) no-repeat;
	width:95px;
	height:30px;}
#register .help-block {
	margin: 0;
	font-size: 11px;
	width:340px;
	padding:5px 0;
	color:#C33;
}
#register .security {
	width: 50%;
	float:right;
	position:relative;
	left:60px;
	top:-7px
}
#buttom_right .inquiry-button{
	border:none;
	/*background: url(../../../../images/submit.png) no-repeat;*/
	width:132px;
	height:30px;
	color:white;
	cursor:pointer;
	}
#buttom_right .inquiry-login{
	border:none;
	background: url(../../images/log-in.png) no-repeat;
	width:132px;
	height:30px;
	position:relative;
	left:143px;
	
	}
#forget div a{
	color:#FFF;}
#forget div a:hover{
	background:none;
	text-decoration:underline}
#social ul{
	margin-top:70px}
#user_id {
	background: url('../../../../img/public_sign_up/id.png') no-repeat 10px center #fff;
}
#user_id:focus {
	background: url('../../../../img/public_sign_up/_id.png') no-repeat 10px center #fff;
}
#com_name {
	background: url('../../../../img/public_sign_up/company.png') no-repeat 10px center #fff;
}
#com_name:focus {
	background: url('../../../../img/public_sign_up/_company.png') no-repeat 10px center #fff;
}
#email {
	background: url('../../../../img/public_sign_up/mail.png') no-repeat 10px center #fff;
}
#email:focus {
	background: url('../../../../img/public_sign_up/_mail.png') no-repeat 10px center #fff;
}
#address {
	background: url('../../../../img/public_sign_up/address.png') no-repeat 10px top #fff;
}
#address:focus {
	background: url('../../../../img/public_sign_up/_address.png') no-repeat 10px top #fff;
}
#website {
	background: url('../../../../img/public_sign_up/address.png') no-repeat 10px top #fff;
}
#website:focus {
	background: url('../../../../img/public_sign_up/_address.png') no-repeat 10px top #fff;
}
#address_seller {
	background: url('../../../../img/public_sign_up/address.png') no-repeat 10px top #fff;
}
#address_seller:focus {
	background: url('../../../../img/public_sign_up/_address.png') no-repeat 10px top #fff;
}
#company_des {
	background: url('../../../../img/public_sign_up/comment.png') no-repeat 10px top #fff;
}
#company_des:focus {
	background: url('../../../../img/public_sign_up/_comment.png') no-repeat 10px top #fff;
}
#company_des {
	background: url('../../../../img/public_sign_up/comment.png') no-repeat 10px top #fff;
}
#company_des:focus {
	background: url('../../../../img/public_sign_up/_comment.png') no-repeat 10px top #fff;
}
#sex {
	background: url('../../../../img/public_sign_up/option.png') no-repeat 10px center #fff;
}
#member_type {
	background: url('../../../../img/public_sign_up/option.png') no-repeat 10px center #fff;
}



#sex:focus {
	background: url('../../../../img/public_sign_up/_option.png') no-repeat 10px center #fff;
}
#password, #passwords {
	background: url('../../../../img/public_sign_up/key.png') no-repeat 10px center #fff;
}
#password:focus, #passwords:focus {
	background: url('../../../../img/public_sign_up/_key.png') no-repeat 10px center #fff;
}
#mobile {
	background: url('../../../../img/public_sign_up/phone.png') no-repeat 10px center #fff;
	float: right;
}
#mobile:focus {
	background: url('../../../../img/public_sign_up/_phone.png') no-repeat 10px center #fff;
}

/* Edit 05/11/2014
--------------------------------------------------------- */
form table .form-group span.err {
	font-size: 12px;
	color: #CCCCCC;	
}

/* Edit 09/01/2015
--------------------------------------------------------- */
#register .vehicle-info-table td.tdRight select {
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
	z-index: 99;
}
#register .form-group, #login .form-group {
	height: 58px;
}
.form-group small {	
	line-height: 11px;
}