
#head404 {
    background: url('../../../../image/404_bg.jpg') no-repeat;
    width: 500px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#inner-content {

 float: none !important;

}
.header_error{
 font-size: 14px;
}
