#main-control{
	width:958px;
	margin:0 auto;
	padding:0 auto;
	margin-top:32px;
	border-radius:5px;
	margin-bottom:7%;
	}
.page-title{
	width:100%;
	height:50px;
	border-top:4px double #ccc;
	border-bottom:4px double #ccc;
	color:#000000;
	font-size:24px;
	text-align:center;
	}
.page-title #title{
	width:40px;
	float:left;
	}
.page-title .title-left{
	width:85px;
	margin-left:400px;
	float:left;
	}
.space{
	margin-left:20px;
	}
.first{
	padding-top:5px;
	font-size:30px;
	color:#2e65b7;
	font-weight:600;
	text-align:center;
	}
.second{
	padding-top:15px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	}
.third{
	text-align:center;
	font-size:15px;
	font-weight:500;
	}
.fourth{
	padding-top:15px;
	text-align:center;
	font-size:14px;
	padding:15px 0;
	
	font-weight:bold;
	}
.five{
	font-size:14px;
	font-weight:500;
	text-align:center;
	}
.sixth{
	color:#0000ff;
	font-size:14px;
	text-align:center;
	}


