
#wrapper-register-login{
	width:1162px;
	margin-top:50px;
	margin-bottom:200px;
	margin-left:97px;
}
#register .page-title{
	width:100%;
	border-bottom:2px solid #0f649a;
	padding:5px 0;
	margin-bottom:30px;
	color:#0071ba;
	font-size:19px;
}
#register {
	float: left;
	width: 1162px;
	height:auto;
	font-family: "Trebuchet MS";
	background:#f2f4f5;
	padding:20px;
	
	border-bottom:5px solid #bbc5ca;
}

#register .next{
	float:right;
	color:#FFF;
	padding:5px 45px 8px 45px;
	font-size:16px;
	border:none;
	background:url(../../../../images/register/bg_next.png) no-repeat}
#register .next:hover{
	color:#bbc5ca}
.member label{
	width:130px;}
