/* car list wrapper */
#car-list-wrapper {
    width: 730px;
    overflow: hidden;
}
#car-list-wrapper .car-item-wrapper {
    width: 708px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #CCC;
    margin-bottom: 15px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
#car-list-wrapper .main-image {
    display: block;
    float: left;
    margin-right: 15px;
}
#car-list-wrapper .img-item {
    width: 300px;
    height: 200px;
}
#car-list-wrapper .img-thumb-item {
    width: 74px;
    height: 50px;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
    display: block;
}
/* image gallery tabs for interior, exterior and video */
#car-list-wrapper .item-gallery {
    width: 360px;
    overflow: hidden;
}
#car-list-wrapper .item-gallery .btn-img {
    margin-right: 15px;
    font-weight: bold;
}
#car-list-wrapper .item-gallery .btn-img i {
    margin-right: 10px;
}
#car-list-wrapper .item-gallery .tab {
    margin-top: 10px;
}

/* features */
#car-list-wrapper .features-wrapper {
    display: block;
    width: 708px;
    overflow: hidden;
}
#car-list-wrapper .features-wrapper .feature-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

/* handle controls for price, fav btn and reserve btn */
.handle-wrapper {
    display: block;
    width: 708px;
    margin-top: 15px;
}
.handle-wrapper .toolbar-wrapper {
    float: right;
    width: auto;
    padding: 10px;
    background: #F7F7F7;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: right;
}
.handle-wrapper .label-wrap {
    float: left;
    display: block;
    font-size: 32px;
    color: #006600;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-indent: 5px;
}

/* eco icon */
.ecoIcon {
    position: absolute;
    z-index: 9999;
}

/* bottom pagination */
#bpagination {
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #F7F7F7;
    margin-bottom: 15px;
    padding: 10px;
}
#bpagination a {
    display: inline-block;
    width: 35px;
    height: 21px;
    border: 1px solid #CCC;
    text-align: center;
    text-decoration: none;
    color: #CCC;
    margin-right: 6px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
}
#bpagination a:hover {
    background-color: #0092ef;
    color: #FFF;
    border: 1px solid #0044cc;
}
#bpagination .selectedbtn {
    background-color: #0092ef;
    color: #FFF;
    border: 1px solid #0044cc;
}

/* logo buttons */
#maker-wrap {
    border: 1px solid #CCC;
    padding: 10px;
    width: 124px;
    margin-left: 45px;
    margin-top: 35px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 5px 5px #F7F7F7;
    -moz-box-shadow: 0 0 5px 5px #F7F7F7;
    -ms-box-shadow: 0 0 5px 5px #F7F7F7;
    -o-box-shadow: 0 0 5px 5px #F7F7F7;
    -webkit-box-shadow: 0 0 5px 5px #F7F7F7;
}
#maker-wrap .logo-btn-wrap {
    width:124px;
    height:124px;
    display:block;
    float:left;
    background-position:124px 0px;
} #maker-wrap .logo-btn-wrap:hover {
    background-position:0px 0px;
}

/* grid wrapper */
#grid-header { /* this is the h4 xx results found header */
    float: right;
    width: 630px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: right;
    margin-bottom: 25px;
}
#grid-wrap {
    display: block;
    width: 90px;
    height: 30px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}
#grid-wrap #glarge {
    display: block;
    width: 45px;
    height: 30px;
    float: left;
    background: url(../../../../image/glarge.png) no-repeat left;
}
#grid-wrap #glarge .selected {
    background: url(../../../../image/glarge.png) no-repeat right;
}
#grid-wrap #gsmall {
    display: block;
    width: 45px;
    height: 30px;
    float: left;
    background: url(../../../../image/gsmall.png) no-repeat left;
}
#grid-wrap #gsmall .selected {
    background: url(../../../../image/gsmall.png) no-repeat right;
}
.hideall {
    width: 0px;
    height: 0px;
    overflow: hidden;
}