.item-wrap {
    width: 51px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: left !important;
    margin: 9px;
    padding: 5px;
    position: relative;
}
.item-wrap .ckb {
    position: absolute;
    top: -2px;
    left: 2px;
}
.item-wrap .title-item {
    font-size: 10px;
    font-style: italic;
    display: block;
    text-align: center;
}