.fav-wrap {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.fav-wrap img {
    float: left;
    margin-right: 30px;
}
.fav-wrap p {
    font-weight: bold;
}