.content-info {
    border: 1px solid #CCC;
    display: none;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}