@charset "utf-8";
/* CSS Document */
.listCarName > p, #carDetailWrap > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sms{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	width:100%;
	text-align:center;
	border-top:2px solid #2d63bd;
	border-bottom:2px solid #2d63bd}
#post{
	font-size:19px;
	font-weight:400;
	color:#2d63bd;
	text-align:left;
	border-bottom:2px solid #2d63bd}
	
 #carData{
	width:960px;
	height:auto;
}
#carData #carSourceWraper{
	width:960px;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:150px;
	height:300px;
	float:left;
	background:#f9f9f9;
	border:1px solid #ccc;
	padding: 5px 0 0 3px;
	margin: 5px 5px 0 0;
	position: relative;
}


#carSourceWraper .listCarName{
	width:145px;
	height:auto;
	border-bottom:2px solid #0064b3;
	min-height: 40px;
}
#carSourceWraper .listCarName p{
	font-size:11px;
	color:#424242;
	font-weight:bold;
	padding-bottom: 3px;

}
#carSourceWraper .listCarImg{
	width:145px;
	height:112px;
	margin-top: 10px;
}
#carSourceWraper .listCarImg img{
	width: 145px;
	height: 112px;
}
#carSourceWraper #carDetailWrap p.price{
	color: #c1272d;
}
#carSourceWraper #carDetailWrap p{
	font-size: 11px;
	color: #666;
	line-height: 16px;
	text-align: left;
}

	
	
	


