.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.warning-label{
	margin-top:20px;
	color:#910000;
	text-align: center;
}
.divBore{
	border:1px solid #d2d2d2;
	border-top:3px solid #0071ba;
	background:#FFF;
	padding-bottom:100px;
	margin-bottom:150px;
	margin-top:50px;
}
.divBore .titleTop {
	
	border-bottom: 1px solid #cacaca;
	padding: 15px 0;
	width: 96%;
	margin-left:2%;
	margin-right:2%;
}

.divBore .titleTop img { 
	max-width: 13px;
	width: 100%;
	max-height: 17px;
	height: 100%;
	display: inline;
}
.divBore .titleTop span { 
	font-size: 17px;
	font-weight: 700;
	color: #0071BA;
	padding-left: 15px;
	position: relative;
	top: 4px;
}


#sectionContenWrapper #search_wrap{
	width: 96%;
	margin-left:2%;
	margin-right:2%;
	padding-bottom:20px;
	height: auto;
	border-bottom: 1px solid #cacaca;}
#search_wrap table tr td .bgsearch select{	
	cursor: auto;
	background-color: transparent;
	border: 0 none;
	width:183px;
	box-shadow: none;
	display: block;
	font-size: 100%;
	line-height: normal;
	margin: 0;
		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	

	padding: 7px 5px;  
	position: relative;
	z-index: 99;	
}
#search_wrap table tr td .bgsearch1 input{
	width: 100%;
	display: block;
	font-size: 100%;
	margin: 0;
	padding: 6px 5px;
}

#search_wrap table tr td .bgsearch, 
#search_wrap table tr td .bgsearch1{
	padding: 6px 1px;
	margin-left:25px;	
    float:left;
    width: 183px;
    height: 40px;
    background: url("../../../../img/public_inventory/slt_search.png") no-repeat;
	background-size: 100% 36px;
	background-position:center;	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;	
	z-index: 1;	
    overflow:hidden;  
}
#search_wrap table tr td:first-child .bgsearch{
	margin-left:0px;}
#search_wrap table tr td .bgsearch:before {
	color: #0071BA;
	display: block;
	font-family: 'FontAwesome';	
	height: 33px;
	line-height: 35px;
	padding: 0 12px 0 0;	
	position: absolute;
	top: 4px;
	right: 3px;
	text-align: center;	
	z-index: 5;
}

select::-ms-expand {
	display: none; /* to ie 10 */
}
.bgsearch select:focus{
	outline: none;
}
:-moz-any(.bgsearch):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}
/* End customize select */
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
	text-indent: 0.01px;
	text-overflow: "";
}

/*  .button-go */
#search_wrap table tr td .search{
	width:80px;
	height:35px;
	background: url(../../../../img/public_inventory/go.png) no-repeat;
	border:none;
}
 
/* .display-result */

#search_wrap table tr td .display-result{
  float:left;
  font-weight:700;
  font-size:14px;
}
#search_wrap table tr td .display-result p{
 margin-top:20px;
 margin-left:20px;
}

.full_width_row{
	width: 100%;
	height:auto;
	overflow: auto;
	margin-bottom:10px
}
.full_width_row input{
	background:none;
	border:none;
	background:url(../../../../images/blue-button.png) no-repeat;
	width:132px;
	height:30px;
	padding-left:5px;
	color:#FFF;
	padding-right:5px;
	margin-left:4px;}
.full_width_row a{
	float:right;
	margin-right:15px}
.full_width_row a span{
	position:absolute;
	top:328px;
	margin-left:38px;
	color:#0f649a}
.full_width_row a span:hover{
	color:#093d5f}