.body_wrapper td{
    padding:5px;
}
.body_wrapper .label-td{
    width:120px;
}
.body_wrapper .user-input, .body_wrapper select{
    padding:5px;
    width:250px;
}
#submitbtn{
    float: right;
}



