.titleTop {
    border-bottom: 1px solid #cacaca;
    padding: 15px 0;
    width: 100%;
}
.titleTop img {
    display: inline;
    height: 100%;
    max-height: 17px;
    max-width: 13px;
    width: 100%;
}
.titleTop span {
    color: #0071ba;
    font-size: 16px;
    font-weight: 700;
    padding-left: 15px;
    position: relative;
    top: 4px;
}
label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}
#menuTab {
    margin-top: 20px;
    margin-bottom: 20px;
}

#menuTab ul li {
    background: url("../../../../img/user_add_new/bg/box_normal.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0071ba;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    max-width: 90px;
    padding: 0px 0;
    transition-duration: 0.5s;
    transition-property: background;
    transition-timing-function: linear;
    width: 100%;
}
ul li, ol li {
    list-style: outside none none;
}
#menuTab ul li p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;
    background-image: none;
     padding-left: 0;
}
/* form style */
#form-wrap {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: #0071ba #cacaca #cacaca;
    border-image: none;
    border-right: 1px solid #cacaca;
    border-style: solid;
    border-width: 2px 1px 1px;
    padding: 0 20px 80px;
    width: 100%;
}
#form-wrap .title-label {
    font-weight: bold;
    font-size: 12px;
    width: 160px;
    text-transform: uppercase;
    float: left;
    padding: 3px;
    -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#form-wrap .Number{
    font-weight: bold;
    font-size: 12px;
    width: 160px;
    text-transform: uppercase;
    float: left;
}
#form-wrap .content-label {
}
/* top steps images */
#stepper-wrap {
    width: 730px;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 12px;
    color: #FFF;
    text-shadow: #666 0 1px;
    font-weight: bold;
}
#step1 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s1.png') no-repeat left;
    text-indent: 30px;
}
#step2 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s2.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step3 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s3.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#step4 {
    width: 730px;
    height: 50px;
    line-height: 50px;
    background: url('../../../../image/s4.png') no-repeat left;
    text-indent: 30px;
    display: none;
}
#stepper-wrap .inner-step-p {
    display: block;
    width: 179px;
    float: left;
    margin: 0;
}
#stepper-wrap .unselected-p {
    color: #333;
    text-shadow: #FFF 0 1px;
}
#form-wrap label{
    display:inline;
    margin-right:10px;
}
#form-wrap label.bodytype{
    display:inline;
    margin-right:3px;
}
#submitbtn{
	background:#1368bc;
	}
/* fix input append/prepend */
.inputap {
    border-bottom:1px solid #DDDDDD;
    margin-left: 1px;
}

/* feature icons */
.icons-wrap {
    width: 710px;
    height: 50px;
    padding: 10px;
}
.icons-wrap img {
    display: block;
    float: left;
    margin-right: 20px;
}
.icons-wrap label {
    display: block;
    height: 50px;
    line-height: 50px;
}

/* step content wrappers */
#form-wrap #content1 {

}
#form-wrap #content2 {
    display: none;
}
#form-wrap #content3 {
    display: none;
}
#form-wrap #content4 {
    display: none;
}
.img-wrap {
    width: 210px;
    height: 190px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.input-prepend.inputap.option{
    overflow-x: hidden;
    overflow-y: auto;
}
.input-prepend.inputap.option > label{
        float: left;
    padding: 3px;
    width: 200px;
}
/*new css */
#currencySelect{
    width: auto;
}
.edit_haft_row:last-child{
    padding-left: 30px;
}
.edit_product_table{
    width:100%;
}
.edit_product_table tr:first-child td{
    padding-top:20px;
}
.edit_product_table td{
    vertical-align: top;
    padding-left:10px;
    padding-right:0px;
}
.edit_haft_row{
    width:50%;
    padding:5px;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.edit_haft_row:first-child{
    border-right:1px solid #ccc;
}
.edit_haft_row:last-child{
    padding-left:30px;
}

.edit_product_table input[type=text], .edit_product_table select{
    width:257px;
    padding:3px;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #888;
}
#milesInput, #priceInput{
    width:120px;
    margin-right: 10px;
}
.cc {
    width:172px !important;
    padding:3px;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #888;

}
.other_input{
    display:none;
    margin-left:160px;
    margin-top:5px;
}
/*---------for phone-----------*/
#form-wrap_truck{
   width: 100%;
   	-moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0px 0px 20px 0px;
    overflow: hidden;
    border:1px solid #ccc;
    border-radius: 5px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding:0px 0px 20px 0px;
   overflow: hidden;
   border:1px solid #ccc;
   border-radius: 5px;
}
#form-wrap_truck .title-label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
	width:48%;
    float: left;
    padding: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form-wrap_truck.Number{
    font-weight: bold;
    font-size: 12px;
    width: 130px;
    text-transform: uppercase;
    float: left;
}
/*#form-wrap-phone .content-label {
}*/
#form-wrap_truck label{
    display:inline;
    margin-right:10px;
}
#form-wrap_truck label.bodytype{
    display:inline;
    margin-right:3px;
}
#form-wrap_truck #content1 {

}
#form-wrap_truck #content2 {
    display: none;
}
#form-wrap_truck #content3 {
    display: none;
}
.edit_haft_row_truck{
    width:50%;
    padding:5px;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.edit_haft_row_truck:first-child{
    //border-right:1px solid #ccc;
}
.edit_haft_row_truck:last-child{
    padding-left:5px;
}

#form-wrap_truck table tr td select{
	width:49%;
	}
#form-wrap_truck table tr td select.midle{
	width:20%;
	}
#form-wrap_truck table tr td input.full{
	width:49%;
	}
#form-wrap_truck table tr td input.midletext{
	width:24%;
	}
#form-wrap_truck table tr td input.midletext0{
	width:40%;
	}
#form-wrap_truck table tr td input.midletext1{
	width:25%;
	}
