/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.th_subject{
	color:#2a6ac1;
}
.th_checkbox{
	width: 50px;
	padding:7px;
}
.th_msg_img{
	width:30px;
	padding-right:10px;
}
.th_name{
	width:200px;
	color:#2a6ac1;
}
.th_date{
	width:200px;
	color:#2a6ac1;
}
#message_form .msg_link{
	display: block;
	padding:10px 0;
	width:100%;
	height:100%;
}
#message_form .msg_check, #message_form #all_msg_check{
	display: block;
	margin:auto;
}
#message_form .status_inbox_seen_0 a{
	font-weight: bold;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:0 auto;
	}
#sectionWrapper #topMenu{
	width:960px;
	margin-top:20px;
}
#sectionWrapper #topMenu p{
	color:#0064b2;
	font-size:12px;
}
#sectionWrapper #topMenu a{
	color:#424242;
	font-size:12px;
}
#sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:25px;
}
#sectionSidebar #topSideBar ul{
	list-style:none;
}
#sectionSidebar #topSideBar ul li.first_child{
	border-top:1px dotted #ccc;
}
#sectionSidebar #topSideBar ul li{
	background:url(../../../../images/common/sidebar/arrow-liststyle.png) 10px center no-repeat;
	padding:12px 0px 0px 30px;
	border-bottom:1px dotted #ccc;
	height:27px;
}

#sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;
}
#sectionSidebar #contact_info{
	width:230px;
	height:30px;
	background:#0064b3;
	margin-top:25px;
}
#sectionSidebar #contact_info p{
	font-size:16px;
	color:#fff;
	padding:5px 0px 0px 15px;
}
#sectionSidebar #contact_detail{
	width:208px;
	height:203px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:10px;
}
#sectionSidebar #contact_detail p.title{
	font-size:14px;
	color:#000088;
	padding-top:0px;
}
#sectionSidebar #contact_detail p{
	font-size:12px;
	color:#424242;
	padding-top:10px;
	line-height:24px;
}
#sectionSidebar #contact_detail p span{
	padding-left:70px;
}
#sectionSidebar #contact_detail p a{
	color:#424242;
}
/*/////////////////////
///////////////////////
/*css for mainContent*/
#sectionContent{
	width:960px;
	height:auto;
	margin:  0 auto;
}
#sectionContent #my_item{
	width: 100%;
	height: auto;
	margin-top: 40px;
}
#sectionContent #my_item ul{
	list-style: none;
}
#sectionContent #my_item ul li{
	width: 25%;
	height: auto;
	float: left;
}
#sectionContent #payment_list, .page-title{
	width:705px;
	height:44px;
	margin-top:25px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;
	background:url(../../../../images/common/register_item/blue-brick.png) left center no-repeat;
}
#sectionContent #payment_list p, .page-title p{
	color:#282f7d;
	font-size:16px;
	padding:14px 0px 0px 25px;
}
#sectionContent #checking p span{
	padding-left:10px;
}
#sectionContent #checking p span a.my_inventory{
	color:#C1272D;
}
#sectionContent #checking{
	width:705px;
	margin-top:25px;
}
#sectionContent #checking p{
	font-size:12px;
	background:url(../../../../images/awaitingpayment/blue-arrow.png) left top no-repeat;
	color:#424242;
	padding-left:20px;
	line-height:16px;
}
#sectionContent #tab_wrap{
	width:100%;
	
	margin-top:30px;
	border-bottom:3px solid #e4e4e4;
}

#sectionContent #tab_wrap  p{
	font-size:12px;
	color:#424242;
	padding: 7px;
	text-align: center;
}
#sectionContent #tab_wrap #tab_history, #tab_inbox, #tab_sent, #tab_trash {
	
	height:27px;
	float:right;
	cursor:pointer;
	
}
#sectionContent #tab_wrap #tab_history, #tab_inbox{
	width: 120px;
	background:url(../../../../images/mywini/inbox.png) 20px center no-repeat;	
}
#sectionContent #tab_wrap #tab_inbox p{
	padding-left: 30px;
}
#sectionContent #tab_wrap #tab_history, #tab_sent{
	width: 130px;
	background:url(../../../../images/mywini/sent.png) 10px center no-repeat;	
}
#sectionContent #tab_wrap  #tab_sent p{
	padding-left: 30px;
}
#sectionContent #tab_wrap #tab_history, #tab_trash{
	width: 120px;
	background:url(../../../../images/mywini/trash.png) 20px center no-repeat;
}
#sectionContent #tab_wrap #check_all{
	float:left;
	
}

#sectionContent #tab_wrap #check_all a{
	color:#424242;
	text-decoration:none;
	font-weight:bold;
	font-size: 14px;
	padding-right: 5px;
	
}
#sectionContent #tab_wrap #check_all  a.compose span{
	margin-top: -3px;	
	float: left;
}
#sectionContent #tab_wrap #check_all a span{
	margin: 7px 5px 0 0;	
	float: left;
}
#sectionContent #tab_wrap #tab_history.awaiting, #tab_inbox {
	margin-left:0px;
}
#sectionContent #tab_wrap #tab_history.currentTab, #tab_inbox.currentTab, #tab_sent.currentTab, #tab_trash.currentTab{	
	background-color:#e4e4e4;
	height:28px;
	margin-top:0px;
	float: right;
}
#sectionContent #tab_detail{
	width:100%;
	height:auto;
}
#sectionContent #tab_detail table{
	width: 100%;
	border:0px;
	border-collapse:collapse;
}
#sectionContent #tab_detail table th{
	height:30px;
	vertical-align:middle;
	text-align:left;
	//background: #eef;
}
#sectionContent #tab_detail table tr:first-child{
	background: #f2f2f2;
	border-bottom:1px solid #ccc;
}
#sectionContent #tab_detail table tr{
	background: #fff;
}
#sectionContent #tab_detail table td{
	
	border-bottom:1px dotted #ccc;
	vertical-align:middle;
	text-align:left;
	
}
#sectionContent #tab_detail table th.thcol1{
	padding-left: 10px;
}
#sectionContent #tab_detail table td.tdcol1{
	padding-left: 10px;
	width: 70px;
}
#sectionContent #tab_detail table td.tdcol2{
	width:150px;
}
#sectionContent #tab_detail table td.tdcol3{
	width:285px;
	padding-right: 10px;
}
#sectionContent #tab_detail #inbox{
	width:705px;
	height:auto;
	border-bottom:1px dotted #ccc;
}
#sectionContent #tab_detail #inbox #inbox_row{
	padding:0px 5px 0px 5px;
	height:40px;
}
#sectionContent #tab_detail #inbox #inbox_row .check_box{
	float:left;
	margin-top:15px;
}
#sectionContent #tab_detail #inbox #inbox_row span {
	padding-top:13px;
	float:left;
}
#sectionContent #tab_detail #inbox #inbox_row span a{
	color:#424242;
}
#sectionContent #tab_detail #inbox #inbox_row span a:hover{
	color:#ccc;
}
#sectionContent #tab_detail #inbox #inbox_row span.sender{
	padding-left:10px;
}
#sectionContent #tab_detail #inbox #inbox_row span.title{
	padding-left:70px;
}
#sectionContent #tab_detail #inbox #inbox_row span.datetime{
	float:right;
}
#sectionContent #tab_detail #tab_title{
	width:705px;
	height:30px;
	background:#b2d0e8;
}
#sectionContent #tab_detail  ul{
	list-style:none;
}
#sectionContent #tab_detail  ul li{
	float:left;
	text-align:center;
	height:30px;
	padding-top:5px;
}
#sectionContent #tab_detail  ul li.date{
	width:150px;
}
#sectionContent #tab_detail  ul li.service{
	width:200px;
}
#sectionContent #tab_detail  ul li.period{
	width:200px;
}
#sectionContent #tab_detail  ul li.price{
	width:155px;
}
#sectionContent #tab_detail #tab_content_awaiting{
	width:705px;
	height:30px;
}
#sectionContent #tab_detail #tab_content_history{
	width:705px;
	height:30px;

}
#sectionContent #tab_detail .add_bg{
	background:#f0f0f0;
}
#sectionContent #paynow{
	width:705px;
	height:20px;
	text-align:center;
	margin-top:50px;
}
#sectionContent #paynow_detail{
	width:705px;
	height:auto;
	margin-top:50px;
}
#sectionContent #paynow_detail p{
	text-align:left;
	font-size:12px;
	color:#424242;
	line-height:24px;
}
#sectionContent #paynow_detail p span{
	color:#fb5b1c;
}

/*///////////My Freight Cost////////////////*/
#sectionContent #form_search{
	width:705px;
	margin-top:25px;
	overflow: auto;
}
#sectionContent #form_search table{
	border-collapse:collapse;
}
#sectionContent #form_search table tr{
	margin-top:5px;
}

#sectionContent #form_search table td{
	text-align: left;
	width:150px;
	height:40px;
}
#sectionContent #form_search table td.right_form{
	padding-left:20px;
}
#sectionContent #form_search table td .select_box{
	width:190px;
	height:30px;
	border:1px solid #ccc;
	margin-left:10px;
}
#sectionContent #form_search #search_btn{
	width:705px;
	text-align:center;
	margin-top:40px;
}
#sectionContent #form_search #search_btn .submit{
	width:110px;
	height:30px;
	background:url(../../../../images/myfreight_cost/search_button.png) no-repeat;
	cursor:pointer;
	border:none;
}
#sectionContent #result{
	width:705px;
	margin-top:20px;
	border-top:2px solid #0E65B1;
	padding-top:20px;
}
#sectionContent #result table{
	border-collapse:collapse;
	position: relative;
	margin-bottom: 30px;
}
#sectionContent #result table td{
	border:1px solid #ccc;
	text-align:center;
}
#sectionContent #result table td p{
	text-align:center;
}
#sectionContent #result table td.loading{
	width:118px;
	height:60px;
}
#sectionContent #result table td.destination{
	width:118px;
	height:60px;
}
#sectionContent #result table .blue_bg{
	background:#0064b3;
	border:none;
	border-right:1px solid #ccc;
	color:#fff;
}
#sectionContent #result table td.type{
	width:70px;
	height:60px;
}
#sectionContent #result table td.size{
	width:50px;
	height:60px;
}
#sectionContent #result table td.freight{
	width:100px;
	height:60px;
}
#sectionContent #result table td.red_text{
	color:#C1272D;
	font-weight:bold;
 }
#sectionContent #result table td.time{
	width:80px;
	height:60px;
}
#sectionContent #result table td.line{
	width:54px;
	height:60px;
}
#sectionContent #result table td.written{
	width:117px;
	height:60px;
}
/*////////My Inquiry/////////*/
#sectionContent #inquiry_search{
	width:705px;
	margin-top:25px;
}
#sectionContent #inquiry_search table{
	border-collapse:collapse;
}

#sectionContent #inquiry_search table td{
	height:40px;text-align:left;
}
#sectionContent #inquiry_search table td.all{
	width:50px;
}
#sectionContent #inquiry_search table td.car{
	width:55px;
}
#sectionContent #inquiry_search table td.truck{
	width:65px;
}
#sectionContent #inquiry_search table td.equipment{
	width:100px;
}
#sectionContent #inquiry_search table td.part{
	width:120px;
}
#sectionContent #inquiry_search table td.other{
	width:60px;
}
#sectionContent #inquiry_search #select_wrap{
	width:705px;
	height:30px;
}
#sectionContent #inquiry_search #select_wrap #select_left{
	float:left;
	width:180px;
}
#sectionContent #inquiry_search #select_wrap #select_right{
	float:right;
	width:505px;
}
#sectionContent #inquiry_search #select_wrap #select_left .make_selectbox{
	width:180px;
	height:30px;
	border:1px solid #ccc;
}
#sectionContent #inquiry_search #select_wrap #select_right .keyword_selectbox{
	width:505px;
	height:28px;
	border:1px solid #ccc;
}
#sectionContent #inquiry_search table td span{
	padding-left:10px;
}
#sectionContent #inquiry_search #search_btn{
	width:705px;
	text-align:center;
	margin-top:40px;
}
#sectionContent #inquiry_search #search_btn .submit{
	width:110px;
	height:30px;
	background:url(../../../../images/myfreight_cost/search_button.png) no-repeat;
	cursor:pointer;
	border:none;
}
#sectionContent #inquiry_search #show_cardetail{
	width:705px;
	height:auto;
	margin-top:40px;
}
#sectionContent #inquiry_search #show_cardetail #car_count{
	width:705px;
	height:25px;
	border-bottom:2px solid #0064B3;
}
#sectionContent #inquiry_search #show_cardetail #car_count p{
	font-size:12px;
	color:#424242;
}
#sectionContent #inquiry_search #show_cardetail #car_count p span{
	padding-left:20px;
}
#sectionContent #inquiry_search #show_cardetail .car_detail{
	width:685px;
	height:auto;
	padding:20px 0px 20px 20px;
	border-bottom:1px dashed #ccc;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_img{
	width:185px;
	height:105px;
	float:left;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_text{
	width:305px;
	height:105px;
	float:left;
	margin-left:35px;
	position:relative;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_text p{
	font-size:12px;
	color:#424242;
	line-height:18px;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_text p a{
	font-size:14px;
	font-weight:bold;
	color:#424242;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_text p span.hit{
	font-size:12px;
	bottom:0px;
	position:absolute;
	font-weight:normal;
}

#sectionContent #inquiry_search #show_cardetail .car_detail .car_date{
	width:120px;
	height:105px;
	float:right;
	position:relative;
}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_date p{
	font-size:12px;
	color:#424242;
	right:0px;
	position:absolute;

}
#sectionContent #inquiry_search #show_cardetail .car_detail .car_date span a{
	font-size:12px;
	color:#FB5B1C;
	position:absolute;
	bottom:0px;
	right:0px;
}
#sectionContent  #pagination{
	width:705px;
	height:auto;
	text-align:center;
	margin-top:30px;
}
#sectionContent  #pagination p{
	font-size:12px;
	color:#424242;
	text-align:center;
}
/*////////My Inventory////////*/
#sectionContent #inventory_search{
	width:705px;
	margin-top:25px;
}
#sectionContent #inventory_search #inventory_tab{
	width:705px;
	height:auto;
	border-bottom:1px solid #ccc;
}
#sectionContent #inventory_search #inventory_tab ul{
	list-style:none;
}
#sectionContent #inventory_search #inventory_tab ul li{
	height:20px;
	padding:5px 20px 0px 20px;
	float:left;
	background:#f2f2f2;
	margin-left:2px;
	border:1px solid #ccc;
	border-bottom:none;
	margin-top:3px;
	cursor:pointer;
}
#sectionContent #inventory_search #inventory_tab ul li.first_child{
	margin-left:0px;
}
#sectionContent #inventory_search #inventory_tab ul li.inventory_current{
	height:22px;
	border-top:2px solid #0064B3;
	margin-top:0px;
}
#sectionContent #inventory_search #inventory_tab #register_car{
	width:110px;
	height:20px;
	float:right;
	margin-top:3px;
}
#sectionContent #inventory_search .tab_all, .tab_car, .tab_truck, .tab_bus, .tab_equipment, .tab_part{
	width:705px;
	height:auto;
	margin-top:35px;
	display:none;
}

#sectionContent #inventory_search  .radio_wrap{
	width:705px;
	float:left;
}
#sectionContent #inventory_search .all_count{
	width:75px;
	float:left;
}
#sectionContent #inventory_search .sale_count{
	width:85px;
	float:left;

}
#sectionContent #inventory_search .waiting_count{
	width:75px;
	float:left;

}
#sectionContent #inventory_search  .selectbox_wrap{
	width:705px;
	margin-top:30px;
}
#sectionContent #inventory_search  .selectbox_wrap .make{
	width:178px;
	height:28px;
	border:1px solid #ccc;
}
#sectionContent #inventory_search  .selectbox_wrap .model{
	width:178px;
	height:28px;
	border:1px solid #ccc;
	margin-left:20px;
}
#sectionContent #inventory_search  .selectbox_wrap span{
	padding-left:10px;
}
#sectionContent #inventory_search  .selectbox_wrap .year_start{
	width:98px;
	height:28px;
	border:1px solid #ccc;
	margin-left:20px;
}
#sectionContent #inventory_search  .selectbox_wrap .year_end{
	width:98px;
	height:28px;
	border:1px solid #ccc;
	margin-left:10px;
}
#sectionContent #inventory_search #search_btn{
	width:705px;
	text-align:center;
	margin-top:40px;
}
#sectionContent #inventory_search #search_btn .submit{
	width:110px;
	height:30px;
	background:url(../../../../images/myfreight_cost/search_button.png) no-repeat;
	cursor:pointer;
	border:none;
}
#sectionContent  #invent_search{
	width: 705px;
	height: 30px;
	margin-top: 30px;
}
#sectionContent #inventory_search .category{
	width: 120px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: left;
	float: left;
	padding-top:4px;
}
#sectionContent #inventory_search .make_model{
	width: 120px;
	height: 30px;	
	border: 1px solid #ccc;
	text-align:left;
	float: left;
	margin-left: 15px;
	padding-top:4px;
}
#sectionContent #inventory_search .text_search{
	width: 188px;
	height: 28px;	
	border: 1px solid #ccc;
	float: left;
	margin-left: 15px;
	text-indent: 10px;
}
#sectionContent #inventory_search .search_button{
	width: 100px;
	height: 30px;	
	border:none;
	float: left;
	margin-left: 10px;
	background:url(../../../../images/my-inventory/search.png) no-repeat;
	cursor: pointer;
}
#sectionContent  #inventory_count{
	width:705px;
	height:40px;
	border-bottom:2px solid #0064B3;
	margin-top:40px;
}
#sectionContent  #inventory_count p{
	font-size:12px;
	color:#424242;
	float:left;
	padding-top:10px;
}
#sectionContent  #inventory_count .sort{
	width:178px;
	height:28px;
	border:1px solid #ccc;
	float:right;
}
#sectionContent  #inventory_count .label-sort{
	float:right;
}
#sectionContent  #inventory_carwrap{
	width:705px;
	height:auto;
}
#sectionContent  #inventory_carwrap table{
	width: 100%;
}
#sectionContent  #inventory_carwrap table td{
	vertical-align:middle;
	border-bottom:1px dashed #ccc;
	padding: 10px 0;
}
#sectionContent  #inventory_carwrap table td.check_box{
	width:30px;
}
#sectionContent  #inventory_carwrap table td.car_img{
	width:200px;
}
#sectionContent  #inventory_carwrap table td table td{
	border-bottom: none;
}
#sectionContent  #inventory_carwrap table td .car_detail td{
	vertical-align: top;
}
#sectionContent  #inventory_carwrap table td .car_detail td:first-child{
	width: 334px;
}
#sectionContent  #inventory_carwrap table td .car_detail span.title{
	font-weight:bold;
	font-size:14px;
}
#sectionContent  #inventory_carwrap table td .car_detail span.currency{
	color:#C1272D;
	font-weight:bold;
}
#sectionContent  #inventory_carwrap table td .car_detail span.price{
	color:#C1272D;
	font-weight:bold;
}
#sectionContent  #inventory_carwrap table td .car_detail .car_create_date{
	float:right;
}
#sectionContent  #inventory_carwrap table td .car_detail .action_button{
	float:right;
	margin-top:10px;
}
#sectionContent  #inventory_carwrap table td .button_wrap{
	float: right;	
}
#sectionContent  #inventory_carwrap table td .button_wrap .sold{
	width:50px;
	height:20px;
	background:url(../../../../images/common/button/sold.png) no-repeat;
	border:none;
	float:right;
	cursor:pointer;
	padding: 0;
	margin-left: 5px;
}
#sectionContent  #inventory_carwrap table td .button_wrap .reserved{
	width:58px;
	height:20px;
	background:url(../../../../images/common/button/reserved.png) no-repeat;
	border:none;
	cursor:pointer;
	float:right;
	padding: 0;
	margin-left: 5px;
}
#sectionContent  #inventory_carwrap table td .button_wrap .delete{
	width:50px;
	height:20px;
	background:url(../../../../images/common/button/delete.png) no-repeat;
	border:none;
	cursor:pointer;
	float:right;
	margin-left:5px;
	padding: 0;
}
#sectionContent  #inventory_carwrap table td .button_wrap .edit{
	float: right;
	margin-left: 5px;
	padding: 0;
}
.edit-delete{
	position:absolute; 
	top:60px;
	width:110px;
	right:0px;
}
.edit-delete .delete{
	position:absolute; 	
	width:50px;
	background:url(../../../../images/common/button/delete.png) no-repeat;
	border: none;
	cursor: pointer;;
	height: 20px;
	right:0px;
}
#sectionContent  #inventory_carwrap table td.car_action .edit{
	width:50px;
	height:20px;
	float:right;
	margin-right:5px;
	border:none;
	cursor:pointer;
}
#sectionContent #message-detail{
	width:100%;
	height:auto;
	margin-top:20px;
}
#sectionContent #message-detail p.message-detail{
	margin-top:20px;
	padding:10px;
	line-height:20px;
}
#sectionContent #message-detail .message{
	width:100%;
	height:auto;
}
#sectionContent #message-detail .message p{
	padding:0 10px;
	background:#b2d0e8;
	height:35px;
	font-weight:bold;
}
#sectionContent #message-detail .message p span{
	padding-top:9px;
}
#sectionContent #message-detail .message p span.sender{
	float:left;
}
#sectionContent #message-detail .message p span.date{
	float:right;
}
#sectionContent #message-detail table{
	border-collapse:collapse;
	margin-top:20px;
	width: 100%;
}
#message-detail table th th, #message-detail table th td{
	vertical-align:middle;
	height:34px;
	text-align:left;
	padding-left:10px;
}
#sectionContent #message-detail table th{
	background:#b2d0e8;
	border:1px solid #b2d0e8;
	padding:  10px;
}
#sectionContent #message-detail table td{
	border:1px solid #999999;
	padding:  10px;
}
#sectionContent #message-detail table td.vTop{
	vertical-align:top;
}
#sectionContent #message-detail table td p{
	color:#424242;
}
#sectionContent #message-detail table td p.message{
	padding:10px;
	width:470px;
}
#sectionContent #message-detail table td.tdl{
	width:150px;
	background:#e5eff7;
}

#sectionContent #message-detail table td.tdr{
	width:270px;
}
#sectionContent #message-detail table td.tdr490{
	width:490px;
}
#sectionContent #message-detail table td.borR0{
	border-right:0px;
}
#sectionContent #message-detail table td.borL0{
	border-left:0px;
}
#sectionContent #message-detail table td.borB0{
	border-bottom:0px;
}
#sectionContent #message-detail table td.tdpic{
	width:209px;
	padding:0px;
	text-align:center;
	vertical-align:top;
}
#sectionContent #message-detail #upload_attachment_progress{
	width: 0;
	height: 100%;
	background-color: red;
	transition: width 0.5s ease; 
}
#sectionContent #message-detail table td.tdpic p.pic{
	text-align:center;
	padding-top:30px;
}
#sectionContent #message-detail table td.tdpic p.pic img{
	width: 160px;
}
#sectionContent #message-detail table td.tdpic p{
	text-align:center;
	font-weight:bold;
	margin-top:10px;
}
#sectionContent #message-detail table td.tdpic p span{
	color:#C1272D;
}

#sectionContent .message-box a{
	color: #000;
}
/* apply pre */
#content{
	width:705px;
	height:auto;
	margin:60px auto 60px auto;
}
#content p{
	margin:0px;
	padding:0px;	
}
#content #apply_pre{
	width:705px;
	height:auto;	
}
#content #apply_pre #apple_title{
	width:705px;
	height:29px;
	border-bottom:1px solid #ccc;
}
#content #apply_pre #apple_title p{
	color:#282f7d;
	background:url(../../../../images/common/register_item/blue-brick.png) left center no-repeat;
	font-size:16px;
	padding-left:25px;
}
#content #apply_pre #select_type{
	width:705px;
	height:auto;
	margin-top:30px;
}
#content #apply_pre #select_type p{
	font-size:12px;
	color:#424242;
}
#content #apply_pre #service_wrap{
	width:705px;
	height:auto;
	margin-top:20px;
}
#content #apply_pre #service_wrap table{
	border-collapse:collapse;
}
#content #apply_pre #service_wrap table td{
	border:1px solid #ccc;
	padding:10px;
	vertical-align:top;
	height:auto;
	font-size:12px;
}
#content #apply_pre #service_wrap table td span{
	color:#C1272D;
}
#content #apply_pre #service_wrap table td.service{
	width:108px;
}
#content #apply_pre #service_wrap table td.item_service{
	width:557px;
}
#content #apply_pre #service_wrap table td .img{
	float:left;	
}
#content #apply_pre #service_wrap table td .text{
	float:left;
	padding:30px 0px 0px 10px;
}

#content #apply_pre #but_wrap{
	width:210px;
	height:30px;
	margin:40px auto 0 auto;
}

#content #apply_pre #but_wrap .send{
	width:100px;
	height:30px;
	background:url(../../../../images/common/button/send.png) no-repeat;
	float:left;
	border:none;
	cursor:pointer;
}
#content #apply_pre #but_wrap #cancel{
	width:100px;
	height:30px;
	float:right;
}
#popForm2 {
  background: url("../../../../images/mywini/poplay_ml.gif") repeat-y scroll left center rgba(0, 0, 0, 0);
  margin-top: 25px;
}
#popForm2 .form_mr {
  background: url("../../../../images/mywini/poplay_mr.gif") repeat-y scroll right center rgba(0, 0, 0, 0);
}
#popForm2 .form_mr .form_tLay {
  background: url("../../../../images/mywini/poplay_tc.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  height: 49px;
  overflow: hidden;
}
#popForm2 .form_mr .popBody {
  padding: 23px 49px 0;
}
#popForm2 .form_mr .popBody dl.poptitle {
  border-bottom: 2px solid #0064b3;
  height: 23px;
  margin-bottom: 20px;
  overflow: hidden;
}
#popForm2 .form_mr .popBody dl.poptitle dt {
  font-size: 16px;
  float: left;
}
#popForm2 .form_mr .popBody dl.poptitle dd {
  float: right;
  font-size: 11px;
  padding: 8px 15px 0 0;
}
#messPop {
  width: 100%;
}
#messPop .textarea {
  clear: both;
  padding-top: 5px;
}
.button4 {
  background-position: left top;
  height: 25px;
  padding: 0;
  vertical-align: middle;
}
#popForm2 .form_mr .form_bLay {
  background: url("../../../../images/mywini/poplay_bc.gif") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  height: 49px;
  overflow: hidden;
}
#popForm2 .form_mr .form_bLay .bl {
  float: left;
}
#popForm2 .form_mr .form_bLay .br {
  background: url("../../../../images/mywini/poplay_br.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: right;
  height: 49px;
  width: 49px;
}
#popForm2 .form_mr .form_tLay .tr {
  background: url("../../../../images/mywini/poplay_tr.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: right;
  height: 49px;
  width: 49px;
}
#popForm2 .form_mr .form_tLay .tl {
  float: left;
}
#popForm2 .form_mr .form_tLay .tr p {
  padding: 28px 23px 0 0;
  text-align: right;
}
#popForm2 .form_mr .form_tLay img {
  vertical-align: top;
}
#messPop p.byte {
  overflow: hidden;
  padding-top: 5px;
  text-align: right;
}
.inputLine {
  border: 1px solid #7F9DB9;
}
#messPop p.tt2 {
  padding: 10px 0 0;
  text-align: left;
}
#messPop p.tt5 {
  padding: 10px 0;
  text-align: left;
}
.btnCenter {
	margin-top: 13px;
  	text-align: center;
}

.button4 button, .button4 #submit{
	width:  110px;
	height: 30px;
	cursor:  pointer;
	background: url("../../../../images/myfreight_cost/send_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: none;
}

/* CUSTOME */
#inbox_submit, #outbox_submit, #trash_submit, #restore_msg_submit {
	display: none;
}
#check_all .msg_check {
	float: left;
}
#sectionContent #tab_wrap #check_all span a {
	float: right;
}
.alert {
	text-align: center !important;
}

/**** TOGGLE SIDEBAR ****/

#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.linkexpand{
	border: none;
	
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.linkexpand ul{
	margin-top: 10px;
	display: none;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.linkexpand li{
	border: none;
	background: url("../../../../images/common/sidebar/arrow-liststyle-small.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
	padding:12px 0 0 20px;
	}
/**** TOGGLE SIDEBAR ****/

#sectionSidebar #topSideBar ul li.linkexpand{
    border: none;
    
}
#sectionSidebar #topSideBar ul li.arrowdown{
	background: url("../../../../images/common/sidebar/arrow-liststyle-down.png") no-repeat scroll 10px center rgba(0, 0, 0, 0)
}
#sectionSidebar #topSideBar ul li.linkexpand ul{
    margin-top: 10px;
    display: none;
}
#sectionSidebar #topSideBar ul li.linkexpand li{
    border: none;
    background: url("../../../../images/common/sidebar/arrow-liststyle-small.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    padding:12px 0 0 20px;
    }
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.arrowdown{
	background: url("../../../../images/common/sidebar/arrow-liststyle-down.png") no-repeat scroll 10px center rgba(0, 0, 0, 0)

}
.content_message_wrapper{
	margin-top:5px;
	border:1px solid #ccc;
	z-index:99;
	//border-radius:7px;
	padding-bottom:8%
	}
