
/*----------------
----Footer------
*/

#sectionWrapper #sectionFooterWrapper{
	width:100%;
	height:auto;
	background:url(../../images/common/bg/footer.gif) repeat-x;
	background-color:#efe7dc;
	margin-top:150px;
	padding-bottom: 20px;
}
#sectionWrapper #sectionFooterWrapper #background{
	width: 100%;
	height: 10px;
	background:url(../../images/common/footer/back_style.png) repeat-x;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter #gotop{
	width:100%;
	height:17px;
	position:absolute;
	top:-50px;
	right:0px;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter #gotop #imgToTop{
	width:83px;
	height:17px;
	float:right;
	margin-right: 10px;	
}
#sectionWrapper #sectionFooterWrapper #sectionFooter{
	width:100%;
	height:auto;
	margin:0px auto;
	position:relative;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter ul{
	
}
/**#sectionWrapper #sectionFooterWrapper #sectionFooter ul li.Title{	
	width:190px;
	float:left;
	margin-top: 40px;
	display:inline;	
	color:#236fb6;
	font-size:16px;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter ul li.Title a{
	color:#236fb6;
	font-size:16px;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter .subUl{
	float:left;	
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter .subUl ul{
	list-style:none;
	margin:10px 0px 0px 0px;	
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter .subUl ul li{
	background:none;
	width:192px;
	height:25px;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter .subUl ul li a{
	color:#424242;	
	font-size:12px;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #aboutAutowini{
	width:100%;
	height:34px;	
	float:left;
	margin-top: 30px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
**/#sectionWrapper #sectionFooterWrapper #sectionFooter  ul{
	margin-top:12px;
	margin-left: 2%;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter  ul li{
	background:url(../../images/common/footer/orange-arrow.png) left center no-repeat;
	float: left;
	font-size:11px;
	color:#424242;	
	padding-left: 2%;
	height: 23px;
	width: 30%;
	padding-top: 9px;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter  ul li a{
	color:#424242;			
}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight{
	width:100%;
	height:auto;
	margin-top:25px;	
	float:left;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #logoAutowini{
	width:30%;
	height:auto;	
	margin: 0 auto;
}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #logoAutowini img{
	max-width: 100%;
	height: auto;
}
/**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #copyRightDetial{
	width: 50%;
    height: auto;
    margin: 0 auto;
    
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #copyRightDetial p{
	font-size:11px;	
	color:#424242;
	margin-top:6px;
	text-align: center;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow{
	width:30%;
	height:auto;	
	margin: 10px auto;
	
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow p{	
	margin-top: 3px;	
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .followItemBlog{
	width:20px;
	height:20px;
	float: right;
}
**//**#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .followItem{
	width:20px;
	height:20px;
	float:right;	
	margin-right:2%;
}
**/
