#sectionWrapper #sectionFooterWrapper{width:100%;height:auto;background:url(../../images/common/bg/footer.gif) repeat-x;background-color:#efe7dc;margin-top:150px;padding-bottom:20px;}
#sectionWrapper #sectionFooterWrapper #background{width:100%;height:10px;background:url(../../images/common/footer/back_style.png) repeat-x;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #gotop{width:960px;height:17px;position:absolute;top:-50px;right:0px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #gotop #imgToTop{width:83px;height:17px;float:right;}
#sectionWrapper #sectionFooterWrapper #sectionFooter{width:960px;height:auto;margin:0px auto;position:relative;}
#sectionWrapper #sectionFooterWrapper #sectionFooter ul{}
#sectionWrapper #sectionFooterWrapper #sectionFooter #aboutAutowini{width:960px;height:34px;float:left;margin-top:30px;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #aboutAutowini ul{margin-top:12px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #aboutAutowini ul li{background:url(../../images/common/footer/orange-arrow.png) left center no-repeat;font-size:11px;color:#424242;padding-left:7px;display:inline;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #aboutAutowini ul li a{color:#424242;padding-right:12px;display:inline-block}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight{width:960px;height:auto;margin-top:25px;float:left;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #logoAutowini{width:213px;height:50px;float:left;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #logoAutowini img{width:213px;height:50px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #copyRightDetial{float:left;height:40px;margin-left:60px;margin-top:12px;width:350px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #copyRightDetial p{font-size:11px;color:#424242;margin-top:6px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow{width:325px;height:auto;float:right;text-align:right;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow p.email{text-align:right;width:100%;padding-bottom:10px;margin-right:15px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow p.email a{color:#424242;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow p{float:right;margin:3px 10px 0px 0px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .followItemBlog{width:20px;height:20px;float:right;position:relative;height:48px;width:48px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .clip{position:absolute;top:0;left:0;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .pos-1{clip:rect(0 96px 24px 67px);top:-3px;left:-40px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .followItem{width:20px;height:20px;float:right;margin-right:5px;position:relative;height:48px;width:48px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .pos-2{clip:rect(0 66px 24px 46px);top:-3px;left:9px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .pos-3{clip:rect(0 46px 24px 26px);top:-3px;left:122px;}
#sectionWrapper #sectionFooterWrapper #sectionFooter #copyRight #follow .pos-4{clip:rect(0 24px 24px 0);top:-3px;left:170px;}