*  {
	margin:0;
	padding:0;
}

 a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:none repeat scroll 0 0 transparent;
	text-align:left;
	border-collapse:collapse;
}

body {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

a {
	text-decoration:none;
}

a img {
	border:none;
	padding-right:2px;
}

ul {
	list-style-type:none;
}

p {
	text-align:justify;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

#sectionWrapper {
	width:100%;
	height:auto;
}

#sectionWrapper #sectionHeaderWrapper {
	width:100%;
	height:auto;
	border-bottom:1px solid #cacaca;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader {
	width:960px;
	height:auto;
	margin:0 auto;
	position:relative;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg {
	width:960px;
	height:auto;
	margin-top:10px;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #total {
	float:left;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #total p {
	color:#2872c0;
	font-weight:700;
	font-size:12px;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #total p span {
	padding-left:15px;
	color:#d60000;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #google_translate_element .goog-te-gadget .goog-te-gadget-simple img.goog-te-gadget-icon {
	background:url(../../images/common/header/change-tanslate.png)!important;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p {
	font-size:14px;
	color:#29a9e0;
	float:left;
	margin-left:5px;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p a {
	color:#529dea;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg p.login {
	font-size:12px;
	color:#979797;
	float:right;
	margin-right:10px;
	padding-top:5px;
}

#sectionWrapper #sectionHeaderWrapper #sectionHeader #logReg #linkT {
	float:right;
	width:22px;
	height:22px;
	margin-right:10px;
}

#sectionWrapper #sectionLogo {
	width:960px;
	height:80px;
	margin:0 auto;
}

#sectionWrapper #sectionLogo #logo {
	width:213px;
	height:50px;
	float:left;
	margin-top:15px;
}

#sectionWrapper #sectionLogo #logo img {
	width:213px;
	height:50px;
}

#sectionWrapper #sectionLogo #menu {
	float:right;
	margin-top:40px;
	width:700px;
	line-height:14px;
}

#sectionWrapper #sectionLogo #menu ul.main_menu {
	list-style:none;
}

#sectionWrapper #sectionLogo #menu ul li.main_menu {
	float:right;
	margin-right:40px;
	padding-bottom:40px;
}

#sectionWrapper #sectionLogo #menu ul li.main_menu a.main {
	padding-bottom:10px;
	font-family:arial;
	font-weight:700;
	font-size:14px;
	//margin-bottom:20px;
	color:#275eb9;
}

#sectionWrapper #sectionLogo #menu ul li.main_menu:hover a.main {
	border-bottom:3px solid #0071ba;
}

#sectionWrapper #sectionLogo #menu ul li.first_child {
	float:right;
	margin-right:0;
}

#sectionWrapper #sectionLogo #menu ul li ul {
	list-style:none;
	position:absolute;
	z-index:999;
	border:1px solid #ccc;
	margin-top:23px;
	width:190px;
	background:#fff;
	display:none;
	padding-bottom:10px;
}

#sectionWrapper #sectionLogo #menu ul li ul li {
	width:160px;
	height:30px;
	border-bottom:1px solid #ccc;
	margin-left:10px;
	font-size:12px;
}

#sectionWrapper #sectionLogo #menu ul li ul li:hover {
	height:30px;
	border-radius:5px;
}

#sectionWrapper #sectionLogo #menu ul li ul li a {
	color:#275eb9;
	display:block;
	margin-top:1px;
	padding:7px 0 7px 5px;
}

#sectionWrapper #sectionLogo #menu ul li ul li a:hover {
	background:#F0F0F0;
	border-radius:5px;
}

#sectionWrapper #sectionLogo #menu ul li a {
	color:#333;
}

#sectionWrapper #shadow_bg {
	width:100%;
	height:8px;
	background:url(../../images/common/header/head_bg.png) repeat-x;
}

#sectionWrapper #sectionLogo #menu ul li ul li.li_icon a {
	padding-left:20px;
	display:block;
	background-repeat:no-repeat;
	background-position:left center;
}



 .delete_selected {
  border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 1.25em;
    margin-left: 5px !important;
    margin-right: 0;
    margin-top: 0;
    padding: 1em 1em 1.0625em;
    position: relative;
    text-align: center;
    text-decoration: none;
}