<table border="0" cellpadding="1" cellspacing="3">
	<tbody>
		<tr>
			<td>
				<h1>
					<img alt="Angkorauto.com" src="http://angkorauto.com/images/common/header/softbloom.png"/>
				</h1>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top;
					   padding: 10px 0;
					   height: 300px;">
				[:::MESSAGE:::]
			</td>
		</tr>
		<tr>
			<td>
				<small>Copyright 2014 angkorauto.com. All Rights Reserved <br>
				Powered by angkorauto.com</small>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>