#wrapperPromotion{
	width: 1170px;
	height:auto;
	margin:30px auto 100px;
}
#wrapperPromotion h1{
	color: #0071ba;
	padding-bottom: 8px;
	border-bottom: 2px solid #0071ba;
	font-size: 24px;
	padding-top:20px;
	font-family: 'Arial';
}
#wrapperPromotion #containerLeft{
	width:750px;
	height:auto;
	border:1px solid #cfcfcf;	
	background: #f2f4f5;
	margin-top:30px;
	padding: 40px;
	float:left;
}
#wrapperPromotion #containerLeft h2{	
	font-size: 14px;
	color:#757575;	
	font-weight:bold;
	border-bottom:1px dashed #757575;	
	padding: 35px 0 10px 0;		
}
#wrapperPromotion #containerLeft  table{	
	border: 0;
	border-collapse: collapse;
	font-family: 'Trebuchet MS';
	margin-top: 15px;
}
#wrapperPromotion #containerLeft  table tr td{
	padding-bottom:15px;
}
#wrapperPromotion #containerLeft  table tr td.tdLeft { 
	width: 95px; 
}
#wrapperPromotion #containerLeft  table tr td.tdRight { 
	width: 573px; 
}
#wrapperPromotion #containerLeft  table tr td.tdRight img#uploadPreview1 {
	width: 573px;
	height: 93px;
}
#wrapperPromotion #containerLeft  table  .fontColor{
    color:#757575;
	font-size:12px;
	padding-right:40px;
	
}
#wrapperPromotion #containerLeft  table .textBox{
	height:30px;
	width:250px;
}
#wrapperPromotion #containerLeft  table .borderText{	
	width:250px;
	height:30px;
	border: 1px solid #888888;
	background: #FFFFFF;
}
#wrapperPromotion #containerLeft  table p.info{
	font-size: 12px;	
	font-style: italic;
	color: #757575;	
}
#wrapperPromotion #containerLeft table .myPromotion{
	width:700px;
	color:#757575;
	padding-bottom:10px;
	border-bottom:1px dashed #757575;
	font-size: 14px;
	padding:20px 20px 10px 0px;
	margin-left:35px;
	font-weight:bold;
}
#wrapperPromotion #containerLeft  table  .fontColor-youneed{
	color:#a7a8a8;
	font-size:14px;
	padding-right:90px;
}
#wrapperPromotion #containerLeft  table input[type="file"]  {		
	padding: 4px 10px;
}
#wrapperPromotion #containerLeft  table input[type="text"]  {
	border: 1px solid #888888;
	padding: 0 10px;
}
#wrapperPromotion #containerLeft  table input[type="submit"]  {
	width: 150px;
	height: 30px;
	border: none;
	background: url("../../img/user_promotion/bnt_add.png") no-repeat;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
}
#wrapperPromotion #containerLeft  table input[type="reset"]  {
	width: 149px;
	height: 30px;
	border: none;
	background: url("../../images/buy-car/reset.png") no-repeat;
	cursor: pointer;
	color: white;
	margin-left:10px;
	
}
#wrapperPromotion #containerLeft #imgView {	
	margin-top: 15px;
}
#wrapperPromotion #containerLeft #imgView img {
	width: 573px;
	height: 93px;	
	margin-right: 10px;
	float: left;
}
#wrapperPromotion #containerLeft #imgView span.action {
	margin-top: 10px;
	float: left;
}
#wrapperPromotion #containerLeft #imgView span.action img {
	width: 29px;
	height: 29px;
	margin: 0;	
}
#wrapperPromotion #containerLeft #imgView span.action font {
	font-size: 12px;
	color: #757575;
	padding: 6px 0 0 17px;	
	float: left;
}
#wrapperPromotion #containerLeft #imgView span.deleted {
	margin-top: 20px;
	float: left;
}
#wrapperPromotion #containerLeft #imgView span.deleted img {
	width: 85px;
	height: 25px;
	margin: 0;	
}
#wrapperPromotion #containerLeft #imgView span.approved {
	display: none;
}
#wrapperPromotion #containerLeft #imgView span.approved font {
	font-size: 12px;
	color: #757575;
	padding: 6px 0 0 8px;	
	float: left;
}

#wrapperPromotion #containerRight{  
  width:388px;
  height:502px;
  margin-top:30px;
  float: right;
}