/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:10px auto 0 auto;
}
#sectionWrapper #carMenu{
	width:960px;
	height:28px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;	
}
#carMenu ul{
	list-style:none;	
}
#carMenu ul li{
	float:left;
	padding:6px 0px 0px 10px;
}
#carMenu ul li.menu{	
	color:#0064b2;
}
#carMenu ul li a{
	color:#424242;	
}
#sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionSidebar #topSideBar{
	width:230px;
	height:auto;
	margin-top:10px;	
	background:#f2f2f2;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul{
	list-style:none;
	padding:0px 10px 0px 10px;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li{
	padding-top:12px;
	border-bottom:1px solid #ccc;
	height:28px;	
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a.expert{
	color:#0064b2;
}
#sectionContenWrapper #sectionSidebar #topSideBar ul li a{
	font-size:14px;
	color:#424242;
	text-decoration:none;	
}


/*/////////////////////
///////////////////////
/*css for mainContent*/
#sectionContenWrapper #sectionContent{
	width:705px;
	height:auto;
	float:right;
}
#sectionContenWrapper #sectionContent #buyerTitle{
	width:305px;
	height:24px;
	border-bottom:2px solid #0064b2;	
	margin-top:10px;
	float:left;
}
#sectionContenWrapper #sectionContent #member{
	width:400px;
	height:24px;
	border-bottom:2px solid #0064b2;	
	margin-top:10px;
	float:right;
}
#sectionContenWrapper #sectionContent #member p{
	color:#c1262c;
	font-size:14px;
	text-align:right;
	font-weight:bold;
}
#sectionContenWrapper #sectionContent #buyerTitle p{
	font-size:16px;
	font-weight:bold;	
	color:#0064b2;
}
#sectionContenWrapper #sectionContent #flagCountWrap{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent  .flagCount{
	width:176px;
	height:auto;
	float:left;	
}
#sectionContenWrapper #sectionContent .flagCount ul{
	list-style:none;	
}
#sectionContenWrapper #sectionContent .flagCount ul li{
	height:23px;
}
#sectionContenWrapper #sectionContent  .flagCount span{
	float:left;	
}
#sectionContenWrapper #sectionContent  .flagCount p{
	padding:2px 0px 0px 26px;	
}
#sectionContenWrapper #sectionContent .flagCount p a{
	font-size:12px;
	color:#424242; 
	text-decoration:none;	
}
#sectionContenWrapper #sectionContent #moreCountry{
	width:705px;	
	margin-top:
	10px;
}
#sectionContenWrapper #sectionContent #moreCountry #dropdown{
	width:120px;
	float:right;
	background:url(../../images/buyerdirectory/dropdown.png) no-repeat right center;	
}
#sectionContenWrapper #sectionContent #moreCountry p{
	text-align:right;		
	padding-right:10px;
}
#sectionContenWrapper #sectionContent #moreCountry p a{
	font-size:11px;
	color:#0064b2;	
}
#sectionContenWrapper #sectionContent #allCountry{
	width:705px;
	height:auto;
	display:none;	
	margin-top:10px;
}
#sectionContenWrapper #sectionContent #itemCounter{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#sectionContenWrapper #sectionContent #itemCounter ul{
	list-style:none;	
}
#sectionContenWrapper #sectionContent #itemCounter li{
	
	display:inline;
}
#sectionContenWrapper #sectionContent #itemCounter li a{
	font-size:11px;
	color:#424242;
	line-height:24px;
}
#sectionContenWrapper #sectionContent #searchBoxWrap{
	width:705px;
	height:40px;
	margin-top:25px;	
	background:#e7f4ff;
}
#sectionContenWrapper #sectionContent #searchBoxWrap .searchBox{
	width:588px;
	height:28px;	
	margin:5px 0px 0px 5px;
	border:1px solid #ccc;
	background:url(../../images/buyerdirectory/microscope.png) no-repeat 560px center;
	float:left;
}
#sectionContenWrapper #sectionContent #searchBoxWrap #searchButton{
	width:100px;
	height:30px;
	margin:5px 0px 0px 5px;	
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap{
	width:705px;
	height:auto;
	margin-top:20px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap{
	width:298px;
	height:auto;	
	padding:20px;
	border:1px solid #ccc;
	background:#f2f2f2;
	float:left;
	margin-bottom:25px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrapRight{
	margin-left:25px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail{
	width:148px;
	height:auto;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p.title{
	color:#0064b2;
	font-size:14px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p{
	font-size:12px;
	color:#424242;
	line-height:24px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerDetail p span{
	float:left;
	margin-top:3px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo{
	width:150px;
	height:auto;
	float:right;
		
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p{
	text-align:right;	
	padding-top:10px;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyerLogo p a{
	font-size:12px;
	color:#0064b2;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyAddress{
	width:300px;	
	height:auto;
	margin-top:25px;
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .buyAddress p{
	font-size:11px;
	color:#424242;
	line-height:20px;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer{
	width:300px;
	margin-top:15px;	
	float:left;
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p{
	text-align:right;	
}
#sectionContenWrapper #sectionContent #buyerWrap .buyDetailWrap .moreBuyer p a{
	color:#0064b2;
	font-size:11px;	
}
#pagernation{
	width:705px;
	height:15px;
}