#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle{
	width:640px;
	height:auto;
	padding:10px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .reviewVihicle{
	padding:10px;
	border-bottom:1px solid #ccc;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle{
	border-bottom:1px solid #ccc;
	padding:20px 0;
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .vihicleHeader{
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .vihicleHeader p.type{
	float:left;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .vihicleHeader p.seeMore{
	float:right;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .vihicleHeader p.seeMore a{
	color:#0c79be;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle{
	padding:0 0 10px 0;
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle .item{
	float:left;
	width:120px;
	height:auto;
	margin-right:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle .itemLast{
	margin:0px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle .item p{
	text-align:left;
	color:#545151;
	line-height:20px;
	font-size:12px;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle .item p a{
	color:#545151;
}
#sectionWrapper #sectionContent #sectionFeature #sectionListVihicle .vihicle .listVihicle .item p.price{
	color:#d81c08;
	font-weight:bold;
	margin-top:0px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto{
	width:640px;
	height:auto;
	padding:10px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photohead{
	width:640px;
	height:auto;
	border-bottom:1px solid #ccc;
	padding:0 0 10px 0;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery{
	padding:20px 0 0 0;
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .photoGalleryHeader{
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .photoGalleryHeader p.type{
	float:left;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .photoGalleryHeader p.seeMore{
	float:right;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .photoGalleryHeader p.seeMore a{
	color:#0c79be;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .listphotoGallery{
	padding:10px 0 10px 0;
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .listphotoGallery .item{
	float:left;
	width:120px;
	height:auto;
	margin-right:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .listphotoGallery .item p{
	text-align:left;
	color:#545151;
	line-height:20px;
	font-size:12px;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .listphotoGallery .item p a{
	color:#000;
}
#sectionWrapper #sectionContent #sectionFeature #sectionPhoto .photoGallery .listphotoGallery .itemLast{
	margin:0px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact{
	width:640px;
	height:auto;
	padding:10px;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	margin-top:10px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact p{
	line-height:24px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table{
	border:0px;
	border-collapse:collapse;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td{
	text-align:right;
	padding:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td p{
	text-align:right;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td input[type="file"]{
	border:1px solid #ccc;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btndelete{
	background:url(../../images/btndelete.gif) no-repeat;
	border:none;
	width:57px;
	height:18px;
	cursor:pointer;
	text-indent:-150px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btnadd{
	background:url(../../images/btnadd.gif) no-repeat;
	border:none;
	width:44px;
	height:18px;
	cursor:pointer;
	text-indent:-150px;
	margin-left:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .btnsend{
	background:url(../../images/btnsend.gif) no-repeat;
	border:none;
	width:64px;
	height:23px;
	cursor:pointer;
	text-indent:-150px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td textarea{
	padding:5px;
	border:1px solid #ccc;
	width:620px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td .file_upload{
	text-align:right;
	margin-bottom:5px;
}
#sectionWrapper #sectionContent #sectionFeature #sectionContact table td #file_tools{
	margin:5px 0 0 5px;
	text-align:right;	
}