#sectionWrapper #sectionContent #sectionFeature{
	width:660px;
	height:auto;
	padding:0px 0 20px 0;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c0c1c2;
}
#sectionWrapper #sectionContent #sectionFeature h2{
	border-bottom:1px solid #ccc;
	padding:0px 0px 0px 20px;
	font-size:16px;
}
#sectionWrapper #sectionContent #sectionFeature #listData{
	margin:20px 0 0 0;
	background:#dfdfdf;
	padding:10px;	
	width:640px;
	height:auto;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section{
	width:600px;
	height:auto;
	border-radius:10px;
	border:1px solid #ccc;
	position:relative;
	background:#fff;
	padding:50px 20px 20px  20px;
	margin:20px 0 0 0;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .title{
	position:absolute;
	top:-10px;
	width:235px;
	height:46px;
	background:url(../../images/blog/company-profile/bg-title.png) no-repeat;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .title p{
	color:#fff;
	font-size:20px;
	text-transform:uppercase;
	text-align:center;
	padding:10px 0 0 0;	
}
#sectionWrapper #sectionContent #sectionFeature #listData .section p{
	line-height:22px;
	font-size:12px;
	color:#000;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section p img{
	margin-left:-10px;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .contact{
	position:relative;
	width:600px;
	height:250px;
	margin:20px 0 0 0;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .contact p.contactImg{
	position:absolute;
	left:30px;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .contact p.logo{
	position:absolute;
	right:10px;
	top:-50px;
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .contact p.contactInfo{
	position:absolute;
	left:150px;
	width:300px
}
#sectionWrapper #sectionContent #sectionFeature #listData .section .contact p span.name{
	font-size:22px;
	color:#000;
	padding:0 0 30px 0;
}