/* public_public_auto_spare_part.php */

#content{
	margin-bottom: 80px;
}

#content #tabMenu{
	width: 100%;		
	position: relative; 
	z-index: 5;
	top: 2px;
	margin-top: 45px;
}
#content #tabMenu ul{
	width: auto;
	border-bottom: 2px solid #cacaca;
	position: relative; 
	z-index: 5;
	float: left;
}
#content #tabMenu ul li{
	padding: 10px 40px;
	border: 1px solid #cacaca;
	border-bottom: none;
	background: #FFFFFF;
	margin-right: 5px;
	float: left;
}
#content #tabMenu ul li.current{
	background: #0071ba;
	font-size: 14px;
	color: #FFFFFF;
}
#content #tabMenu ul li:hover{
	cursor: pointer;
	background: #0071ba;
	font-size: 14px;
	color: #FFFFFF;
	
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
#content #tabMenu ul li p{
	font-size: 14px;
}
#content #divBore{
	width: 100%;
	border: 1px solid #cacaca;
	border-top: 2px solid #0071ba;
	background: #FFFFFF;
	padding: 0 20px;
}
#content #divBore #description{
	margin: 45px 0 25px 0;
}
#content #divBore #description p{
	font-size: 14px;
	padding-left: 5px;
}
#content #divBore ul{
	margin-bottom: 45px;
}
#content #divBore ul li{
	max-width: 97px;
	width: 100%;
	height: 45px;
	background: #f0f0f0;
	border: 1px solid #CACACA;
	margin: 0 0 5px 5px;
	float: left;
}
.clarMR{
	margin-right: 0 !important;
}

#content #textQuestion{
	margin: 50px 0;
}
#content #textQuestion h3{
	font-size: 24px;
	font-weight: 700;
	color: #0071BA;
}
#content .imgCenter{
	margin: 0 auto;
	max-width: 82px;
	width: 100%;
	max-height: 83px;
	
}
#content #desCicle h3{
	font-size: 14px;
	font-weight: 700;
	color: #0071BA;
	padding: 15px;
}
#content #desCicle p{
	font-size: 12px;
	line-height: 35px;
	padding-bottom: 45px;
}

/* side top 
--------------------------------------*/
#content #sideTop {
	margin-top: 15px;
	width: 100%;
}
#content #sideTop p{
	float: right;
	font-size: 12px;
}
#content #sideTop p a{
	text-decoration: underline;
	font-size: 12px;	
}
#content #sideTop p span{
	font-size: 12px;
	color: #0071BA;
}
#content #responTab {
	display: none;
}

/*
 *  Responsive 
 * ------------------------------------------------------------------------------
 */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	#content #tabMenu {
		display: none;
	}
	#content #responTab{
		display: block;		
		margin: 30px 0 20px 0;
	}
	#content #sltTab{				
		width: 100%;
		max-height: 30px;
		height: 100%;
		background: url("../../img/public_home/bg/bg_slt_tab.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;		
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		position: relative;	
		z-index: 1;
		overflow:hidden;  
		padding: 0;
	}
	#content #sltTab select{
		padding-left: 15px;
		cursor: auto;
		height: 30px;	
		background-color: transparent;
		border: 0 none;
		box-shadow: none;	
		display: block;
		font-size: 100%;
		line-height: normal;
		margin: 0;	
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	#content #sltTab:before {
		color: #0071BA;
		display: block;
		font-family: 'FontAwesome';	
		height: 30px;
		line-height: 35px;
		padding: 0 12px 0 0;	
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;	
		z-index: 5;
	}	
	#content #sltTab:focus{
		outline: none;
	}	
	:-moz-any(#sltTab):before {
		background-color: #fff;
		pointer-events: none;
		z-index: 1;
	}	
	#content #divBoreRes {
		margin: 0 15px;
	}
	#content #divBore {
		padding: 0 53px;
	}
	#content #divBore #description {
		margin: 25px 0;
	}
	#content #textQuestion {
		text-align: center;
	}
}
@media only screen and (max-width : 320px) {
	#desCicle .col-xs-6 {
		float: none;
		width: 100%;
	}
}