/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
p{
	word-wrap:break-word;
}
#sectionContenWrapper #advance_search  #condition_adv{
	width:225px;
}
#sectionContenWrapper #advance_search #steering_adv{
	width:225px;
}
#sectionContenWrapper #advance_search #fuel_type_adv{
	width:225px;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:20px auto 0 auto;
}
#sectionContenWrapper #second_search{
	width: 950px;
	height: auto;
	border-radius:5px;
	padding: 10px 0 10px 10px;
	background: #f2f2f2;
}
#sectionContenWrapper #second_search #search_title{
	width: 940px;
	height: auto;
	border-bottom: 1px solid #0071ba;
	padding-bottom: 5px;
}
#sectionContenWrapper #second_search #search_title p a{
	font-size: 14px;
	color: #424242;
	cursor: pointer;
}

#sectionContenWrapper #second_search #search_title p span{
	color: #424242;
}
#sectionContenWrapper #second_search #search_title a.current{
	color: #0064b3;
	padding-bottom: 11px;
	background:url(../../images/vehicle/arrow_downbg.png) no-repeat bottom ;
}
#sectionContenWrapper #second_search #search_wrap{
	width: 940px;
	height: auto;
	margin-top: 10px;
}
#sectionContenWrapper #second_search #search_wrap select{
	width: 230px;
	height: 30px;
	float: left;
	margin:5px 0 0 3px;
	padding-top: 5px;
}
#sectionContenWrapper #second_search #search_wrap .categorypart{
	width: 307px;
	height: 30px;
	float: left;
	margin:5px 0 0 3px;
	padding-top: 5px;
}
#sectionContenWrapper #second_search #search_wrap .moto{
	width: 307px;
	height: 30px;
	float: left;
	margin:5px 0 0 3px;
	padding-top: 5px;
}
#sectionContenWrapper #second_search #search_wrap .textBox{
	width: 305px;
	height: 28px;
	margin: 5px 0 0 5px;
	float: left;
	text-indent: 10px;
}
#sectionContenWrapper #second_search #search_wrap .search{
	width: 150px;
	height: 30px;
	border:none;
	float: left;
	margin: 5px 0 0 7px;
	background:url(../../images/vehicle/second_search.png) no-repeat ;
	cursor: pointer;
}
#sectionContenWrapper #second_search #search_wrap span{
	float: left;
	padding-top: 13px;
}
#sectionContenWrapper #second_search #search_wrap select.first_child{
	margin-left: 0px;
}
*#sectionContenWrapper #second_search #search_wrap select.year{
	width: 112px;
}
#sectionContenWrapper #second_search #search_wrap select.truck{
	width: 227px;
	margin-left: 6px;
}
#sectionContenWrapper #second_search #search_wrap select.truck_first{
	width: 229px;
	margin-left: 3px;
}
#sectionContenWrapper #second_search #search_wrap select.truck_last{
	width: 180px;
	margin-left: 9px;
}
#sectionContenWrapper #second_search #search_wrap select.watercraft_condition{
	width: 185px;
	margin-left: 0px;
}
#sectionContenWrapper #second_search #search_wrap select.watercraft_country{
	width: 200px;
	margin-left: 5px;
}
#sectionContenWrapper #second_search #search_wrap select.watercraft_year{
	width: 107px;
	margin-left: 6px;
}
#sectionContenWrapper #second_search #search_wrap select.aircraft_make{
	width: 227px;
	margin-left: 3px;
}
#sectionContenWrapper #second_search #search_wrap select.aircraft_model{
	width: 220px;
	margin-left: 10px;
}
#sectionContenWrapper #second_search #search_wrap select.aircraft_condition{
	width: 305px;
	margin-left: 10px;
}
#sectionContenWrapper #second_search #search_wrap select.equipment{
	width: 227px;
	margin-left: 7px;
}
#sectionContenWrapper #second_search #search_wrap select.equipment_first{
	width: 150px;
	margin-left: 3px;
}
#sectionContenWrapper #second_search #search_wrap select.all_condition{
	width: 345px;
	margin-left: 3px;
}
#sectionContenWrapper #second_search #search_wrap select.all_country{
	width: 345px;
	margin-left: 7px;
}
#sectionContenWrapper #second_search #search_wrap select.all_year{
	width: 112px;
	margin-left: 7px;
}
#sectionContenWrapper #second_search #search_wrap .all_search{
	width: 540px;
	float: left;
	height: 28px;
	margin:5px 4px 0 3px;
	text-indent: 10px;
}
#sectionContenWrapper #second_search #search_wrap .text_search{
	width: 411px;
	float: left;
	height: 28px;
	margin:5px 4px 0 9px;
	text-indent: 10px;
}
#sectionContenWrapper #second_search #search_wrap .aircraft_search{
	width: 305px;
	float: left;
	height: 28px;
	margin:5px 4px 0 9px;
	text-indent: 10px;
}
#sectionContenWrapper #second_search #search_wrap .equipment_search{
	width: 305px;
	float: left;
	margin:5px 4px 0 9px;
	text-indent: 10px;
}
#sectionContenWrapper #second_search #search_wrap span.watercraft{
	margin-left: 10px;
}
#sectionContenWrapper #second_search #search_wrap span.slash{
	width: 15px;
	text-align: center;
	margin-left: 5px;
}
#sectionContenWrapper #second_search #search_wrap span.sep{
	width: 20px;
	text-align: center;
}
#sectionContenWrapper #second_search #search_wrap span.price{
	padding-right: 5px;
}
#sectionContenWrapper #second_search #search_wrap .watercraft_price{
	width: 150px;
	height: 28px;
	float: left;
	margin:5px 0 0 0px;
	text-indent: 10px;
}
#sectionContenWrapper #advance_search{
	width: 960px;
	height: auto;
	margin-top: 10px;
	display: none;
}

#sectionContenWrapper #advance_search select{
	width:225px;
	height: 30px;
	margin:5px 8px 0 3px;
	float: left;
	padding-top: 5px;

}
#sectionContenWrapper #advance_search .price{
	width: 223px;
	height: 28px;
	float: left;
	margin:5px 8px 0 3px;
	text-indent: 10px;
}
#sectionContenWrapper #advance_search .text_search{
	width:459px;
	height: 28px;
	float: left;
	margin:5px 8px 0 5px;
	text-indent: 10px;

}
#sectionContenWrapper #advance_search .air_search, #sectionContenWrapper #advance_search .moto_search{
	width:695px;
	height: 28px;
	float: left;
	margin:5px 8px 0 5px;
	text-indent: 10px;

}
#sectionContenWrapper #advance_search .part_search{
	width:223px;
	height: 28px;
	float: left;
	margin:5px 8px 0 5px;
	text-indent: 10px;

}
#sectionContenWrapper #advance_search .watercraft_search{
	width:223px;
	height: 28px;
	float: left;
	margin:5px 8px 0 3px;
	text-indent: 10px;

}
#sectionContenWrapper #advance_search  .search{
	width: 225px;
	height: 30px;
	border:none;
	float: left;
	margin: 5px 8px 0 5px;
	background:url(../../images/vehicle/search.jpg) no-repeat ;
	cursor: pointer;
}
#sectionContenWrapper #advance_search  .watercraft_btnsearch{
	width: 225px;
	height: 30px;
	border:none;
	float: right;
	margin: 5px 20px 0 5px;
	background:url(../../images/vehicle/search.jpg) no-repeat ;
	cursor: pointer;
}
#sectionContenWrapper #advance_search span{
	float: left;
	padding-top: 13px;
}
#sectionContenWrapper #advance_search span.sep{
	width: 20px;
	text-align: center;
}
#sectionContenWrapper #advance_search span.displacement{
	 margin-left: 10px;
    width: 100px;
}

/*css for mainContent*/
#sectionWrapper #my_item{
	width: 100%;
	height: auto;
	margin-top: 40px;
}
#sectionWrapper #my_item ul.myitem{
	list-style: none;
	padding: 0px;
	height: auto;
}
**#sectionWrapper #my_item ul.myitem li{
	width: 25%;
	height: 100px;
	float: left;
	margin-left: 0px;
}
**#sectionWrapper #my_item ul{
	list-style: none;
	width: 100%;
	padding: 20px 0;
}
#sectionWrapper #my_item p{
    background: url('../../images/mywini/orange_bg.png') no-repeat;
    font-size: 18px;
    color: #2e62bb;
    padding-left: 15px;
    margin-top: 20px;
}
#sectionWrapper #my_item p.item{
	background: no-repeat;
	font-size: 12px;
	padding: 0;
	margin-top: 80px;
	color: #aaa;
	text-align: center;
}
#sectionWrapper #my_item ul.item li:hover{
	border-top:2px solid #1c52b5;
	border-bottom:2px solid #1c52b5;	
}
#sectionWrapper #my_item ul.item li.current{	
	border-top:2px solid #1c52b5;
	border-bottom:2px solid #1c52b5;	
}
#sectionWrapper #my_item ul.item li p.current{
	color: #1c52b5;
}
#sectionWrapper #my_item ul.item li:hover p{
	color: #1c52b5;
}
#sectionWrapper #my_item ul.item li{
	float: left;
	width: 105px;
	height: 103px;	
	color: #424242;
	position: relative;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}
#sectionWrapper #my_item ul.item li.motorbike{
	width:120px;
}
#my_item ul li.motor{
    width: 120px;
}
#sectionWrapper #my_item ul.item li img{
	position: absolute;	
	z-index:99;
}
#sectionContent #carData{
	width:960px;
	height:auto;
}
#carData #carSourceWraper{
	width:960px;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:200px;
	height:363px;
	float:left;
	/*background:#f2f4f5;*/
	padding:0px 0 0 8px;
	margin: 15px 15px 0 0;
	position: relative;
	/*border-bottom:6px solid #005a94;*/
	border:1px solid #b6c8d5;
	border-bottom:3px solid #b6c8d5;
	top:-7px;
}
#carSourceWraper .listCar_sold{
	width:155px;
	height:300px;
	float:left;
	background:#f9f9f9;
	border:1px solid #ccc;
	padding: 5px 0 0 4px;
	margin: 5px 35px 0 0;
	position: relative;
	background:url(../../images/sold_pc.png) top right no-repeat
}
#carSourceWraper .listCarName{
	width:187px;
	height:auto;
	margin-top:10px;
	overflow:auto;
	padding-bottom: 5px;
	border-bottom:1px solid #e5e5e5;
	min-height:20px;
}
#carSourceWraper .listCarName p{
	font-size:13px;
	/*font-weight:bold;*/
	color:#0064b2;
}
#carSourceWraper .listCarImg{
	width:187px;
	height:142px;
	margin-top: 8px;
}
#carSourceWraper .listCarImg img{
	width: 198px;
	height:142px;
	position:absolute;
	left:0px;
	top:0px;
	
}
#carSourceWraper #carDetailWrap{
	width:187px;
	height:auto;
	text-align:left;
	border-top:1px solid #e5e5e5;
	margin-top:18px;
}
#carSourceWraper #carDetailWrap p.price{
	color: #c1272d;
}
#carSourceWraper #carDetailWrap p{
	border-bottom:1px solid #e5e5e5;
	height:25px;
	padding-top:5px;
	font-size: 11px;
	color: #666;
	line-height: 16px;

}
#carSourceWraper #carDetailWrap .contactSeller{
	width: 187px;
	height: auto;	
}
#carSourceWraper #carDetailWrap .contactSeller a{
	color: #0071ba;
	float:right;
	padding-right:5px;
	padding-top:5px;
}
#carSourceWraper #carDetailWrap .contactSeller #edit{
	position:absolute;
	top:330px;
	right:5px;
	float:right}
#carSourceWraper #carDetailWrap .contactSeller #delete{
	position:absolute;
	top:330px;
	right:34px;
	margin-right:5px;
	float:right}
#pagernation{
	width:100%;	
	padding: 0 20px;
}
.listCarName > p, #carDetailWrap > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}

