/* public_home.php */

/*
 *  Section
 * ------------------------------------------------------------------------------
 */

#homeContainer{		
	max-width:1024px;
	width:100%;
	margin:30px auto 0;
	height:auto;
	padding:0px 15px 0px 15px;
}
#homeContainer .container{
	padding:0;
	margin-bottom: 50px;
	width:100%;
}

#homeContainer .container #homeSidebar{	
	/*width:26.3%;*/
	/*max-width: 337px;
	width: 100%;*/
	width: 300px;
	height:auto;	
	float:left;	
}
#homeContainer .container #homeSidebar #bgHomeSidebar{
	background: #f2f4f5;
}

#homeContainer .container #homeLeftSide{
	float:left;
	max-width:1024px;
	width: 98%;
	height:auto;
	border:1px solid #CCC;
	border-top:2px solid #0071ba;	
	margin:0 1%;
}
#homeContainer .container #homeLeftSide .product_wrapper{
	width:100%;
	margin-bottom:40px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .more_image{
	width:100%;
	margin:0 auto;
	}
#homeContainer .container #homeLeftSide .product_wrapper .more_image .first span{
	margin-right:5px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .more_image .first span .smallimg{
	margin-bottom:10px; width:115px; height:80px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .more_image .second{
	margin-top:10px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .more_image .second span{
	margin-right:14px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .title_product{
	padding:20px 0;
	color:#0071ba;
	font-size:18px;
	width:96%;
	font-weight:bold;
	border-bottom:1px solid #CCC;
	margin:0 2% 10px 2%;
	
	}
#homeContainer .container #homeLeftSide .product_wrapper .image_product{
	width:96%; 
	float:left;
	margin:0 2% 0 2%;	
	}
#homeContainer .container #homeLeftSide .product_wrapper .image_product .image{
	width:100%;
	margin-bottom:10px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .contact-seller{
	width:96%;
	margin:2% 0 auto 2%;
	padding-bottom:10px;
	color:#0071ba;
	font-size:17px;
	font-weight:bold;
	padding-top:5px;
}
#homeContainer .container #homeLeftSide .product_wrapper .company_info{
	width:96%;
	margin:15px 0 auto 2%;
	background:#f2f4f5;	
	border-bottom:5px solid #0071ba; 
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .seller{
	color:#0071ba;
	font-size:16px; 
	font-weight:bold;
	text-align: center;
	max-width:100%; 
	margin:0 auto;
	padding:10px 0;
	border-bottom:2px solid #0071ba;	
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail{
	width:100%;
	margin:20px auto;
	padding:0 2%;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .info{
	color:#999;	
	font-size:14px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .info p a { 
	color: #005a94;
}	

@media only screen and (max-width : 480px) {
	#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .info p{
		margin-bottom:5px;
		font-size:14px;
	}
}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller{	
	text-align: center;
	margin-top:15px;	
	display: block;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller a img{
	margin-bottom:15px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller .popbox_contact{
	display:none; background:url(../../img/public_car_detail/contact-seller.png) no-repeat; 
    width:320px; height:400px; position:absolute; margin-left:-88px; margin-top:-18px;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller .popbox_contact .text_email{
	width:245px; margin:55px 36px 15px 36px; padding:5px 0; border:1px solid #CCC; text-indent:5px; background:#FFF;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller .popbox_contact 
.text_message{
	margin:0 36px 15px 36px; width:245px; height:100px; resize:none; border:1px solid #ccc; text-indent:5px; background:#FFF;
	}
#homeContainer .container #homeLeftSide .product_wrapper .company_info .company_detail .contact_seller .popbox_contact
.sends{
	background:url(../../img/public_car_detail/contact-seller-send.png); border:none; width:132px; height:30px; float:right;
	margin-right:36px; 
	}
#homeContainer .container #homeLeftSide .product_wrapper .product_detail{
    clear:both;
	width:96%;
	border-bottom:5px solid #0071ba;
	margin:0 2% 0 2%;
	background:#f2f4f5;
	}
#homeContainer .container #homeLeftSide .product_wrapper .product_detail .description{
	margin:0 auto;
	padding:10px 0;
	width:100%;
	font-size:16px;
	font-weight:bold;
	color:#0071ba;
	text-align: center;
	border-bottom:2px solid #0071ba;
	margin-bottom:10px;
	
	}
#homeContainer .container #homeLeftSide .product_wrapper .product_detail .text_detail{
	width:100%;
	margin-bottom:10px
	}
#homeContainer .container #homeLeftSide .product_wrapper .product_detail .row{
	width:96%;
	margin:0 2% 0 2%;
	font-size:14px;
	color:#999;
	border-bottom:1px solid #CCC;
	}
#homeContainer .container #homeLeftSide #sliderWrapper{
	max-width: 620px; 
	width:100%;
	height:auto;
	position:relative;	
	float: left;	
}
#homeContainer .container #homeLeftSide #sliderWrapper .slider{	
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: auto;
	height: auto;
	
}
#homeContainer .container #homeLeftSide #sliderWrapper .slider img {
	max-width: 100%;
	height: auto;
	width: auto; /* ie8 fix*/
}
#homeContainer .container #homeLeftSide #sliderWrapper #slidePaging {
	margin:0 auto;
    z-index: 99;
	max-width: 420px;
	width:100%;
	text-align:center;
	z-index:999;
	position:absolute;
	top: 270px;
	height:6px;
}
#homeContainer .container #homeLeftSide #sliderWrapper #slidePaging a {background:url(../../img/public_home/slider/white-blue.gif) no-repeat; text-decoration: none; padding: 0 10px; margin:0 5px; height:5px;  }
#homeContainer .container #homeLeftSide #sliderWrapper #slidePaging a.activeSlide { background:url(../../img/public_home/slider/blue.gif) no-repeat;}
#homeContainer .container #homeLeftSide #sliderWrapper #slidePaging a:focus { outline: none; }

#homeContainer .container #homeLeftSide #sliderWrapper .nav {
	margin:0 auto;
	position:absolute;
	z-index:10;
	width:100%;
	height:26px;
	top:50%;
	margin-top:-13px;
}

#homeContainer .container #homeLeftSide #sliderWrapper .nav .nav-prev{
	position:absolute;
	left:10px;
	width:16px;
}
#homeContainer .container #homeLeftSide #sliderWrapper .nav .nav-prev img.prev{
	cursor:pointer;
}
#homeContainer .container #homeLeftSide #sliderWrapper .nav .nav-next{
	position:absolute;
	right:10px;
	width:16px;
}
#homeContainer .container #homeLeftSide #sliderWrapper .nav .nav-next img.next{
	cursor:pointer;
}

/** Edit **/
#homeContainer .container #homeLeftSide #sliderWrapper .divImgSlider{
	max-width: 420px;
	width: 100%;	
	float: left;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails{
	max-width: 215px;
	width: 100%;
	height: 290px;
	background:url("../../img/public_home/slider/bg_info.png") no-repeat;
	position: absolute;
	left: 406px;
	padding: 0 15px 0 30px;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .textTop{
	padding-top: 25px;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .textTop p{
	font-size: 30px;
	color: #FFFFFF;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .textTop p span{
	font-size: 14px;
	color: #FFFFFF;
	display: block;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .textPrice{
	border-top: 1px dotted #258dd1;
	border-bottom: 1px dotted #258dd1;
	margin-top: 15px;
	padding: 5px 0;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .textPrice p{
	font-size: 30px;
	color: #FFFFFF;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .divText{
	padding-top: 10px;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails .divText p{
	font-size: 11px;
	color: #8fc4e6;
}
#homeContainer .container #homeLeftSide #sliderWrapper .bgDetails #bgOder{
	margin-top: 15px;
	max-width: 100px;
	width: 100%;
	height: 100%;
}

#homeContainer .container #homeLeftSide #advertising{
	max-width: 230px;
	width: 100%;
	height: 100%;
	float: right;
}
#homeContainer .container #homeLeftSide #advertising img{	
	width: 100%;
	height: 290px;
}

/*
 *  Content homeLeftSide
 * ------------------------------------------------------------------------------
 */
 #homeLeftSide #divAdv {
	max-width: 860px;
	width: 100%;
	height: 100%;
	margin: 10px 0;
 }
 #homeLeftSide #divAdv img{	
	width: 100%;	
 }
 
 #homeLeftSide #responTab{
	display: none;
 }
 #homeLeftSide #responSidebar{
	display: none;
 }
 
/* Recent post products 
--------------------------------------------------- */
 	#homeLeftSide #recentPost {
		width: 100%;
		height: auto;
		border: 1px solid #cccccc;	
		padding-bottom: 20px;	
	}	
	#homeLeftSide #recentPost #titleTop {
		border-bottom: 2px solid #085f97;
		margin: 0 15px;
		padding-top: 10px;
	}
	#homeLeftSide #recentPost #titleTop p {
		font-size: 18px;
		line-height: 32px;
		color: #005a94;
	}
	#homeLeftSide #recentPost ul li {
		max-width: 407px;
		width: 100%;
		height: auto;
		margin: 20px 0 0 15px;		
		float: left;			
	}
	#homeLeftSide #recentPost ul li .divImg {
		max-width: 148px;		
		width: 100%;
		height: 148px;		
		float: left;
		display: table;
		border: 1px solid #cccccc;
	}
	#homeLeftSide #recentPost ul li .divImg img.blank{
		max-width: 148px;		
		width: 100%;
		height: 148px;
	}
	#homeLeftSide #recentPost ul li .divImg a{
		max-width: 148px;		
		height: 148px;		
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}
	#homeLeftSide #recentPost ul li .divImg a img{
		max-width: 100%;
		height: auto;
	}
	#homeLeftSide #recentPost ul li .textInfo {
		max-width: 257px;
		width: 100%;
		height: 150px;
		border: 1px solid #cccccc;
		border-left: 4px solid #cccccc;
		padding: 0 15px;
		float: left;
		background: #FFFFFF;
	}
	#homeLeftSide #recentPost ul li .textInfo p.title {
		font-size: 14px;
		color: #0071ba;
		padding: 9px 0;
	}
	#homeLeftSide #recentPost ul li .textInfo p.title a {
		font-size: 14px;
		color: #0071ba;
	}
	#homeLeftSide #recentPost ul li .textInfo p.title a:hover {
		text-decoration: underline;
	}
	#homeLeftSide #recentPost ul li .textInfo p.txtBorder {
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		font-size: 11px;
		color: #757575;
		line-height: 18px;
		padding: 8px 0;
	}
	#homeLeftSide #recentPost ul li .textInfo p.txtPrice {
		font-size: 11px;
		color: #c2c2c2;
		padding-top: 8px;
	}
	#homeLeftSide #recentPost ul li .textInfo p.txtPrice span {
		font-size: 14px;
		color: #db0000;
		float: right;
	}
/** End recent post products ---------------------**/
 
#homeLeftSide .newProdcut{
	background: #FFFFFF;
	border:1px solid #cacaca;	
	padding: 0 0 20px 0;	
	margin: 0 0 15px 0;
	/*max-width: 393px;
	width: 100%;
	float: left;
	/*max-width: 393px;*/
	width: 48%;
	float: right;
}
#homeLeftSide .newProdcut .divImg{
	/*max-width: 393px;*/
	width: 100%;
	margin-bottom: 20px;
}
#homeLeftSide .newProdcut .divImg img{
	width: 100%;
}
#homeLeftSide .newProdcut .divDes{
	padding: 0 20px;
}
#homeLeftSide .newProdcut .divDes p{
	font-size: 12px;
	line-height: 26px;	
	margin-bottom: 20px;
}
#homeLeftSide .newProdcut .divDes p.title{
	font-size: 18px;
	font-weight: 700;
	color: #0071BA;
	margin-bottom: 10px;
}
#homeLeftSide .newProdcut .divDes ul li{
	width: 100%;
	border-top: 1px dotted #CACACA;
	margin-bottom: 10px;
	padding-top: 10px;	
	float: left;
}
#homeLeftSide .newProdcut .divDes ul li img{
	max-width: 124px;
	width: 100%;
	height: 100px;	
	padding-right: 10px;
	float: left;
}
#homeLeftSide .newProdcut .divDes ul li p{
	margin: 10px 0 0 0;	
}
#homeLeftSide .newProdcut .divDes ul li p span.title{
	font-size: 14px;
	font-weight: 700;
	color: #0071BA;
}
#homeLeftSide .newProdcut .divDes ul li p span{
	font-size: 12px;
	line-height: 20px;
	display: block;
}

/*
 *  Content homeSidebar
 * ------------------------------------------------------------------------------
 */
 #homeSidebar #quickSearch{
	width: 100%;
}
#homeSidebar #quickSearch #titleTop{	
	margin: 0 10px;
	padding: 20px 0 5px 0;
	margin-bottom: 20px;
	border-bottom: 2px solid #0071BA;
}
#homeSidebar #quickSearch #titleTop span{
	font-size: 18px;
	font-weight: 700;
	color: #0071BA;	
	padding-left: 5px;	
}
#homeSidebar #quickSearch #divFrm{
	padding: 0 15px;
}
#homeSidebar #quickSearch #divFrm table{
	border: 0;
	border-collapse: collapse;
}
#homeSidebar #quickSearch #divFrm table tr td{
	width: 270px;	
}

#homeSidebar #quickSearch #divFrm table tr td select{
	padding-left: 15px;
	cursor: auto;
	height: 36px;	
	background-color: transparent;
	border: 0 none;
	box-shadow: none;	
	display: block;
	font-size: 100%;
	line-height: normal;
	margin: 0;	
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#homeSidebar #quickSearch #divFrm table tr td .longStl{
	max-width: 270px;
	width: 100%;
    height: 36px;
    background: url("../../img/public_home/bg/bg_longslt.png") no-repeat;
	background-size: 100% 36px;
	background-position:center;	
	margin-bottom: 10px;	
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;	
	z-index: 1;	
    overflow:hidden;  
	float: left;
}
#homeSidebar #quickSearch #divFrm table tr td .shortStl{
	/*max-width: 123px;*/
	width: 45%;
    height: 36px;
    background: url("../../img/public_home/bg/bg_shortslt.png") no-repeat;
	background-size: 100% 36px;
	background-position:center;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;	
	z-index: 1;
	overflow:hidden;  
	float: left;
}
.shortinput{
	margin-bottom: 10px;
	float: left;
	width:130px !important;
}

.text-box{
	height: 36px!important;
    margin-bottom: 0 !important;
	border:1px solid #C2C2C2 !important;
	
}
input::-webkit-input-placeholder { font-size: 12px; color: #ccc!important; }
input::-moz-placeholder { font-size: 12px; color: #ccc!important; }
input:-ms-input-placeholder { font-size: 12px; color: #ccc!important; }
input:-moz-placeholder { font-size: 12px; color: #ccc!important; }
#homeSidebar #quickSearch #divFrm table tr td span{
	float: left;
	padding: 8px 6px;
	
}
.longStl:before ,
.shortStl:before {
	color: #757575;
	display: block;
	font-family: 'FontAwesome';	
	height: 36px;
	line-height: 35px;
	padding: 0 12px 0 0;	
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;	
	z-index: 5;
}
/* Customize select */
.longStl select:focus,
.shortStl select:focus {
	outline: none;
}
:-moz-any(.longStl):before {
	background-color: #fff;
	pointer-events: none;
	z-index: 1;
}
:-moz-any(.shortStl):before {
	background-color: #fff;
	pointer-events: none;
	z-index: 1;
}
/* End customize select */
#homeSidebar #quickSearch #divFrm #bntsubmit{
	width: 100%;
}
#homeSidebar #quickSearch #divFrm input[type="submit"]{
	width: 270px;
	height: 30px;
	border: none;		
	background: url("../../img/public_home/bg/bnt_search.png") no-repeat;
	cursor: pointer;
	color:white;
}
#homeSidebar .bgBox{	
	width: 100%;
}
#homeSidebar .bgBox .divTitle{
	margin: 0 10px;
	padding: 30px 0 5px 0;
	/*margin-bottom: 20px;*/
	border-bottom: 2px solid #0071BA;
	position: relative;
	z-index: 7;
}
#homeSidebar .bgBox .divTitle span{
	font-size: 18px;
	font-weight: 700;
	color: #0071BA;
	padding-left: 5px;
}
#homeSidebar .bgBox ul {
	padding:0 10px;
	padding-bottom:35px;
	margin-top: -1px;	
}
#homeSidebar .bgBox ul li{	
	border-bottom: 2px solid #b6c8d5;
	background: #FFFFFF;
	/*height: 132px;*/
	margin-top: 20px;		
}
#homeSidebar .bgBox ul li .divimg{
	width: 130px;	
	height: 130px;
	float: left;
}
#homeSidebar .bgBox ul li img{
	width: 130px;	
	height: 130px;
}
#homeSidebar .bgBox ul li .divText{	
	padding: 15px 10px 10px 10px;	
	width: 150px;	
	float: left;
}
#homeSidebar .bgBox ul li p.title{
	color: #005a94;
	width:140px;
	font-size: 12px;
	text-align: center;
	margin-bottom: 10px;
}
#homeSidebar .bgBox ul li p.borderTop{
	font-size: 11px;
	color: #757575;	
	border-bottom: 1px solid #cccccc;
	padding:5px 0;
}
#homeSidebar .bgBox ul li p.borderTop span{
	float: right;
}
#homeSidebar .bgBox ul li p.price{
	font-size: 12px;
	color: #db0000;	
	/*border-top: 1px solid #cccccc;*/
	text-align: center;	
}
#homeSidebar .bgBox ul li p.price span.price{
	position: relative;
	top: 5px;
}
#homeSidebar .desInfo{
	margin-top: 30px;
	padding: 0 10px;
}
#homeSidebar .desInfo .imgTop{
	max-width: 281px;
	height: auto;
}
#homeSidebar .desInfo .imgTop img{
	width: 100%;
	height: 100%;
}
#homeSidebar .desInfo div.divtext{
	margin-top: 15px;
	padding-bottom: 10px;
}
#homeSidebar .desInfo div.divtext p{
	font-size: 12px;
	color: #757575;
	line-height: 22px;
	padding: 0 5px;
}
#homeSidebar .desInfo div.divtext p.title{
	font-size: 18px;
	color: #005a94;
	padding-bottom: 5px;
}

/* Start Popular Brands
--------------------------------------------------- */
#popularBrand {
	/* max-width: 1170px;
	width: 100%; */
	width: 1170px;
	margin: 0 auto 0;
}
#popularBrand #divTitle {
	border-bottom: 2px solid #0f649a;	
}
#popularBrand #divTitle p {
	font-size: 16px;
	color: #0f649a;
	margin-bottom: 5px;
}


#brands{
	/* max-width:1280px;
	width: 100%; */
	width:1170px;
	margin: 30px auto 80px;
}
#brands ul li {	
	max-width:105px;	
	width: 100%;
	margin-left: 55px;
	float: left;
}
/** End Popular Brands **/

.flRight{
	float: right !important;
}

/*
 *  Popup style
 * ------------------------------------------------------------------------------
 */
 #fancybox-close {
	display: inline !important;
 }
 #fancybox-bg-ne {
	background-image: url('fancy_close.png');
 }
 
/*
 *  Responsive
 * ------------------------------------------------------------------------------
 */
@media only screen and (min-width : 1025px) {
	#homeSidebar #quickSearch #divFrm table tr td .shortStl{
		max-width: 130px;
		width: 100%;
	}
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
	/*#homeContainer{
		margin:0px;
	}
	#homeContainer .container #homeSidebar{
		display:none;
	}
	#homeContainer .container #homeLeftSide{
		width:100%
	}*/
	
	/* menu tab */
	/*#homeLeftSide #products .tab {
		display: none;
	}
	#homeLeftSide #responTab{
		display: block;
		padding:0 15px;
		margin-top: 50px;
	}
	#homeLeftSide #sltTab{				
		width: 100%;
		max-height: 30px;
		height: 100%;
		background: url("../../img/public_home/bg/bg_slt_tab.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;		
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		position: relative;	
		z-index: 1;
		overflow:hidden;  
		padding: 0;
	}
	#homeLeftSide #sltTab select{
		padding-left: 15px;
		cursor: auto;
		height: 30px;	
		background-color: transparent;
		border: 0 none;
		box-shadow: none;	
		display: block;
		font-size: 100%;
		line-height: normal;
		margin: 0;	
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	#homeLeftSide #sltTab:before {
		color: #0071BA;
		display: block;
		font-family: 'FontAwesome';	
		height: 30px;
		line-height: 35px;
		padding: 0 12px 0 0;	
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;	
		z-index: 5;
	}	
	#homeLeftSide #sltTab:focus{
		outline: none;
	}	
	:-moz-any(#sltTab):before {
		background-color: #fff;
		pointer-events: none;
		z-index: 1;
	}	*/
	
	/* homeLeftSide products */
	/*#homeLeftSide .responProducts{
		padding: 0 15px;
	}
	#homeLeftSide #products{	
		margin-top: 20px;
	}*/
	
	/* sidebar responsive */
	/*#homeLeftSide #responSidebar{
		display: block;
		padding: 0 15px;
		margin-top: 20px;
	}
	#homeLeftSide #responSidebar #divBorder {
		background: #FFFFFF;
		border:1px solid #cacaca;
		border-top: 2px solid #0071ba;
		padding: 0 20px 40px 20px;
		margin: 0 0 15px 0;				
		width: 100%;
	}
	#homeLeftSide #responSidebar #divBorder .divTitle {
		border-bottom: 1px solid #cacaca;
		padding: 10px 0;
		margin-bottom: 20px;		

		width: 100%;
		float: left;
	}
	#homeLeftSide #responSidebar #divBorder .divTitle img {
		max-width: 13px;
		width: 100%;
		max-height: 17px;
		height: 100%;
		margin: 0 10px 0 -5px;
		position: relative;
		top: -2px;		
	}
	#homeLeftSide #responSidebar #divBorder .divTitle span {
		font-size: 16px;
		font-weight: 700;
		color: #0071BA;						
	}	
	#homeLeftSide  #responSidebar table{
		border: 0;
		border-collapse: collapse;		
	}
	#homeLeftSide  #responSidebar table tr td{
		width: 677px;
	}		
	#homeLeftSide  #responSidebar .sltSidebar {				
		width: 100%;
		max-height: 30px;
		height: 100%;
		background: url("../../img/public_home/bg/bg_slt_tab.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;		
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
		position: relative;	
		z-index: 1;
		overflow:hidden;  
		padding: 0;
		margin-bottom: 15px;
	}
	#homeLeftSide  #responSidebar .sltSidebar select{
		padding-left: 15px;
		cursor: auto;
		height: 30px;	
		background-color: transparent;
		border: 0 none;
		box-shadow: none;	
		display: block;
		font-size: 100%;
		line-height: normal;
		margin: 0;	
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	#homeLeftSide  #responSidebar .sltSidebar:before {
		color: #0071BA;
		display: block;
		font-family: 'FontAwesome';	
		height: 30px;
		line-height: 35px;
		padding: 0 12px 0 0;	
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;	
		z-index: 5;
	}	
	#homeLeftSide  #responSidebar .sltSidebar:focus{
		outline: none;
	}	
	:-moz-any(.sltSidebar):before {
		background-color: #fff;
		pointer-events: none;
		z-index: 1;
	}	*/
	/* small select */	
	/*#homeLeftSide  #responSidebar .smallSlt{		
		width: 48%;
		max-height: 30px;
		height: 100%;
		background: url("../../img/public_home/bg/bg_slt_sidebar.png") no-repeat;
		background-size: 100% 30px;
		background-position:center;	
		float: left;
	}	
	#homeLeftSide  #responSidebar .flRight{
		float: right;
	}
	#homeLeftSide  #responSidebar span{		
		padding: 8px 1%;	
		float: left;		
	}
	#homeLeftSide  #responSidebar table tr td .bntSearch{
		width: 100%;
	}
	#homeLeftSide  #responSidebar table tr td .bntSearch input[type="submit"] { 
		font-size: 12px;
		font-weight: 700;
		color: #FFFFFF;
		max-width: 80px;
		width: 100%;		
		background: #0071ba;
		border-radius: 5px;
		border: none;
		padding: 10px 0;
		margin: 15px 0 0 0;
		float: right;
	}*/
	
	/* homeLeftSide info */
	/*#homeLeftSide .info {
		padding: 0 15px;
	}	*/
}

/*@media only screen and (min-width : 320px) and (max-width : 480px) {
	#homeLeftSide .autoPart ul li img{
		max-width: 100%;
		width: 100%;
	}
	#homeLeftSide .newProdcut .divDes ul li img{
		max-width: 100%;
		width: 100%;
		padding: 0 0 10px 0;
	}
}*/

/*
 *  Only Firefox
 * ------------------------------------------------------------------------------
 */
@-moz-document url-prefix() { 		
	.longStl:before ,
	.shortStl:before {
		border: 1px solid #C2C2C2;		
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;		
		border-left: none;
	}
	#homeSidebar #quickSearch #divFrm table tr td .longStl select{
		max-width: 267px;
		width: 100%;
	}
	#homeSidebar #quickSearch #divFrm table tr td .shortStl select{
		max-width: 127px;
		width: 100%;
	}	
}

/** Edit **/
.title-special-deal {
  padding-top:7px;
  padding-bottom:7px;
  background-color:#e8e8e8;
  color:#005a94;
  text-align:center;
  border-bottom:2px solid #dcdcdc;
}
/** Edit **/

/*
 *  Only IE 10
 * ------------------------------------------------------------------------------
 */
select::-ms-expand {
	display: none;
}

/**
 * Edit Popup Border 10-02-2015
 * ------------------------------------------------------------------------------
**/
#fancybox-content {
	border: 10px solid #FFFFFF;
}

/*
 *  Slide Vehicle Detail
 * ------------------------------------------------------------------------------
 */
.picture-slides-container ul {
	margin: 5px 0 5px -5px;
}
.picture-slides-container ul.picture-slides-thumbnails li {
	margin: 5px;
	float: left;
}

/*
 *  Responsive Style
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width : 480px) {
	.picture-slides-container ul {
		margin: 5px 0 5px -2px;
	}
	.picture-slides-container ul.picture-slides-thumbnails li {
		margin: 2px 2px;	
	}
	.picture-slides-container ul.picture-slides-thumbnails li a img {
		max-width: 73px;
		width: 100%;
		height: auto;
	}
}