/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.new_searchwrap{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	background: #0063a3;
	padding: 2% 0;
}
.new_searchwrap .newsearch{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.new_searchwrap .newsearch table{
	width: 100%;
	height: auto;	
}
.new_searchwrap .newsearch table td{
	width: 96%;	
	height: 40px;
	vertical-align: middle;	
	text-align: center;	
}

.new_searchwrap .newsearch table td select{
	color: #424242;
	font-size: 12px;
	border: none;
	width: 96%;
	height: 30px;
}
.new_searchwrap .newsearch table td .year{
	width: 47.5%;
	margin-left: 2%;

}
.new_searchwrap .newsearch table td .year_end{
	width: 48%;	
	
}


.new_searchwrap .newsearch table td select{
	color: #424242;
	font-size: 12px;
	border: none;
	width: 96%;
	height: 30px;
}

.new_searchwrap .newsearch table td .search{
	width: 96%;		
	height: 40px;
	border: none;
	background:url(../../images/vehicle/vehicle_search.png) no-repeat center;	
	cursor: pointer;
	
}
.new_searchwrap .newsearch table td .textBox{
	width: 96%;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	text-indent: 10px;
}
/**.new_searchwrap .newsearch table td .textBox_part{
	width: 147px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**//**.new_searchwrap .newsearch table td .textBox_truck{
	width: 125px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**//**.new_searchwrap .newsearch table td .textBox_equipment{
	width: 125px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**/#sectionWrapper #sectionContenWrapper{
	width:100%;
	height:auto;
	margin:20px auto 0 auto;
}
/**#sectionWrapper #carMenu{
	width:100%;
	padding-bottom:15px;
}
**//**#carMenu ul{
	list-style:none;	
}
**//**#carMenu ul li.first_child{
	padding-left:0px;
}
**//**#carMenu ul li{
	float:left;
	padding-left:10px;
}
**//**#carMenu ul li.menu{	
	color:#0064b2;
}
**//**#carMenu ul li a{
	color:#424242;	
}
**//**#sectionContenWrapper #sectionSidebar{
	width:340px;
	height:auto;
	float:right;
}
**/#sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;
	float:left;
}
/**#carTitle{
	width:230px;
	height:30px;	
	margin-top:10px;
}
**//**#quickSearch{
	width:230px;
	
	background:#f9f9f9;
}
**//**#quickSearch #quickSearchTitle{
	width:210px;
	height:19px;
	border-bottom:2px solid #333;
	margin:20px 10px 0px 10px;	
}
**//**#quickSearchTitle p{
	font-size:14px;
	color:#424242;	
}
**//**#quickSearch table{
	margin-left:10px;	
}
**//**#quickSearch table img{
	margin-top:10px;	
}
**//**#quickSearch .formSelection{
	width:210px;
	height:30px;
	border:1px solid #ccc;
	margin-top:10px;	
	padding:5px;
}
**//**#quickSearch .textBox{
	width:198px;
	height:28px;
	border:1px solid #ccc;
	margin-top:10px;
	font-style:italic;
	color:#ccc;
	padding-left:10px;	
}
**//**#quickSearch #divYear {
	margin-top:10px;
}
**//**#divYear #year{
	width:40px;
	float:left;
	margin-top:5px;	
}
**//**#divYear #year p{
	font-size:12px;
	color:#424242;	
}
**//**#quickSearch div .fromSelection{
	width:78px;
	height:28px;
	border:1px solid #ccc;
	float:left;

}
**//**#quickSearch div .toSelection{
	width:78px;
	height:28px;
	border:1px solid #ccc;
	float:right;
}
**//**#quickSearch .searching_but{
	margin-top:10px;
	cursor:pointer;
	width:210px;
	height:30px;
	background:url(../../images/vehicle/seachbtn.png) no-repeat;
	border:none;	
}
**//**#itemsFrom{
	width:230px;
	height:44px;
	margin-top:25px;
	background:url(../../images/vehicle/directort-bg.png) repeat-x;	
}
**//**#itemsFrom{
	width:230px;
	height:44px;
	margin-top:25px;
	background:url(../../images/vehicle/directort-bg.png) repeat-x;	
}
**//**#itemsFrom p{
	font-size:16px;
	color:#282f7d;
	font-weight:bold;
	padding:10px 0px 0px 7px;	
}
**//**#fromCountry{
	width: 230px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0px 20px 0px;
	margin-top: 10px;
}
**//**#fromCountry p{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	padding-left: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #0064b1;
}
**//**#fromCountry ul{
	list-style:none;	
	margin-top: 10px;
}
**//**#fromCountry ul li{
	width:185px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding: 5px 0px 0px 15px;
	margin-left: 15px;
	background:url(../../images/home_new/blue_dot.png) center left no-repeat;
	font-size:14px;

}
**//**#fromCountry ul li a{
	color:#424242;	
}
**/
/**#fromCountry ul li a span{
	color:#c1272d;	
}
**//**#weeklyCarTitle{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/weeklycarTitle.png) no-repeat;	
}
**/
/**#weeklyCarTitle img{
	float:right;	
}
**//**#weeklyCar{
	width:230px;	
	height:auto;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:8px 0px 20px 0px;
	background-color:#fff;
}
**//**#weeklyCar p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
**//**#weeklyCar .carDetail{
	width:211px;
	height:auto;	
	margin-top:25px;
	background-color: #fff;
	padding:0px 0px 30px 10px;
}
**//**#weeklyCar .carDetail img{
	width: 210px;
	height: 155px;
}
**//**#weeklyCar .carDetail p{
	margin-top:15px;	
	text-align:center;
	color:#000088;
	font-size:12px;	
	
}
**//**#weeklyCar .carDetail p a{
	color: #0064b3;
}
**//**#weeklyCar p a{
	color:#000088;
	font-size:12px;
}
**//**#maiBox{
	width:230px;
	height:90px;
	margin-top:25px;

}
**//**#maiBox img{
	float:right;	
}
**//**#newsTitle{
	width:230px;
	height:170px;
	margin-top:25px;	
	bor
	background:url(../../images/home/newsTitle.png) no-repeat;
}
**//**#newsTitle img{
	float:right;	
}
**//**#newsTitleBox{
	padding-bottom: 20px;
	margin-top: 20px;
	width:230px;
	height:auto;
	border: 1px solid #ccc;
	border-radius: 5px;	
}
**//**#newsTitleBox p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
**//**#newsTitleBox p{
	margin-top: 10px;
	font-size:11px;
	color:#424242;	
	padding-left: 20px;
}
**//**#newsTitleBox p.top{
	font-size:11px;
	color:#424242;	
	margin-top:10px;
}
**//**#newsTitleBox p span a{
	color:#0064b3;
	text-decoration:underline;
}
**/

/*/////////////////////
///////////////////////
/*css for mainContent*/
/**#relatedPost img{
	float:right;	
}
**//**#relatedPost{
	width:705px;	
	height:30px;
	margin-top:25px;
	background:url(../../images/vehicle/relatedpost.png) no-repeat;
}
**/
/**#carOffer{
	width:703px;
	height:auto;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;	
}
**//**#carOffer #carDetail{
	width:705px;
	height:auto;
	margin-top:15px;	
}
**//**#carOffer #carDetail #showCar{
	width:156px;
	height:185px;
	float:left;
	margin-left:15px;	
}
**//**#showCar .carImg{
	width:157px;
	height:89px;
}
**//**#showCar .carName{
	width:156px;
	height:33px;
	margin-top:15px;

}
**//**#showCar .carName p{
	font-size:12px;
	color:#000088;	
	text-align:center;
	
}
**//**#showCar .carPrice{
	width:156px;
	height:25px;
	margin-top:10px;	
}
**//**#showCar .carPrice p{	
	font-size:12px;
	color:#c1272d;	
	text-align:center;
}
**//**#showCar .carPrice p span{
	color:#000;
}
**/#carIdentify{
	width:98%;
	height:auto;	
	border-bottom:1px solid #333333;
	margin-left: 1%;
	position:relative;
}
#carIdentify p{
	font-size:24px;
	float:left;
	color:#0064b1;
	font-weight: bold;	
}
#carIdentify img{
	position:absolute;
	bottom:12px;
	right:10px;
}
#carItem{
	width:100%;
	height:auto;	
	margin-top:20px;
	padding-bottom:25px;
	border-bottom:1px solid #ccc;
}
#carItem #carPart{
	width:98%;
	height:auto;	
	float:left;
	margin-left: 1%;
}
#carPart #carSelected{
	width:100%;
	height:auto;
	float:left;
}
#carPart #carSelected .imgchange{
	width:100%;
}

#carPart .carAcessory2{
	width:10%;
	height:auto;
	float:left;
	margin:10px 5px 0px 0px;
}

/**#carPart .carAcessory1{	
	margin:10px 0px 0px 0px;
}
**//**#carSms{
	width:315px;
	height:auto;
	margin: 0 auto;
	overflow: hidden;
}
**/
/**#share_with{
	width: 98%;
	height: auto;
	margin-top: 20px;
	margin-left: 1%;
}
**//**#share_with p{
	font-size: 12px;
	color: #424242;
	float: left;
	padding-top: 5px;
}
**//**#share_with ul{
	list-style: none;
}
**//**#share_with ul li{
	float: left;
	margin-left: 10px;
}
**/
/**#carSms #orderThis{
	width:315px;
	height:auto;	
	border-bottom:1px solid #0064b3;	
}
**//**#carSms #orderThis img{
	float:left;	
}
**//**#carSms #orderThis p{
	font-size:18px;
	color:#0064b3;	
	padding-left:30px;

}
**//**#carSms #sendTo{
	width:315px;
	height:auto;		
	margin-top:15px;
}
**//**#sendTo p{
	font-size:12px;
	color:#424242;
	float:right;
}
**//**#sendTo img{
	float:left;	
	margin:3px 5px 0px 0px;
}
**//**#carSms table{
	width: 315px;
}
**//**#carSms table td{
	height:35px;	
	width:200px;
	vertical-align:top;
}
**//**#carSms table td.left{
	width: 115px;
}
**/

/**#carSms table td.teaxArea{	
	height:75px;
	
}
**//**#carSms .formTextArea{
	height:63px;
	width:307px;
	border:1px solid #ccc;
}
**//**#carSms table td p{
	float:left;
	margin-top:3px;	
}
**//**#carSms table td img{
	float:right;	
}
**//**#carSms .formSelection{
	width:200px;
	height:23px;	
	border:1px solid #ccc;
	float:right;
}
**//**#carSms .formCheckBox{
	float:left;
	margin:5px 0px 0px 15px;	
}
**//**#carSms table td span{
	float:left;
	margin:4px 0px 0px 5px;	
}
**/#contact_sell{
	width: 40%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-bottom: 20px;
	float: right;
	margin-top: 20px;
	margin-right: 2%;
}

#contact_sell p.title{
	font-size: 16px;
	font-weight: bold;		
	border-bottom: 1px dotted #ccc;
	padding: 10px 0px;
	margin: 0px 10px;
}
#contact_sell p.title a{
	color: #0064b1;
}
#contact_sell #div_logo{
	width: 90%;
	height: auto;	
	margin-top: 10px;
	margin-left: 5%;
	border: 1px solid #ccc;
}
#contact_sell #div_detail{
	width: 90%;
	height: auto;	
	margin-top: 10px;
	margin-left: 5%;
}
/**#contact_sell #div_detail p{
	font-size: 12px;
	color: #424242;
	padding-bottom: 5px;
}
**/#contact_sell #div_detail table{
	width: 100%;
}
#contact_sell #div_detail table td.left{
	width: 40%;
}
#contact_sell #div_detail table td{
	width: 60%;
	height: 25px;
	text-align: left;
	vertical-align: middle;
}
#contact_sell #contact_button{
	width: 90%;
	height: auto;
	margin-top: 10px;	
	margin-left: 5%;
}
#contact_sell #contact_button #contact{
	width: 70%;
	height: auto;	
	margin: 0 auto;
	
}
#contact_sell #contact_button img{
	max-width: 100%;
	height: auto;
	display: block;
}
#contact_sell #contact_button #visit{
	width: 70%;
	height: auto;	
	margin: 10px auto;
}
#descriptionInstall{
	width:52%;
	height:auto;	
	padding:1%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 20px;
	float: left;	
	margin-left: 1%;
}
#descriptionInstall #des{
	width:98%;
	word-break:break-all;
	height:auto;
	float:left;	
}
#des #description{
	width:98%;
	height:16px;	
}
#descriptionInstall img {	
	float:left;
	margin-top:3px;
	
}
#descriptionInstall p{
	font-size:16px;
	color:#0064b2;
	float:left;		
	font-weight:bold;
}
/**#descriptionInstall .install{
	width:98%;
	height:auto; 
	float:left;	
}
**//**.install .installedFeature{
	width:98%;
	height:16px;	
	padding-top:15px;
	padding-bottom:15px;
}
**/#descriptionInstall #desDetail{
	width:98%;
	height:auto;	
}
#desDetail table{
	margin-top:10px;
	width: 100%;	
}
#desDetail table td{
	vertical-align:middle;	
	border-top:1px dotted #ccc;
	padding-top:5px;
	padding-bottom:5px;
	vertical-align:top;
	font-size:12px;
}
#desDetail table td.topTd{
	border-top:1px solid #ccc;
}
/**#desDetail table td.botTd{
	border-bottom:1px solid #ccc;
}
**/#desDetail table td.leftTd{
	width:50%;	
	border-right:1px solid #ccc;
}
#desDetail table td.rightTd{
	width:50%;	
	padding-left:1%;
}
#desDetail table td span{
	float:left;
	
	padding-right:3px;
}

/**.install table {
	margin-top:10px;
	width: 100%;
}
**//**.install table td{
	width:50%;
	height:30px;
	background:url(../../images/vehicle/blackarrow.png) left center no-repeat;
	vertical-align:middle;	
	padding-left:12px;
}
**/
/* CUSTOME */
/**#submit {
	display: none;
}
**/

/**.install .option-item {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit *\/
	-moz-box-sizing: border-box;    /* Firefox, other Gecko *\/
	box-sizing: border-box;         /* Opera/IE 8+ *\/
    background: url(../../images/vehicle/blackarrow.png) no-repeat scroll left center rgba(0, 0, 0, 0);
	background-position:0 10px;
    float: left;
    padding: 5px 12px;
    width: 50%;
}
**/
/**.seller-comment{
	overflow: auto;
    width: 98%;    
}
**//**.seller-comment-title{
	padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 1%;

}
**//**.seller-comment #comment{
	width: 98%;
	height: auto;
	float: left;
	margin-left: 1%;
}
**//**.seller-comment #comment p{
	font-size: 12px;
	color: #424242;
}
**//**.seller-comment #comment_wrap{
	margin-top: 20px;
	width: 98%;
	border-top:5px solid #ccc;
	border-bottom:5px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	overflow: hidden;
	padding-top: 20px;
	margin-left: 1%;

}
**//**.seller-comment #comment_wrap #logo_wrap{
	width: 30%;
	height: auto;
	float: left;
	margin-left: 1%;
	padding:1%;
	


}
**//**.seller-comment #comment_wrap #logo_wrap #logo{
	width: 100%;
	height: auto;

}
**//**.seller-comment #comment_wrap #wrapper{
	border-top: 1px solid #999999;
}
**/
/**.seller-comment #comment_wrap #detial_wrap{
	float: right;
	width: 65%;	
	margin-right: 1%;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 20px;
}
**//**.seller-comment #comment_wrap #detial_wrap #detial{
	border: 1px solid #999999;
	width: 100%;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 1%;

}
**//**.seller-comment #comment_wrap #detial_wrap #detial p{
	font-size: 12px;
	color: #424242;
	padding-left: 1%;
	
}
**//**.seller-comment #comment_wrap #detial_wrap #detial p a{
	word-wrap:break-word;
	color: #056fc0;
}
**//**.seller-comment #comment_wrap #detial_wrap #detial p.title{
	font-weight: bold;
	padding-left: 1%;
}
**//**.alert {
	text-align: center;
}
**/
