/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.new_searchwrap{
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	background: #0063a3;
	padding: 2% 0;
}
.new_searchwrap .newsearch{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.new_searchwrap .newsearch table{
	width: 100%;
	height: auto;	
}
.new_searchwrap .newsearch table td{
	width: 96%;	
	height: 40px;
	vertical-align: middle;	
	text-align: center;	
}

.new_searchwrap .newsearch table td select{
	color: #424242;
	font-size: 12px;
	border: none;
	width: 96%;
	height: 30px;
}
.new_searchwrap .newsearch table td .year{
	width: 47.5%;
	margin-left: 2%;

}
.new_searchwrap .newsearch table td .year_end{
	width: 48%;	
	
}
/*.new_searchwrap .newsearch table td .condition{
	width: 90px;		
}
.new_searchwrap .newsearch table td .make{
	width: 75px;		
}
.new_searchwrap .newsearch table td .model{
	width: 80px;		
}
.new_searchwrap .newsearch table td .steering{
	width: 90px;		
}
.new_searchwrap .newsearch table td .country{
	width: 85px;		
}
.new_searchwrap .newsearch table td .category{
	width: 90px;		
}
.new_searchwrap .newsearch table td .category2{
	width: 95px;		
}
.new_searchwrap .newsearch table td .year{
	width: 55px;		
}*/
.new_searchwrap .newsearch table td .search{
	width: 96%;		
	height: 35px;
	border: none;
	background:url(../../images/vehicle/vehicle_search.png) no-repeat center;	
	cursor: pointer;
	
}
.new_searchwrap .newsearch table td .textBox{
	width: 96%;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	text-indent: 10px;
}
/**.new_searchwrap .newsearch table td .textBox_part{
	width: 147px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**//**.new_searchwrap .newsearch table td .textBox_truck{
	width: 125px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**//**.new_searchwrap .newsearch table td .textBox_equipment{
	width: 125px;
	height: 30px;
	border: none;
	border: 1px solid #ccc;
	border-right: none;
	float: left;
	text-indent: 10px;
}
**/#sectionWrapper #sectionContenWrapper{
	width:100%;
	height:auto;
	margin:20px auto 0 auto;
}
/**#sectionWrapper #carMenu{
	width:100%;
	padding-bottom:15px;
}
**//**#carMenu ul{
	list-style:none;	
}
**//**#carMenu ul li.first_child{
	padding-left:0px;
}
**//**#carMenu ul li{
	float:left;
	padding-left:10px;
}
**//**#carMenu ul li.menu{	
	color:#0064b2;
}
**//**#carMenu ul li a{
	color:#424242;	
}
**//**#sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:right;
}
**/#sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;
	float:left;
}
/**#carTitle{
	width:230px;
	height:30px;	
	margin-top:10px;
}
**//**#quickSearch{
	width:230px;
	
	background:#f9f9f9;
}
**//**#quickSearch #quickSearchTitle{
	width:210px;
	height:19px;
	border-bottom:2px solid #333;
	margin:20px 10px 0px 10px;	
}
**//**#quickSearchTitle p{
	font-size:14px;
	color:#424242;	
}
**//**#quickSearch table{
	margin-left:10px;	
}
**//**#quickSearch table img{
	margin-top:10px;	
}
**//**#quickSearch .formSelection{
	width:210px;
	height:30px;
	border:1px solid #ccc;
	margin-top:10px;	
	padding:5px;
}
**//**#quickSearch .textBox{
	width:199px;
	height:30px;
	border:1px solid #ccc;
	margin-top:10px;
	font-style:italic;
	padding-left:10px;	
}
**//**#quickSearch #divYear {
	margin-top:10px;
	width:210px;
}
**//**#divYear #year{
	width:40px;
	float:left;
	margin-top:5px;	
}
**//**#divYear #year p{
	font-size:12px;
	color:#424242;	
}
**//**#quickSearch div .fromSelection{
	width:78px;
	height:28px;
	border:1px solid #ccc;
	float:left;
	
}
**//**.searching_but{
	width:210px;
	height:30px;
	background:url(../../images/vehicle/seachbtn.png) no-repeat;
	border:none;	
	margin-top:10px;
	cursor:pointer;
}
**//**#quickSearch div .toSelection{
	width:78px;
	height:28px;
	border:1px solid #ccc;
	float:right;
}
**//**#itemsFrom{
	width:230px;
	height:44px;
	margin-top:35px;
	background:url(../../images/vehicle/directort-bg.png) repeat-x;	
}
**//**#itemsFrom p{
	font-size:16px;
	color:#282f7d;
	font-weight:bold;
	padding:10px 0px 0px 7px;	
}
**/
/**#fromCountry{
	width: 230px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0px 20px 0px;
	margin-top: 10px;
}
**//**#fromCountry p{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	padding-left: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #0064b1;
}
**//**#fromCountry ul{
	list-style:none;	
	margin-top: 10px;
}
**//**#fromCountry ul li{
	width:185px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding: 5px 0px 0px 15px;
	margin-left: 15px;
	background:url(../../images/home_new/blue_dot.png) center left no-repeat;
	font-size:14px;

}
**//**#fromCountry ul li a{
	color:#424242;	
}
**/
/**#fromCountry ul li a span{
	color:#c1272d;	
}
**/
/**#weeklyCarTitle{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/weeklycarTitle.png) no-repeat;	
}
**/
/**#weeklyCarTitle img{
	float:right;	
}
**//**#weeklyCar{
	width:230px;	
	height:auto;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:8px 0px 20px 0px;
	background-color:#fff;
}
**//**#weeklyCar p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
**//**#weeklyCar .carDetail{
	width:211px;
	height:auto;	
	margin-top:25px;
	background-color: #fff;
	padding:0px 0px 30px 10px;
}
**//**#weeklyCar .carDetail img{
	width: 210px;
	height: 155px;
}
**//**#weeklyCar .carDetail p{
	margin-top:15px;	
	text-align:center;
	color:#000088;
	font-size:12px;	
	
}
**//**#weeklyCar .carDetail p a{
	color: #0064b3;
}
**//**#weeklyCar p a{
	color:#000088;
	font-size:12px;
}
**//**#maiBox{
	width:230px;
	height:90px;
	margin-top:25px;

}
**//**#maiBox img{
	float:right;	
}
**//**#newsTitle{
	width:230px;
	height:170px;
	margin-top:25px;	
	bor
	background:url(../../images/home/newsTitle.png) no-repeat;
}
**//**#newsTitle img{
	float:right;	
}
**//**#newsTitleBox{
	padding-bottom: 20px;
	margin-top: 20px;
	width:230px;
	height:auto;
	border: 1px solid #ccc;
	border-radius: 5px;	
}
**//**#newsTitleBox p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
**//**#newsTitleBox p{
	margin-top: 10px;
	font-size:11px;
	color:#424242;	
	padding-left: 20px;
}
**//**#newsTitleBox p.top{
	font-size:11px;
	color:#424242;	
	margin-top:10px;
}
**//**#newsTitleBox p span a{
	color:#0064b3;
	text-decoration:underline;
}
**/

/*/////////////////////
///////////////////////
/*css for mainContent*/
/**#specialOffer img{
	float:right;	
}
**//**#specialOffer{
	width:100%;	
	height:30px;
	margin-top:10px;	
	background: #ccc;
	padding: 5px 0px 0px 5px;
}
**//**#specialOffer p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
**//**#carOffer{
	max-width:100%;
	height:auto;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;	
}
**//**#carOffer #carDetail{
	width:100%;
	height:auto;
	margin-top:15px;	
	background:#fff;
}
**//**#carOffer #carDetail #showCar{
	width:156px;
	height:185px;
	float:left;
	margin-left:15px;	
}
**//**#showCar .carImg{
	width:157px;
	height:89px;
}
**//**#showCar .carName{
	width:156px;
	height:33px;
	margin-top:15px;

}
**//**#showCar .carName p{
	font-size:12px;
	color:#000088;	
	text-align:center;
	
}
**//**#showCar .carPrice{
	width:156px;
	height:25px;
	margin-top:10px;	
}
**//**#showCar .carPrice p{	
	font-size:12px;
	color:#c1272d;	
	text-align:center;
}
**//**#showCar .carPrice p span{
	color:#000;
}
**//**#orderBy{
	width:96%;
	height:38px;	
	background:#f9f9f9;	
	margin-left: 2%;
	border-bottom:2px solid #0064b3;
}
**//**#orderBy p{
	font-size: 12px;
	color: #424242;
}
**//**#orderBy p span{
	color: #bf272d;
	font-weight: bold;
}
**//**#orderBy #orderText{
	width:55px;
	height:38px;	
	float:left;
	margin-left:10px;
}
**//**#orderBy #displayText{
	width:100px;
	height:38px;	
	float:left;
	margin-left:20px;
}
**//**#orderBy p{
	color:#424242;
	font-size: 12px;	
	padding-top:7px;
}
**//**#orderBy .orderSeclectBox{
	width:198px;
	height:28px;
	border:1px solid #ccc;	
	margin:5px 0px 0px 10px;
	float:left;
}
**//**#orderBy .displaySeclectBox{
	width:138px;
	height:28px;
	border:1px solid #ccc;	
	margin-left:10px;
	float:left;
	margin:5px 0px 0px 10px;
}
**//**#orderBy #displayButton{
	width:100px;
	height:30px;
	float:left;
	margin:4px 0px 0px 10px;
}
**/#sectionContent #carData{
	width:100%;
	height:auto;	
}
#carData #carSourceWraper{
	width:100%;
	height:auto;
	margin-top:15px;
	float:left;
}
#carSourceWraper .listCar{
	width:92%;
	height:auto;
	
	float:left;
	background:#fff;
	border:1px solid #ccc;
	padding:2% 2%;
	margin: 0% 1% 1% 2% ;
	
}
/**#carSourceWraper .rightCar{
	margin:0;
}
**/
#carSourceWraper .listCarName{
	width:100%;
	height:auto;
	border-bottom:2px solid #0064b3;
}
#carSourceWraper .listCarName p{
	font-size:13px;
	color:#424242;	
	font-weight:bold;
	line-height:40px;
}
#carSourceWraper .listCarImg{
	width:50%;
	height: auto;	
	float: left;	
	margin-top:20px;
	position: relative;
	

}
#carSourceWraper .listCarImg a img{
	max-width: 100%;
	height: auto;			
	position: relative !important;
	
}
/**#carSourceWraper .listCarImg a img.news{
	width: 30%;
	height: auto;				
	z-index: 2;
}
**/#carSourceWraper #carDetailWrap{
	width:48%;
	height:auto;
	float: right;
	margin-top:20px;	
	
}
#carDetailWrap .listCarDetail{
	max-width:100%;
	height:auto;
	float:left;	
}
#carDetailWrap .listCarDetail p {
	font-size:11px;
	color:#424242;	
	display: block;	
	word-wrap:break-word;
}

#carDetailWrap .listCarDetail p span{
	float:left;
}
#carDetailWrap .listCarDetail p span.flag{
	padding-left:5px;
	padding-bottom: 0px;

}
#carDetailWrap .listCarPrice{
	width:100%;
	height:auto;
	float:right;	
}


#carDetailWrap .listCarPrice p{
	 
	font-size:16px;
	padding-top:5px;
	
	text-align: left;	
}
/**.listCarPrice .contactSeller{	
	margin-top: 20px;
}
**//**#pagernation{
	width:100%;
	height:15px;
}
**//**.vehicle_mobilesearch{
	width: 96%;
	height: auto;
	background: #0063a3;
	padding: 2%;
}
**/.search{
	width: 98%;
	height: 30px;
	margin-left: 1%;
	margin-top: 10px;
	background:url(../../images/my-inventory/search_mobile.png) no-repeat center center;
	border: none;
}