#main{
 width:500px;
 height:390px;
 margin-left:-15px;
 border-top:2px solid #0071BA;
 margin-top:4px;
}

#main #label-sign-in{
 font-size:24px;
 font-weight:700;
 color:#0064b1;
 margin:35px 0px 15px 55px;
}
#main #form-introduction{
margin-left:55px;
font-weight:400;
padding-right:20px;
}

#main #form-wrapper{
  margin-top:50px;
  margin-left:55px;  
}
#main label{
 padding-right:85px;
}
#main table #txt-box-email,#txt-box-password{
  width:260px;
  height:35px;
}
#main table #txt-box-email{
  margin-bottom:15px;
}
#main table #button-signin{
float:right;
margin-top:15px;
}
#main table  #decorate-text-link-password{
 padding-top:25px;
 margin-bottom:10px;
 

}
#main table a{
color:red;
font-size:12px;
text-decoration:underline
 }

 
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
} 
.alert-danger, .alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 20px;
}
