/*css for sideBar*/
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:30px auto 0 auto;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;
}
#sectionWrapper #sectionContenWrapper #sectionContent{
	width:705px;
	height:auto;
	float:right;
}
#topSidebar{
	width:230px;
	height:auto;	
}
#topSidebar ul{
	list-style:none;	
}
#topSidebar ul li{
	width:228px;
	height:58px;
	font-size:16px;
	font-weight:bold;
}
#topSidebar ul li a{
	color:#424242;
	font-size:14px;
	padding:20px 0px 20px 70px;
	display:block;
	}
#topSidebar ul li.sidebarCar{	
	background:url(../../images/home/car_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
}
#topSidebar ul li.sidebarTruck{
	background:url(../../images/home/truck_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarBus{
	background:url(../../images/home/bus_sidebar.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarTrucktor{
	background:url(../../images/home/equpiment.png) 10px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li.sidebarAcessory{
	background:url(../../images/home/top.png) 18px center no-repeat;
	border:1px solid #ccc;
	border-top:none;
}
#topSidebar ul li span{
	float:right;
	margin:2px 5px 0px 0px;
}
#itemsFrom{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/item_from.png) no-repeat;	
}
#itemsFrom img{
	float:right;	
}
#itemsFrom p{
	font-size:16px;
	color:#282f7d;
	font-weight:bold;
	padding:10px 0px 0px 7px;	
}
#fromCountry ul{
	list-style:none;	
}
#fromCountry ul li{
	width:195px;
	height:25px;
	border-bottom:1px dotted #ccc;
	padding:10px 0px 0px 35px;

}
#fromCountry ul li a{
	color:#424242;	
}

#fromCountry ul li a span{
	color:#c1272d;	
}
#fromCountry ul li#korea{
	background:url(../../images/home/korea.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	

}
#fromCountry ul li#japan{
	background:url(../../images/home/jp.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#russia{
	background:url(../../images/home/russia.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#usa{
	background:url(../../images/home/usa.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#vn{
	background:url(../../images/home/vn.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#uae{
	background:url(../../images/home/uae.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#china{
	background:url(../../images/home/china.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;	
}
#fromCountry ul li#belguim{
	background:url(../../images/home/belguim.png) 10px 10px no-repeat;
	font-size:14px;
	color:#424242;
}
#weeklyCarTitle{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/weeklycarTitle.png) no-repeat;	
}
#weeklyCarTitle img{
	float:right;	
}
#weeklyCar{
	width:220px;	
	height:230px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;	
	padding:8px 0px 0px 8px;
	background-color:#fff;
}
#weeklyCar .carDetail{
	width:211px;
	height:155px;	
	margin:9px 0 0 9px;		
	background-color: #fff;
}
#weeklyCar .carDetail img{
	width: 210px;
	height: 155px;
}
#weeklyCar .carDetail p{
	margin-top:15px;	
	text-align:center;
	color:#000088;
	font-size:12px;	
	background: #fff;
}
#weeklyCar .carDetail p a{
	color: #0064b3;
}
#weeklyCar p a{
	color:#000088;
	font-size:12px;
}
#maiBox{
	width:230px;
	height:90px;
	margin-top:25px;

}
#maiBox img{
	float:right;	
}
#newsTitle{
	width:230px;
	height:30px;
	margin-top:25px;	
	background:url(../../images/home/newsTitle.png) no-repeat;
}
#newsTitle img{
	float:right;	
}
#newsTitleBox{
	width:218px;
	height:95px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;	
	padding:10px 0px 0px 10px;
}
#newsTitleBox p{
	font-size:11px;
	color:#424242;	
}
#newsTitleBox p.top{
	font-size:11px;
	color:#424242;	
	margin-top:10px;
}
#newsTitleBox p span a{
	color:#0064b3;
	text-decoration:underline;
}


/*/////////////////////
///////////////////////
/*css for mainContent*/
#banner{
	width:705px;
	height:300px;	
}
#nav li a { 
	width:13px; 
	height:12px;
	float:left;
	margin-right:5px;
	background:url(../../images/home/dot.png) no-repeat;
	text-indent:-20px;
}
#nav li.activeSlide a { 
	background:url(../../images/home/dot_over.png) no-repeat;
}
#nav li a:focus { 
	outline: none; 
}
#btnSlideWraper{
	width:705px;
	height:12px;
	padding-bottom: 20px;
	margin-top:15px;	
}
#btnSlideWraper #btnSlide{
	width:90px;
	margin:0 auto;	

}
#btnSlideWraper #btnSlide ul{
	list-style:none;
}
#btnSlideWraper #btnSlide ul li{
	width:13px; 
	height:12px;
	float:left;
	margin-right:5px;
}
#carOffer{
	width:703px;
	height:auto;
	border-bottom:1px solid #cacaca;
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;	
}
#carOffer #carDetail{
	width:703px;
	height:auto;
	margin-top:15px;	
	background:#fff;
}
#carOffer #carDetail #showCar{
	width:156px;
	height:185px;
	float:left;
	margin-left:15px;	
}
#showCar .carImg{
	width:157px;
	height:89px;
}
#showCar .carName{
	width:156px;
	height:33px;
	margin-top:15px;

}
#showCar .carName p{
	font-size:12px;
	color:#000088;	
	text-align:center;
	
}
#showCar .carPrice{
	width:156px;
	height:25px;
	margin-top:10px;	
}
#showCar .carPrice p{	
	font-size:12px;
	color:#c1272d;	
	text-align:center;
}
#showCar .carPrice p span{
	color:#000;
}
#items{
	width:705px;
	height:auto;
	margin-top:25px;	
}
#items p.center{
	color:#000088;	
	font-size:14px;
	text-align:center;
	margin-top:14px;
	font-weight:bold;
}
#items #directory{
	width:233px;
	height:42px;	
	border:1px solid #cacaca;
	float:left;
	background:#E6E6E6;
}
#items #directoryDetial{
	width:233px;
	height:259px;	
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	float:left;
}
#items #directoryDetial p.car{
	width:186px;
	background:url(../../images/home/logocar.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.truck{
	width:186px;
	background:url(../../images/home/logotruck.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.bus{
	width:186px;
	background:url(../../images/home/logobus.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.trucktor{
	width:186px;
	background:url(../../images/home/logotrucktor.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.door{
	width:186px;
	background:url(../../images/home/logodoor.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.wheel{
	width:186px;
	background:url(../../images/home/logowheel.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p.acessory{
	width:186px;
	background:url(../../images/home/logoacess.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:38px;
	margin:10px 0px 0px 10px;;
}
#items #directoryDetial p a{
	color:#424242;
	}
#items #newestAutoTradeDetial p a{
	color:#424242;	
}
#items #newestAutoTradeDetial p span{
	color:#c1272d;	
}
#items #newestAutoTradeDetial p#korea{
	width:186px;
	background:url(../../images/home/korea.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#japan{
	width:186px;
	background:url(../../images/home/jp.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#russia{
	width:186px;
	background:url(../../images/home/russia.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#usa{
	width:186px;
	background:url(../../images/home/usa.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#vn{
	width:186px;
	background:url(../../images/home/vn.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#uae{
	width:186px;
	background:url(../../images/home/uae.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#china{
	width:186px;
	background:url(../../images/home/china.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTradeDetial p#belguim{
	width:186px;
	background:url(../../images/home/belguim.png) no-repeat;
	font-size:14px;
	color:#424242;	
	padding-left:25px;
	margin:10px 0px 0px 10px;;
}
#items #newestAutoTrade{
	width:234px;	
	height:42px;	
	border:1px solid #cacaca;
	border-left:none;
	float:left;
	background:#E6E6E6;
}
#items #newestAutoTradeDetial{
	width:234px;	
	height:259px;	
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;;
	float:left;

}
#advertise{
	width:705px;
	height:80px;
	margin-top:25px;	
}

#itemsTab{
	width:705px;
	height:26px;
	margin-top:25px;	
}
#itemsTab #buyerInquiry{
	width:255px;	
	height:25px;
	float:left;
	border-bottom:1px solid #e6e6e6;
	background:url(../../images/home/list-style.png) left center no-repeat;
}
#itemsTab #tabs{
	width:450px;
	height:24px;	
	float:left;
}
#itemsTab #tabs ul{
	list-style:none;	
}
#itemsTab #tabs ul li.allTab{
	margin-left:-1px;	
}
#itemsTab #tabs ul li{
	float:left;
	margin-left:1px;
	margin-top:3px;
	border-top:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	background:#f2f2f2;
	height:22px;

}
#itemsTab #tabs ul li.all{
	margin-left:-1px;	
}
#itemsTab #tabs ul li a{
	padding:4px 19px 0px 19px;	
	color:#424242;
	display:block;
}

#itemsTab #tabs .current{
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	height:22px;
	position:relative;
	background:#fff;
	top:-4px;
	padding-top:4px;
}
#itemsTab #tabs .current:before{
	content:".";
	display:block;
	color:transparent;
	font-size:0;
	border-top:2px solid #0064b3;
	position:absolute;
	left:-1px;
	right:-1px;
	top:-2px;
}

.subTab ul{
	list-style:none;	
}
.subTab ul li{
	padding-top:10px;
	height:25px;
	border-bottom:1px dotted #e6e6e6; 		
}
.subTab ul li span{
	padding-left:20px;	
}
.subTab ul li span a{
	color:#0064b3;	
}

#tab_all{
	width:705px;
	height:auto;	
	display:block;
}
#tab_car{
	width:705px;
	height:auto;	
	display:none;
}
#tab_truck{
	width:705px;
	height:auto;
	display:none;	
}
#tab_bus{
	width:705px;
	height:auto;
	display:none;	
}
#tab_equipment{
	width:705px;
	height:auto;
	display:none;	
}
#tab_auto{
	width:705px;
	height:auto;
	display:none;	
}




