#homeContainer {
	
}

#homeContainer .container #homeSidebar{
	/*width: 312px\9;	
	height:auto\9;
	float:left\9;	*/
}
#homeContainer .container #homeLeftSide{
	/*float:right\9;	
	width: 821px\9;	
	height:auto\9;
	margin-bottom: 100px\9;*/
}

#homeSidebar #quickSearch #divFrm table tr td .longStl select{
	width: 287px\9;	
	border: 0;
	padding-top: 11px\9;
	padding-bottom: 11px\9;
}
#homeSidebar #quickSearch #divFrm table tr td .shortStl select{	
	width: 145px\9;	
	border: 0;
	padding-top: 11px\9;
	padding-bottom: 11px\9;
}
#homeSidebar #quickSearch #divFrm table tr td .longStl{	
	width: 266px\9;		
}
#homeSidebar #quickSearch #divFrm table tr td .shortStl{
	width: 125px\9;		
}
#homeLeftSide #products .tab ul{
	/*position: relative\9;
	top: -1px\9;*/
}
#homeSidebar #quickSearch #divFrm table tr td span {
	padding: 8px 4px\9;
}
#homeSidebar #quickSearch #divFrm #bntsubmit {
	margin-right: 12px\9;
}