/* public_home.php */

/*
 *  Section
 * ------------------------------------------------------------------------------
 */

#homeContainer{		
	max-width: 1200px;
	width:100%;
	margin:30px auto 0 auto;
	height:auto;
	padding: 0 15px;
}
#homeContainer .container{
	max-width:1170px;
	width:100%;
	padding:0;
	margin-bottom: 70px;
}
#loadingVehicle img.loadBottom {
    position: fixed;
}	

/*
 *  Search Car
 * ------------------------------------------------------------------------------
 */
#homeContainer .container #carSearch {
	max-width: 1170px;
	width: 100%;
	height: 100%;
	background: url("../../img/public_home/bg/bg_search_car.png") no-repeat;
	background-size: 100% 100%;
	background-position:center;
	margin-top: 20px;
	padding: 20px 15px 15px 15px;
}
#homeContainer .container #carSearch table {
	width: 100%;
	border: 0;
	border-collapse: collapse;	
}
#homeContainer .container #carSearch select {
	width: 100%;
	height: 30px;
	text-indent: 12px;
	margin-bottom: 10px;
}
#homeContainer .container #carSearch input[type="text"] {
	width: 100%;
	height: 30px;
	border: 1px solid #bdbebf;
	padding: 0 15px;
	margin-bottom: 10px;	
}
#homeContainer .container #carSearch input[type="submit"] {
	width: 100%;
	height: 30px;
	border: none;
	background: url("../../img/public_home/bg/btn_search_car.png") no-repeat;
	background-size: 100% 30px;
	background-position:center;
	
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0 15px;
}

/*
 *  Lastest Car
 * ------------------------------------------------------------------------------
 */
#homeContainer .container #lastestCar {
	width: 100%;
	margin-top: 20px;
}
#homeContainer .container #lastestCar p.title {
	font-size: 14px;
	font-weight: 700;
	color: #4194ca;
}
#homeContainer .container #lastestCar ul li {
	width: 100%;
	border-bottom: 2px solid #b6c8d5;
	background: #FFFFFF;	
	margin-top: 20px;	
}
#homeContainer .container #lastestCar ul li p.title-special-deal {
	padding: 7px 0 5px 0;
	background-color: #e8e8e8;
	color: #005a94;
	text-align: center;
	border-bottom: 2px solid #dcdcdc;
}
#homeContainer .container #lastestCar ul li .divimg {
	max-width: 130px;
	width: 100%;
	height: 140px;
	float: left;
	position: relative;
}
#homeContainer .container #lastestCar ul li .divimg img {
	max-width: 130px;
	width: 100%;
	height: 140px;
}
#homeContainer .container #lastestCar ul li .divimg img.imgSmall  {
	position: absolute;
	z-index: 9;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
}
#homeContainer .container #lastestCar ul li .divText  {
	padding: 5px 10px 0 140px;	
	width: 100%;	
}
#homeContainer .container #lastestCar ul li p.borderTop {
	font-size: 11px;
	color: #757575;
	border-bottom: 1px solid #cccccc;
	padding: 5px 0;
	margin-left: 130px;
}
#homeContainer .container #lastestCar ul li p.borderTop span {
	float: right;
}
#homeContainer .container #lastestCar ul li p.price {
	font-size: 12px;
	color: #db0000;
	text-align: center;
	padding: 6px 0;
}
#homeContainer .container #lastestCar ul li p.price span.price { 
	position: relative;
	top: 5px;
}
#homeContainer .container #lastestCar ul li .divText table {
	border: 0;
	border-collapse: collapse;	
}
#homeContainer .container #lastestCar ul li .divText table tr td {
	border-bottom: 1px solid #cccccc;	
	height: auto;	
}
#homeContainer .container #lastestCar ul li .divText table tr td.tdLeft {
	min-width: 57px;
}
#homeContainer .container #lastestCar ul li .divText table tr td.tdLeft p {
	text-align: left;
}
#homeContainer .container #lastestCar ul li .divText table tr td.tdRight {
	width: 100%;
}
#homeContainer .container #lastestCar ul li .divText table tr td.tdRight p {
	text-transform: capitalize;
	text-align: right;		
}
#homeContainer .container #lastestCar ul li .divText table tr td.tdRight p a {
	color: #005a94;
}
#homeContainer .container #lastestCar ul li .divText table tr td p {
	font-size: 12px;
	color: #757575;	
	padding: 5px 0;
	/* margin-left: 130px; */
}


/* Pagination
----------------------------------------- */
#pagernation {	
	/* height: 45px;
	background: #f2f4f5;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #b6c8d5; */
	margin-top: 30px;
}
#pagernation .totalRecord {
	width: auto;
	margin-left: 20px;	
	float: left;
}
#pagernation .totalRecord span.spanText { 
	font-size: 12px;
	color: #757575;
}
#pagernation .totalRecord span.result { 
	font-size: 12px;
	color: #db0000;
	padding: 0 20px;
}
div.pagination {
	padding: 0;	
	width: 100%;
	text-align: center;
	font-family: Tahoma,Helvetica,sans-serif;
	margin: 0;
	float: none;
}
div.pagination a,
div.pagination span.current,
div.pagination span.disabled {
	padding: 1% 1.5%;
}
.warning-label {
	padding-top: 20px;
	text-align: center;
}

/* Loading
----------------------------------------- */
#loadingVehicle {	    
    width: 30px;
	position: relative;
	margin: 0 auto;
}
#loadingVehicle img {
	width: 30px;
	height: 30px;
    position: absolute;
    /* left: 392px; */
    z-index: 1000;
    top: 20px;
}

#result {
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    margin-top: -12px;
    overflow: hidden;
    position: absolute;   
    z-index: 9;
	
	width: 100%;
	overflow-y: auto;
}
#result .show {
    font-size: 13px;
    padding: 5px 10px;
}
#result .show:hover {
    background: #4c66a4 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
}	

/*
 *  Responsive Style
 * ------------------------------------------------------------------------------
 */
@media only screen and (max-width : 480px) {
	#homeContainer .container #lastestCar ul li .divText table tr td p {
		font-size: 90%;
	}
	#homeContainer .container #lastestCar ul li p.price {
		font-size: 90%;
	}
}