/*css for sideBar vb*/
.clearfix:after {
    ///content: ".";
    //display: block;
    //clear: both;
    //visibility: hidden;
    //line-height: 0;
    //height: 0;
}
#sectionContenWrapper{
	width:960px;
	margin-bottom:300px;
	height:300px;
	margin:auto;
	
}
#sectionWrapper #sectionContenWrapper #topMenu{
	width:960px;
	height:15px;	
}
#sectionWrapper #sectionContenWrapper #topMenu p a{
	color:#1f2678;	
}
#sectionWrapper #sectionContenWrapper #topMenu p{
	color:#1f2678;
	font-size:12px;	
}
#sectionWrapper #sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;	
	margin-top:25px;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul{
	list-style:none;	
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.top{
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li{
	background:url(../../images/common/bg/list_style.png) no-repeat 10px center;
	padding:13px 0px 0px 40px;	
	border-bottom:1px dotted #ccc;
	height:25px;
	width:190px;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li a{
	font-size:14px;
	color:#424242;
}
	

/*////sectionContent//////*/
#sectionContenWrapper #sectionContent{
	width:960px;
	height:auto;
	margin-top:25px;
    margin:auto;
   	
}
#sectionWrapper #sectionContenWrapper #sectionContent #myInfoTitle{
	width:960px;
	height:35px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #myInfoTitle p{
	font-size:16px;
	color:#282f7d;	
	background:url(../../images/common/bg/blue-brick.png) no-repeat left center;
	margin:9px 0 0 10px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #myInfoTitle p span{
	padding-left:25px;
	}
#sectionWrapper #sectionContenWrapper #sectionContent #info{
	width:960px;
	height:auto;	
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoImg{
	width:160px;
	height:auto;	
	float:left;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info form select{
	padding:3px;
	border:1px solid #CCC;
	height:30px;
	float:left;
	margin-right:5px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info form input[type="text"]{
	float:left;
	margin-top: 5px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoImg #myPhoto{
	width:158px;
	height:100px;
	border:1px solid #ccc;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoImg #sellerHomepage{
	width:160px;	
	margin-top:25px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoImg #sellerHomepage a{
	font-size:12px;
	text-decoration:underline;
	color:#0064b3;		
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoDetail{
	width:505px;
	height:auto;
	margin-left:40px;	
	float:right;
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoDetail #leftList{
	width:110px;
	float:left;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoDetail #rightList{
	width:395px;
	float:left;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoDetail ul{
	list-style:none;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #info #infoDetail ul li{
	font-size:12px;
	line-height:24px;
	color:#424242;
}
.inputText {
    border: 1px solid #CCCCCC;
    height: 28px;
    margin-top: 12px;
    width: 278px;
	margin-left:35px;
	text-indent:10px;
}
.inquiry-button {
    background: url(../../images/blue-button.png) no-repeat;
	color:white;
    border: medium none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 20px 10px;
    width: 133px;
    float: left;
    margin-left:35px;
	margin-top:10px;
}
.font_intro{
  height: 42px;
  font-family: Arial;
  font-size: 12px;
}
.sub-title{
	font-size:12px;
	color:#333;
	font-weight:600;
	margin:20px 0 0 35px;
	}
