/*css for sideBar vb*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionContenWrapper{
	width:1170px;
	height:auto;
	margin:0 auto 0 auto;
	
}

/*////sectionContent//////*/
#sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;	
	margin:50px auto 50px auto;
	padding:2%;
	padding-bottom:10%;
	background:#ffffff;
	border-top:3px solid #0071ba;
	overflow:auto
}

#sectionContenWrapper #sectionContent #info{
	width:49%;
	margin-right:2%;
	padding:2%;
	border:1px solid #0071ba;
	border-top:2px solid #0071ba;
	height:440px;
	float:left	
}
#sectionContenWrapper #sectionContent #info-right{
	width:49%;
	height:auto;
	float:left;}
#sectionContenWrapper #sectionContent #info-right #infoImg{
	width:100%;
	height:auto;	
}
#sectionContenWrapper #sectionContent #info #title{
	color:#0064b1;
	font-size:20px;
	line-height:20px;
	margin-bottom:15px}

sectionContenWrapper #sectionContent #info #infoDetail table{
	float: left;
	width: 350px;
}
#sectionContenWrapper #sectionContent #info #infoDetail table td{
	width: 60%;
	height: 40px;
	vertical-align: top;
	padding-bottom: 10px;
}
#sectionContenWrapper #sectionContent #info #infoDetail table td.left{
	width: 40%;
	height: 40px;
}
#sectionContenWrapper #sectionContent #info #infoDetail #edit_profile{
	margin-top:40px}
#sectionContenWrapper #sectionContent #info #infoDetail #edit_profile p{	
	font-size: 13px;
	text-align: left;
}
#sectionContenWrapper #sectionContent #info #infoDetail #edit_profile p a{
	padding:7px 44px 10px 30px;
	background:url(../../images/blue-button.png) no-repeat;
	color: #FFF;
} 
#sectionContenWrapper #partner{
	border-top:1px solid #CCC;
	overflow:hidden;
	margin-bottom:100px;
	}
#sectionContenWrapper #partner #title-part{
	margin-top:10px;
	margin-bottom:10px;
	color:#2183c2;
	font-size:18px}
#sectionContenWrapper #partner ul{
	margin:0;
	padding:0}
#sectionContenWrapper #partner ul li{
	background:#CCC;
	/*width:214px;*/
	height:145px;
	float:left;
	margin-right:20px;
}
#sectionContenWrapper #partner ul li img{
  width:214px;
}

