
#wrapper-register-login{
	width:1162px;
	margin-top:50px;
	margin-bottom:200px;
	margin-left:97px;
}
#register .page-title{
	width:100%;
	border-bottom:2px solid #0f649a;
	padding:5px 0;
	margin-bottom:30px;
	color:#0071ba;
	font-size:19px;
}
#login .page-title{
	width:100%;
	border-bottom:2px solid #ececec;
	padding:5px 0;
	margin-bottom:30px;
	color:#FFF;
	font-size:19px;
}
#register {
	float: left;
	width: 725px;
	height:470px;
	font-family: "Trebuchet MS";
	background:#f2f4f5;
	padding:20px;
	
	border-bottom:5px solid #bbc5ca;
}
#login{
	float: left;
	width: 437px;
	height:400px;
	font-family: "Trebuchet MS";
	background:#0071ba;
	padding:20px;
	
	border-bottom:5px solid #0f649a
	}
#register .vehicle-info-table, #login .vehicle-info-table {
	width: 100%;
	border-collapse: collapse;
}
#register .vehicle-info-table td {
	width: 50%;
}
#register .form-control, #login .form-control {
	padding-left: 35px;
	box-shadow: none;
	font-size:14px;
	
}
#register .form-group, #login .form-group {
	height: 52px;
	margin: 0;
	width:260px;
}
#register .help-block {
	margin: 0;
	font-size: 10px;
}
#register .security {
	width: 50%;
	float:right;
	position:relative;
	left:78px;
}
#buttom_right .inquiry-button{
	border:none;
	background: url(../../../../images/submit.png) no-repeat;
	width:132px;
	height:30px;
	color:white;
	cursor:pointer;
	margin-left:140px;
	}
#buttom_right .inquiry-login{
	border:none;
	background: url(../../images/log-in.png) no-repeat;
	width:132px;
	height:30px;
	position:relative;
	left:143px;
	
	}
#forget div a{
	color:#FFF;}
#forget div a:hover{
	background:none;
	text-decoration:underline}
#social ul{
	margin-top:70px}
#user_id {
	background: url('../../../../img/public_sign_up/id.png') no-repeat 10px center #fff;
}
#user_id:focus {
	background: url('../../../../img/public_sign_up/_id.png') no-repeat 10px center #fff;
}
#com_name {
	background: url('../../../../img/public_sign_up/company.png') no-repeat 10px center #fff;
}
#com_name:focus {
	background: url('../../../../img/public_sign_up/_company.png') no-repeat 10px center #fff;
}
#email {
	background: url('../../../../img/public_sign_up/mail.png') no-repeat 10px center #fff;
}
#email:focus {
	background: url('../../../../img/public_sign_up/_mail.png') no-repeat 10px center #fff;
}
#password, #passwords {
	background: url('../../../../img/public_sign_up/key.png') no-repeat 10px center #fff;
}
#password:focus, #passwords:focus {
	background: url('../../../../img/public_sign_up/_key.png') no-repeat 10px center #fff;
}
#mobile {
	background: url('../../../../img/public_sign_up/phone.png') no-repeat 10px center #fff;
	float: right;
}
#mobile:focus {
	background: url('../../../../img/public_sign_up/_phone.png') no-repeat 10px center #fff;
}

/* Edit 05/11/2014
--------------------------------------------------------- */
form table .form-group span.err {
	font-size: 12px;
	color: #CCCCCC;	
}

/* Edit 23/12/2014
--------------------------------------------------------- */
table tr td.tdRight {
	padding-left: 20px;
}

/* Login Edit 30/12/2014
--------------------------------------------------------- */
#bgLogin {
	width: 685px;
	height: 415px;
	background: url("../../img/public_login/bg_login.jpg") no-repeat;
	float: right;
}
#bgLogin p.title {
	font-size: 36px;
	color: #0f649a;
	padding-top: 60px;
	text-align: center;
}
#bgLogin p {
	font-size: 18px;
	color: #757575;
	padding-top: 10px;
	text-align: left;
	font-family:Times New Roman;	
}