/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:20px auto 0 auto;
}
/**#sectionWrapper #sectionContenWrapper #topMenu{
	width:960px;
	height:15px;	
}
**//**#sectionWrapper #sectionContenWrapper #topMenu p a{
	color:#1f2678;	
}
**//**#sectionWrapper #sectionContenWrapper #topMenu p{
	color:#1f2678;
	font-size:12px;
	font-weight:bold;	
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;	
	margin-top:25px;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul{
	list-style:none;	
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.top{
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li{
	background:url(../../images/common/bg/list_style.png) no-repeat 10px center;
	padding:13px 0px 0px 40px;	
	border-bottom:1px dotted #ccc;
	height:25px;
	width:190px;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li a{
	font-size:14px;
	color:#424242;
}
**/	

/*////sectionContent//////*/
#sectionWrapper #sectionContenWrapper #sectionContent{
	width:100%;
	height:450px;	
	margin-top:25px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #signinTitle{
	width:100%;
	height:39px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;	
	background:url(../../images/common/bg/blue-brick.png) no-repeat left center;
}
#sectionWrapper #sectionContenWrapper #sectionContent #signinTitle p{
	font-size:16px;
	color:#282f7d;	
	padding:7px 0px 0px 25px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft{
	width:425px;	
	height:auto;
	float:right;
	margin:60px 0 0 0;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft #leftBanner{
	width:425px;
	height:198px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft #welcomeAuto{
	width:425px;
	height:25px;	
	margin-top:25px;
	margin-left:50px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft #welcomeDetail{
	width:425px;
	margin-top:10px;
	margin-left:50px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft #welcomeDetail p{
	font-size:12px;
	color:#424242;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentLeft #welcomeAuto p{
	font-size:24px;
	color:#0064b3;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight{
	width:280px;	
	height:auto;
	float:left;
	margin-top:45px;
	padding-left:70px;
}

#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #siginRight{
	width:280px;	
}
/**#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #siginRight p{
	font-size:24px;
	color:#0064b3;	
}
**/#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm{
	width:280px;
	height:auto;
	margin-top:5px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table td{
	width:280px;	
	vertical-align:middle;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm .inputText{
	border:1px solid #ccc;
	height:28px;	
	width:278px;
	text-indent: 10px;
	border-radius: 5px;
	margin-top:10px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm .checkBox{
	float:left;
	margin-top:17px
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table td .keep{
	float:left;	
	padding:16px 0px 10px 5px;
}
.keepa{
	float:left;	
	padding:10px 0 0 45px;
	}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton{
	width:110px;
	height:30px;
	margin-left:1px;
	//padding-top:15px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton .btn{
	border: none;
	background:url(../../images/logout-icon/20140812-ssLog-in.png) no-repeat ;
	width: 110px; padding-top:15px;
	height: 30px;
	cursor: pointer;
}
/**#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton img{
	float:right;	
}
**/#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register{
	width:280px;
	height:auto;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p{
	font-size:12px;
	line-height:24px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p span{
	color:#424242;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p a.registerNow{
	color:#0064b3;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p a{
	text-decoration:underline;	
	color:#424242;	
	font-size:12px;
}
#contact-link{
	padding-top:45px;
	}
#contact-link #line{
	margin:5px 0 5px 0; padding-top:1px; background:#06F;
	}
#image{
	padding-right:7px;
	}