/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper{
	width:100%;
	height:auto;
	margin:20px auto 0 auto;
}
/**#sectionWrapper #sectionContenWrapper #topMenu{
	width:100%;
	height:15px;	
}
**//**#sectionWrapper #sectionContenWrapper #topMenu p a{
	color:#1f2678;	
}
**//**#sectionWrapper #sectionContenWrapper #topMenu p{
	color:#1f2678;
	font-size:12px;
	font-weight:bold;	
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;	
	margin-top:25px;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul{
	list-style:none;	
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.top{
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li{
	background:url(../../images/common/bg/list_style.png) no-repeat 10px center;
	padding:13px 0px 0px 40px;	
	border-bottom:1px dotted #ccc;
	height:25px;
	width:190px;
}
**//**#sectionWrapper #sectionContenWrapper #sectionSidebar ul li a{
	font-size:14px;
	color:#424242;
}
**/	

/*////sectionContent//////*/
#sectionWrapper #sectionContenWrapper #sectionContent{
	width:100%;
	height:auto;	
	margin-top:25px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #signinTitle{
	width:100%;
	height:39px;
	border-bottom:4px double #ccc;
	border-top:4px double #ccc;	
}

#sectionWrapper #sectionContenWrapper #sectionContent #signinTitle div{
	margin-left:5%;
	margin-top:6px;
	background:url(../../images/common/bg/blue-brick.png) no-repeat left center;
}
#sectionWrapper #sectionContenWrapper #sectionContent #signinTitle p{
	font-size:16px;
	color:#282f7d;	
	padding:3px 0px 0px 25px;
}
#sectionWrapper  #contentLeft{
	width:100%;	
	height:auto;
	float:left;
	position:absolute;
	top:22%;
	margin:30px auto 0 auto;	
}
#sectionWrapper  #contentLeft #leftBanner{
	width:90%;
	padding-left:5%;
	padding-right:5%;
	margin:  0 auto;
	height:auto;	
}

#sectionWrapper #contentLeft #leftBanner img{
	width: 95%;
	height: auto;
}
#sectionWrapper #contentLeft #welcomeAuto{
	width:100%;
	height:auto;	
	margin:25px auto 0 auto;
}

#sectionWrapper #contentLeft #welcomeAuto p{
	text-align:center;
}
#sectionWrapper #contentLeft #welcomeDetail{
	width:100%;
	margin:10px auto 0 auto;
}

#sectionWrapper #contentLeft #welcomeDetail p{
	text-align:center
}
#sectionWrapper #contentLeft #welcomeDetail p{
	font-size:12px;
	color:#424242;	
}
#sectionWrapper #contentLeft #welcomeAuto p{
	font-size:24px;
	color:#0064b3;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight{
	width:88%;	
	height:auto;
	padding-left:5%;
	padding-right:5%;	
	margin-top:90%;
	margin-left: 1%
}

#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #siginRight{
	width:280px;	
}
/**#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #siginRight p{
	font-size:24px;
	color:#0064b3;	
}
**/#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm{
	width:100%;
	height:auto;
	margin-top:5px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table td{
	width:88%;	
	vertical-align:middle;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table td .keep{
	float:left}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm .inputText{
	border:1px solid #ccc;
	height:28px;	
	width:100%;
	text-indent: 10px;
	border-radius: 5px;
	margin-top:15px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm .checkBox{
	float:left;
	margin-top:15px
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table{
	width: 100%;
	height: auto;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinForm table td span{
	padding:14px 0px 0px 5px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton{
	width:40%;
	height:5%;
	float:right;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton .btn{
	border: none;
	background:url(../../images/signin/sign_in.png) no-repeat;
	width:100%;
	height: 30px;
	cursor: pointer;
}
/**#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #signinButton img{
	float:right;	
}
**/#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register{
	width:280px;
	height:auto;
	margin-top:40px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p{
	font-size:12px;
	line-height:24px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p span{
	color:#424242;
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p a.registerNow{
	color:#0064b3;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #contentRight #register p a{
	text-decoration:underline;	
	color:#424242;	
	font-size:12px;
}