#fromCountry{
	width: 230px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 0px 20px 0px;
	margin-top: 30px;

}
#fromCountry p{
	background:url(../../../images/home_new/orange_bg.png) no-repeat center left;
	padding-left: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #0064b1;
}
#fromCountry ul{
	list-style:none;	
	margin-top: 10px;
}
#fromCountry ul li{
	width:185px;
	height:25px;
	border-bottom:1px dotted #ccc;	
	padding: 5px 0px 0px 15px;
	margin-left: 15px;
	background:url(../../images/home_new/blue_dot.png) center left no-repeat;
	font-size:14px;

}
#fromCountry ul li a{
	color:#424242;	
}

#fromCountry ul li a span{
	color:#c1272d;	
}
#weeklyCarTitle{
	width:230px;
	height:30px;
	margin-top:25px;
	background:url(../../images/home/weeklycarTitle.png) no-repeat;	
}

#weeklyCarTitle img{
	float:right;	
}
#weeklyCar{
	width:230px;	
	height:auto;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding:8px 0px 20px 0px;
	background-color:#fff;
}
#weeklyCar p.title{
	background:url(../../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
#weeklyCar .carDetail{
	width:211px;
	height:auto;	
	margin-top:25px;
	background-color: #fff;
	padding:0px 0px 30px 10px;
}
#weeklyCar .carDetail img{
	width: 210px;
	height: 155px;
}
#weeklyCar .carDetail p{
	margin-top:15px;	
	text-align:center;
	color:#000088;
	font-size:12px;	
	
}
#weeklyCar .carDetail p a{
	color: #0064b3;
}
#weeklyCar p a{
	color:#000088;
	font-size:12px;
}
#maiBox{
	width:230px;
	height:90px;
	margin-top:25px;

}
#maiBox img{
	float:right;	
}
#newsTitle{
	width:230px;
	height:170px;
	margin-top:25px;	
	background:url(../../images/home/newsTitle.png) no-repeat;
}
#newsTitle img{
	float:right;	
}
#newsTitleBox{
	padding-bottom: 20px;
	margin-top: 20px;
	width:230px;
	height:auto;
	border: 1px solid #ccc;
	border-radius: 5px;	
}
#newsTitleBox p.title{
	background:url(../../images/home_new/orange_bg.png) no-repeat center left;
	font-size:21px;
	color:#0064b1;	
	font-weight: bold;
	padding-left: 10px;

}
#newsTitleBox p{
	margin-top: 10px;
	font-size:11px;
	color:#424242;	
	padding-left: 20px;
}
#newsTitleBox p.top{
	font-size:11px;
	color:#424242;	
	margin-top:10px;
}
#newsTitleBox p span a{
	color:#0064b3;
	text-decoration:underline;
}