/*css for sideBar*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#sectionWrapper #sectionContenWrapper{
	width:960px;
	height:auto;
	margin:20px auto 0 auto;
}
#sectionWrapper #sectionContenWrapper #topMenu{
	width:960px;
	height:15px;	
}
#sectionWrapper #sectionContenWrapper #topMenu p a{
	color:#1f2678;	
}
#sectionWrapper #sectionContenWrapper #topMenu p{
	color:#1f2678;
	font-size:12px;
	font-weight:bold;	
}
#sectionWrapper #sectionContenWrapper #sectionSidebar{
	width:230px;
	height:auto;
	float:left;	
	margin-top:25px;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul{
	list-style:none;	
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li.top{
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li{
	background:url(../../images/common/bg/list_style.png) no-repeat 10px center;
	padding:13px 0px 0px 40px;	
	border-bottom:1px dotted #ccc;
	height:25px;
	width:190px;
}
#sectionWrapper #sectionContenWrapper #sectionSidebar ul li a{
	font-size:14px;
	color:#424242;
}
	

/*////sectionContent//////*/
#sectionWrapper #sectionContenWrapper #sectionContent{
	width:705px;
	height:auto;
	float:right;
	margin-top:25px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #thankTitle{
	width:705px;
	height:39px;
	border-bottom:2px double #ccc;
	border-top:2px double #ccc;	
	background:url(../../images/common/bg/blue-brick.png) no-repeat left center;
}
#sectionWrapper #sectionContenWrapper #sectionContent #thankTitle p{
	font-size:16px;
	color:#282f7d;	
	padding:9px 0px 0px 25px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #tickImg{
	width:705px;
	height:167px;
	margin-top:50px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #tickImg #imgMain{
	width:167px;
	height:167px;
	margin: 0 auto;
	
}
#sectionWrapper #sectionContenWrapper #sectionContent #congrate{
	width:705px;
	height:auto;	
	margin-top:25px;
	padding-bottom:80px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #congrate p{
	
	text-align:center;		
}
#sectionWrapper #sectionContenWrapper #sectionContent #congrate p span.congratulation{
	color:#4eb246;	
	font-size:24px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #congrate p span.nowMember{
	color:#424242;	
	font-size:18px;
}

#sectionWrapper #sectionContenWrapper #sectionContent #congrate p span a{
	text-decoration:underline;	
	color:#0064b3;
	font-size:18px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #congrate p.membership{
	font-size:14p;
	color:#424242;
	text-align:center;
	padding-top:10px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent .firstItem{
	width:125px;
	height:125px;
	float:left;
}
#sectionWrapper #sectionContenWrapper #sectionContent .itemImg{
	width:125px;
	height:100px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent .itemDetail{
	width:125px;
	height:25px;	
}
#sectionWrapper #sectionContenWrapper #sectionContent .otherItem{
	width:125px;
	height:125px;
	float:left;
	margin-left:20px;
}
#sectionWrapper #sectionContenWrapper #sectionContent #note{
	width:680px;
	height:auto;
	float:left;
	margin-top:20px;
	padding-left:25px;
	background:url(../../images/common/bg/red-brick.png) no-repeat left top;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #note p{
	font-size:12px;
	color:#424242;	
}
#sectionWrapper #sectionContenWrapper #sectionContent #note p a{
	text-decoration:underline;
	color:#c1272d;	
}